<div
    nz-row
    nzGutter="30"
    *ngIf="verification$ | async as verification; else noAccountData">
    <div
        class="investor-profile"
        nz-col
        nzXs="12"
        nzMd="10"
        nzLg="9"
        nzXl="8"
        *ngIf="verification.currentStep === 'Completed'; else noAccountData">
        <div class="info-block info-block-muted">
            Note: This information is for investor reference, and is view only. You may edit it during the purchase process of any offering
            <br />
            <br />
        </div>

        <ng-container *ngIf="verification.personalInformation as personalInformation">
            <div class="heading">
                <h3 class="heading__title">Personal Information</h3>
            </div>

            <div class="info-block">
                <h5>Legal name</h5>
                <div>{{ personalInformation.firstName }} {{ personalInformation.lastName }}</div>
            </div>

            <div class="info-block">
                <h5>Date of birth</h5>
                <div>{{ verification.personalInformation.dateOfBirth }}</div>
            </div>

            <div
                class="info-block"
                *ngIf="personalInformation.ssn">
                <h5>Social Security Number</h5>
                <div>{{ personalInformation.ssn }}</div>
            </div>

            <div
                class="info-block"
                *ngIf="!personalInformation.ssn">
                <h5>Uploaded Document</h5>
                <a
                    href="{{ personalInformation.ssnDocumentUrl }}"
                    target="_blank">
                    {{ personalInformation.ssnDocumentFileName }}
                </a>
            </div>

            <div class="info-block">
                <h5>Phone number</h5>
                <div *ngIf="personalInformation.phone">(+{{ personalInformation.phoneCountryCode }}) {{ personalInformation.phone }}</div>
            </div>

            <div class="info-block">
                <h5>Citizenship</h5>
                <div>{{ personalInformation.citizenship | capitalize }}</div>
            </div>

            <div class="info-block">
                <h5>Residential Address</h5>
                <div>{{ getFormattedAddressLine1(personalInformation) }}</div>
                <div>{{ getFormattedAddressLine2(personalInformation) }}</div>
            </div>
        </ng-container>

        <nz-divider></nz-divider>

        <ng-container *ngIf="verification.investorProfile as investorProfile">
            <div class="heading">
                <h3 class="heading__title">Investor Profile</h3>
            </div>

            <div class="info-block">
                <h5>Are you an accredited investor?</h5>
                <div>{{ investorProfile.isAccreditedInvestor ? 'Yes' : 'No' }}</div>
            </div>

            <div class="info-block">
                <h5>Are you or anyone in your household associated with a FINRA member, organization or the SEC?</h5>
                <div>{{ investorProfile.isAssociatedWithFINRA ? 'Yes' : 'No' }}</div>
            </div>

            <div class="info-block">
                <h5>What is your current annual household income (including your spouse)?</h5>
                <div>{{ investorProfile.currentAnnualHouseholdIncome | price }}</div>
            </div>

            <div class="info-block">
                <h5>What is your net worth (excluding primary residence)?</h5>
                <div>{{ investorProfile.netWorth | price }}</div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noAccountData>
    <nz-empty
        nzNotFoundContent="Investor Account"
        nzNotFoundFooter="You will see your investor account details here once you have made your first purchase"
        [nzNotFoundImage]="imageTpl">
        <ng-template #imageTpl>
            <svg-icon-sprite src="empty"></svg-icon-sprite>
        </ng-template>
    </nz-empty>
</ng-template>
