{{#> cmsLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Please reset your password by clicking the following link: <a href='{{ ../link }}'>{{ ../link }}</a></p>
    <p>If you didn't initiate this request, please contact us.</p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../cmsLogoUrl }}" alt="logo" width="200px">
    </p>
{{/cmsLayoutHtmlEn}}
