{{#> cmsLayoutTextEn }}
Hello {{../fullName}}

Please reset your password by clicking the following link: {{../link}}
If you didn't initiate this request, please contact us.

Thank You,
{{ clientName }}
{{/cmsLayoutTextEn}}
