<section class="payment-section">
    <ng-content select="[headerSection]"></ng-content>

    <ng-container *ngIf="dwollaDefaultCashOutAccount$ | async as cashOutAccount; else skeleton">
        <div
            nz-row
            class="payment-section__item">
            <div
                nz-col
                nzXs="12">
                <app-dwolla-bank-account-payout
                    [config]="config"
                    [initData]="initData"
                    [dwollaDefaultCashOutAccount]="cashOutAccount"
                    (refreshCashOutData)="onRefreshCashOutData()"></app-dwolla-bank-account-payout>
            </div>
        </div>
    </ng-container>
</section>

<ng-template #skeleton>
    <div
        nz-row
        class="payment-section__item">
        <div
            nz-col
            nzXs="12">
            <nz-skeleton></nz-skeleton>
        </div>
    </div>
</ng-template>
