<div class='messages' *ngIf='messages.length > 0'>
    <div class='message' *ngFor='let message of messages'>
        <nz-alert
            [nzType]="message.level"
            [nzMessage]="message$(message) | async"
            [nzDescription]="description$(message) | async"
            [nzShowIcon]='message.withIcon'
        ></nz-alert>
    </div>
</div>
