<div class="txt-img">
    <div class="container txt-img__container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="txt-col"
                [class.txt-col-right]="isTextOnRight">
                <div class="txt-col__container">
                    <div
                        class="txt-col__subtitle"
                        [innerHtml]="config?.subtitle"></div>

                    <div
                        class="txt-col__heading"
                        [innerHtml]="config?.heading"></div>

                    <div
                        class="txt-col__descr"
                        [innerHtml]="config?.descr"></div>
                </div>
            </div>
            <div
                nz-col
                nzXs="12"
                class="img-col"
                [style.background-image]="bgImage"></div>
        </div>
    </div>
</div>
