<ng-container *ngIf="{ paging: paging$ | async } as data">
    <div class="container container-overflow">
        <ng-container *ngIf="(items$ | async)?.length; else itemEmptyState">
            <h1 class="page-title">Listings</h1>

            <div
                nz-row
                [nzGutter]="{ xs: 20, sm: 20, md: 24, lg: 30 }">
                <app-item-card
                    class="card-col"
                    nz-col
                    nzXs="12"
                    nzMd="6"
                    nzLg="6"
                    nzXl="4"
                    [item]="item"
                    *ngFor="let item of items$ | async"></app-item-card>
            </div>

            <nz-pagination
                [nzHideOnSinglePage]="true"
                [nzPageIndex]="data.paging.index"
                [nzPageSize]="data.paging.size"
                [nzResponsive]="true"
                [nzTotal]="data.paging.total"
                (nzPageIndexChange)="onPageSelect($event)"></nz-pagination>
        </ng-container>

        <ng-template #itemEmptyState>
            <nz-empty
                nzNotFoundContent="No results found"
                nzNotFoundFooter="Try to use different filters"
                [nzNotFoundImage]="imageTpl">
                <ng-template #imageTpl>
                    <svg-icon-sprite src="empty"></svg-icon-sprite>
                </ng-template>
            </nz-empty>
        </ng-template>
    </div>
</ng-container>
