<ng-template #nzModal>
    <h1 nz-typography>{{ i18n('title') | translate }}</h1>
    <form nz-form [formGroup]='state.form'>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="oldPassword">{{ i18n('fields.oldPassword') | translate}}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]='state.form.get("oldPassword")' nzErrorTip='{{ state.form.get("oldPassword") | bazaNzError: state.customErrorOldPassword | async }}'>
                <input #oldPassword type='password' nz-input formControlName="oldPassword" id="oldPassword" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="newPassword">{{ i18n('fields.newPassword') | translate}}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]='state.form.get("newPassword")' nzErrorTip='{{ state.form.get("newPassword") | bazaNzError | async }}'>
                <input #newPassword type='password' nz-input formControlName="newPassword" id="newPassword" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="repeatPassword">{{ i18n('fields.repeatPassword') | translate }}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]='state.form.get("repeatPassword")' nzErrorTip='{{ state.form.get("repeatPassword") | bazaNzError: state.customErrorRepeatPassword | async }}'>
                <input #repeatPassword type='password' nz-input formControlName="repeatPassword" id="repeatPassword" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
