<html>
<head>
    <link rel='stylesheet' href='{{ webAssetsUrl }}/baza/fonts/baza-font-mail.css'/>
    <style>
        * {
            font-family: Baza, sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
    {{> @partial-block }}
</body>
</html>
