{{#> cmsLayoutHtmlEn }}
    <p>Hi {{../fullName}},</p>
    <p></p>
    <p>Someone requested to change your account email to {{ ../newEmail }}. Ignore it if it was your request.</p>

    <p>With best regards,</p>
    <p>{{ clientName }}</p>
{{/cmsLayoutHtmlEn}}
