{{#> cmsLayoutTextEn }}
Hi {{../fullName}},

Someone requested to change your account email to {{ ../newEmail }}. Ignore it if it was your request.

With best regards,
{{ clientName }}
{{/cmsLayoutTextEn}}
