<div
    class="auth-page auth-modal-styler"
    *ngIf="{ state: (state$ | async) } as data"
    data-cy="reset-password">
    <h2 class="ant-modal__title">Reset Password</h2>

    <p class="ant-modal__descr">
        {{ data.state !== states.Success ? 'Please enter a new password' : ' Your password has been successfully changed' }}
    </p>

    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="resetPasswordForm"
        #resetPasswordFormEl>
        <div *ngIf="data.state !== states.Success">
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="password">New Password</nz-form-label>

                <nz-form-control
                    [nzErrorTip]="newPasswordErrorTemplate"
                    [nzSuccessTip]="newPasswordErrorTemplate">
                    <input
                        autocomplete="new-password"
                        appPasswordInput
                        formControlName="password"
                        id="password"
                        nz-input
                        type="password" />
                </nz-form-control>

                <ng-template
                    #newPasswordErrorTemplate
                    let-control>
                    <ng-container *ngIf="control.hasError('required'); else matchPasswordErrorTemplate">
                        New Password is required
                    </ng-container>
                    <ng-template #matchPasswordErrorTemplate>
                        <app-password-validator [errors]="control.errors"></app-password-validator>
                    </ng-template>
                </ng-template>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="confirmPassword">Confirm New Password</nz-form-label>

                <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
                    <input
                        appPasswordInput
                        formControlName="confirmPassword"
                        id="confirmPassword"
                        nz-input
                        type="password" />
                </nz-form-control>

                <ng-template
                    #confirmPasswordErrorTemplate
                    let-control>
                    <ng-container *ngIf="control.hasError('required')">Confirmation for New Password is required</ng-container>
                    <ng-container *ngIf="control.hasError('mismatch')">Passwords don't match</ng-container>
                </ng-template>
            </nz-form-item>

            <nz-form-item class="ant-form-item-ending">
                <nz-form-control>
                    <button
                        nz-button
                        nzBlock
                        nzSize="large"
                        nzType="primary"
                        [disabled]="bazaFormValidatorService.isFormFilledAndValid(resetPasswordForm)"
                        (click)="onFormSubmit(resetPasswordFormEl)">
                        Reset Password
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>

        <nz-form-item
            class="ant-form-item-ending"
            *ngIf="data.state === states.Success">
            <button
                nz-button
                nzBlock
                nzSize="large"
                nzType="primary"
                (click)="onSignin()">
                Sign In
            </button>
        </nz-form-item>
    </form>
</div>
