<div class="header-mini">
    <div class="container">
        <app-back-link
            [leaveConfirmationTitle]="wts.getI18nLabel(i18nBasePath, 'backLink.confirmation.title')"
            [leaveConfirmationText]="wts.getI18nLabel(i18nBasePath, 'backLink.confirmation.text')"
            [showLeaveConfirmation]="true"
            [linkConfig]="config?.backLink"
            [text]="wts.getI18nLabel(i18nBasePath, 'backLink.linkText')"
            *ngIf="cart$ | async as item"></app-back-link>
    </div>
</div>

<div class="container verification">
    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="verification__steps">
            <nz-steps
                nzSize="small"
                [nzCurrent]="currentTab">
                <nz-step [nzTitle]="wts.getI18nLabel(i18nBasePath, 'steps.info')"></nz-step>
                <nz-step [nzTitle]="wts.getI18nLabel(i18nBasePath, 'steps.profile')"></nz-step>
            </nz-steps>
        </div>
    </div>

    <ng-container *ngIf="currentTab === 0">
        <ng-content select="[target=info]"></ng-content>
    </ng-container>

    <ng-container *ngIf="currentTab === 1">
        <ng-content select="[target=investor]"></ng-content>
    </ng-container>
</div>
