<div class="steps-content">
    <div
        nz-row
        nzGutter="30"
        class="purchase-agrmt">
        <div
            nz-col
            nzXs="12"
            class="purchase-agrmt__section">
            <div class="purchase-agrmt__title">
                {{ wts.getI18nLabel(i18nBasePath, 'title') }}
            </div>

            <div *ngIf="purchaseStart$ | async as purchaseStart; else noSession">
                <ng-container *ngIf="!purchaseStart?.areDocumentsSigned">
                    <div class="purchase-agrmt__descr">
                        {{ wts.getI18nLabel(i18nBasePath, 'messages.disclaimer') }}

                        <div class="purchase-agrmt__descr-divider"></div>

                        {{ wts.getI18nLabel(i18nBasePath, 'messages.pdfConsent') }}
                    </div>

                    <button
                        class="purchase-agrmt__btn"
                        nz-button
                        nzType="primary"
                        (click)="openAgreementModal()">
                        <span>{{ wts.getI18nLabel(i18nBasePath, 'actions.sign') }}</span>
                    </button>
                </ng-container>

                <ng-container *ngIf="purchaseStart?.areDocumentsSigned">
                    <p class="purchase-agrmt__descr">
                        {{ wts.getI18nLabel(i18nBasePath, 'messages.success') }}
                    </p>
                </ng-container>
            </div>
            <ng-template #noSession>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </ng-template>
        </div>

        <div
            nz-col
            nzXs="12"
            class="purchase-agrmt__summary">
            <app-summary
                [entity$]="cart$"
                [numberOfShares$]="numberOfShares$"
                [purchaseStart$]="purchaseStart$"></app-summary>
        </div>
    </div>
</div>

<div
    nz-row
    nzGutter="30">
    <div
        nz-col
        nzXs="12"
        class="purchase__steps-action">
        <div class="steps-action">
            <button
                class="btn-angle-right"
                nz-button
                nzSize="large"
                nzType="primary"
                type="submit"
                [disabled]="!purchaseStart?.areDocumentsSigned"
                (click)="onFormSubmit()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.next') }}
            </button>

            <a
                class="btn-angle-left"
                nz-button
                nzSize="large"
                nzType="default"
                (click)="onBackClick()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.back') }}
            </a>
        </div>
    </div>
</div>
