<nz-breadcrumb>
    <nz-breadcrumb-item *ngFor='let node of config.nodes'>
        <ng-container *ngIf='node.routerLink'>
            <a [routerLink]='node.routerLink.routerLink' [queryParams]='node.routerLink.queryParams'>
                <i nz-icon [nzType]="node.icon" *ngIf='node.icon'></i>
                <span *ngIf='node.title'>{{ title$(node) | async }}</span>
            </a>
        </ng-container>
        <ng-container *ngIf='! node.routerLink'>
            <i nz-icon [nzType]="node.icon" *ngIf='node.icon'></i>
            <span *ngIf='node.title'>{{ title$(node) | async }}</span>
        </ng-container>
    </nz-breadcrumb-item>
</nz-breadcrumb>
