nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left {
        display: flex;
        align-items: center;
        flex: 1;
        margin-right: 16px;

        .nav-left-toggle-sidebar {
            margin-right: 10px;
        }
    }

    .nav-right {
        display: flex;
        align-items: center;

        .nav-right-item {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

i.trigger, i.action-icon {
    color: var(--baza-cms-layout-header-icon-color);
    cursor: pointer;

    &:hover {
        color: var(--baza-cms-layout-header-icon-color-hover);
    }
}

::ng-deep {
    baza-layout-lang a {
        color: var(--baza-cms-layout-header-icon-color);

        &:hover {
            color: var(--baza-cms-layout-header-icon-color-hover);
        }
    }
}
