<nav class="nav --disable-user-select">
    <div class="nav-left">
        <div class="nav-left-toggle-sidebar">
            <i
                class="trigger"
                nz-icon
                [nzType]="isSidebarCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="toggleSideBar()"></i>
        </div>
        <div
            class="nav-left-version"
            *ngIf="!resolvedData.status.isProductionEnvironment">
            <nz-tag [nzColor]="versionNzColor">
                <strong>
                    <span>{{ (resolvedData.status.bazaEnvironment || 'local').toUpperCase() }}</span>
                </strong>
            </nz-tag>
            <nz-tag>
                <span>{{ version }}</span>
            </nz-tag>
        </div>
    </div>
    <div class="nav-right">
        <div
            class="nav-right-item nav-right-language"
            *ngIf="withI18nSupport">
            <baza-layout-lang [useCurrentLangAsTitle]="true"></baza-layout-lang>
        </div>
        <div class="nav-right-item nav-right-profile">
            <nz-button-group>
                <button
                    nz-button
                    nz-dropdown
                    nzTrigger="click"
                    [nzDropdownMenu]="profileMenu"
                    nzPlacement="bottomRight"
                    nzType="link">
                    <i
                        class="action-icon"
                        nz-icon
                        nzType="user"></i>
                </button>
            </nz-button-group>
            <nz-dropdown-menu #profileMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li
                        nz-menu-item
                        translate
                        (click)="twoFactorAuthSettings()">
                        {{ i18n('twoFactorAuthSettings') }}
                    </li>
                    <li
                        nz-menu-item
                        translate
                        (click)="changePassword()"
                        *ngIf="!isManagedUserAccount">
                        {{ i18n('changePassword') }}
                    </li>
                    <li
                        nz-menu-item
                        translate
                        (click)="signOut()">
                        {{ i18n('signOut') }}
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
</nav>
