<ng-container *ngIf="(statements$ | async)?.length; else statementEmptyState">
    <div class="statement">
        <div
            class="statement__item"
            *ngFor="let statement of statements$ | async">
            <h3 class="statement__title">{{ statement.name }}</h3>

            <ng-container *ngFor="let doc of statement.statements">
                <div class="statement__doc">
                    <a
                        target="_blank"
                        [href]="doc.documentUrl">
                        {{ doc.name }}
                    </a>

                    <div class="statement__text">{{ doc.description }}</div>
                </div>
            </ng-container>

            <p
                class="statement__text"
                *ngIf="!statement?.statements || statement?.statements?.length === 0">
                No Statements published for this Listing yet
            </p>
        </div>
    </div>
</ng-container>

<ng-template #statementEmptyState>
    <ng-container>
        <nz-empty
            nzNotFoundContent="No Statements"
            nzNotFoundFooter="Buy shares and see your financial statements about your assets and cash dividends here."
            [nzNotFoundImage]="imageTpl">
            <ng-template #imageTpl>
                <svg-icon-sprite src="empty"></svg-icon-sprite>
            </ng-template>
        </nz-empty>
    </ng-container>
</ng-template>
