@import 'variables/variables';
@import 'mixins/mixins';

// statement
.statement {
    padding-bottom: 30px;
}

// statement item
.statement__item {
    padding-top: 20px;
}

// statement title
.statement__title {
    margin-bottom: 24px;
}

// statement doc
.statement__doc {
    margin-bottom: 24px;
}

// statement text
.statement__text {
    color: @normal-color;
    margin-top: 9px;
}
