<div class="header-mini">
    <div class="container">
        <app-back-link
            [leaveConfirmationTitle]="wts.getI18nLabel(i18nBasePath, 'backlink.confirmation.title')"
            [leaveConfirmationText]="wts.getI18nLabel(i18nBasePath, 'backlink.confirmation.text')"
            [linkConfig]="config?.linksConfig?.backLink"
            [showLeaveConfirmation]="true"
            [text]="wts.getI18nLabel(i18nBasePath, 'backlink.text')"
            (backEvent)="cancelPurchase()"
            *ngIf="item"></app-back-link>
    </div>
</div>

<div class="container purchase">
    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="purchase__steps">
            <nz-steps
                nzSize="small"
                [nzCurrent]="currentTab">
                <nz-step [nzTitle]="wts.getI18nLabel(i18nBasePath, 'steps.detailsLabel')"></nz-step>
                <nz-step [nzTitle]="wts.getI18nLabel(i18nBasePath, 'steps.agreementLabel')"></nz-step>
                <nz-step [nzTitle]="wts.getI18nLabel(i18nBasePath, 'steps.paymentLabel')"></nz-step>
            </nz-steps>
        </div>
    </div>

    <ng-container *ngIf="currentTab === 0">
        <ng-content select="[target=purchase-details-dwolla]"></ng-content>
    </ng-container>

    <ng-container *ngIf="currentTab === 1">
        <ng-content select="[target=purchase-agreement-dwolla]"></ng-content>
    </ng-container>

    <ng-container *ngIf="currentTab === 2">
        <ng-content select="[target=purchase-payment-dwolla]"></ng-content>
    </ng-container>
</div>
