<ng-container
    *ngIf="{
        item: item$ | async,
        user: user$ | async
    } as data">
    <div
        class="container"
        *ngIf="item$ | async">
        <app-back-link
            [linkConfig]="backLinkConfig"
            [text]="'Back to Listings'"></app-back-link>

        <div class="card-info item__heading">
            <h1 class="item__title">{{ data.item.title }}</h1>

            <app-favorite-btn
                [item]="data.item"
                btnType="large"></app-favorite-btn>
        </div>

        <div
            nz-row
            [nzGutter]="{ lg: 30, xl: 60 }">
            <div
                class="item__col"
                nz-col
                nzXs="12"
                nzLg="8">
                <div class="card-cover card-cover-carousel">
                    <app-image-carousel [imageSources]="getImageSources(data.item.images)"></app-image-carousel>
                </div>

                <div class="item__description">
                    <strong class="item__block-header">About</strong>

                    <span [innerHTML]="data.item.description | sanitizeHtml"></span>
                </div>

                <div
                    nz-row
                    class="item-financial">
                    <div
                        nz-col
                        nzXs="12">
                        <strong class="item-financial__header">Financials</strong>
                    </div>

                    <div
                        nz-col
                        [nzXs]="{ span: 12, order: 1 }"
                        [nzMd]="{ span: 6, order: 1 }">
                        <div class="item-financial__row">
                            <span class="item-financial__name">Offering Amount</span>

                            <span class="item-financial__amount">
                                {{ data.item.totalSharesValueCents / 100 | price }}
                            </span>
                        </div>

                        <nz-divider class="item-financial__divider"></nz-divider>
                    </div>

                    <div
                        nz-col
                        [nzXs]="{ span: 12, order: 3 }"
                        [nzMd]="{ span: 6, order: 2 }">
                        <div class="item-financial__row item-financial__row-progress">
                            <div class="item-financial__name">
                                {{ data.item.percentFunded + '% Funded' }}
                            </div>

                            <nz-progress
                                class="item-financial__funded-progress"
                                nzStrokeLinecap="square"
                                [nzFormat]="formatNoText"
                                [nzPercent]="data.item.percentFunded"
                                [nzStrokeWidth]="5"
                                [nzWidth]="5"></nz-progress>
                        </div>
                    </div>
                    <div
                        nz-col
                        [nzXs]="{ span: 12, order: 2 }"
                        [nzMd]="{ span: 6, order: 3 }">
                        <div class="item-financial__row">
                            <span class="item-financial__name">Remaining Shares</span>

                            <span class="item-financial__amount">
                                {{ data.item.numSharesAvailable | number }}
                            </span>
                        </div>

                        <nz-divider class="item-financial__divider"></nz-divider>
                    </div>
                </div>

                <div
                    *ngIf="details.length"
                    class="item__description">
                    <strong class="item__block-header">Details</strong>

                    <div class="item__blocks">
                        <div
                            class="item__block-content"
                            *ngFor="let detail of details">
                            <span class="item__block-content-muted">{{ detail.title }}</span>
                            <span>{{ detail.value }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div
                nz-col
                nzXs="12"
                nzLg="4">
                <app-item-page-stats
                    [item]="data.item"
                    [user]="data.user"></app-item-page-stats>
            </div>
        </div>
    </div>
</ng-container>
