<ng-container *ngIf="isAvailable">
    <ng-container *ngIf="hasFieldsInSchema">
        <baza-form-builder
            [config]="formConfig"
            [formGroup]="formGroupFields"></baza-form-builder>
    </ng-container>
    <ng-container *ngIf="!hasFieldsInSchema">
        <nz-alert
            nzType="warning"
            nzMessage="{{ i18n('noFields.title') | translate }}"
            nzDescription="{{ i18n('noFields.message') | translate }}"
            nzShowIcon></nz-alert>
    </ng-container>
</ng-container>

<ng-container *ngIf="!isAvailable">
    <nz-alert
        nzType="info"
        nzMessage="{{ i18n('noSchema.title') | translate }}"
        nzDescription="{{ i18n('noSchema.message') | translate }}"
        nzShowIcon></nz-alert>
</ng-container>
