@phone-only: ~'(max-width: @{screen-sm-max})';
@tablet-only: ~'(min-width: @{screen-md}) and (max-width: @{screen-md-max})';
@desktop-only: ~'(min-width: @{screen-lg})';
@phone-and-tablet: ~'(min-width: @{screen-sm}) and (max-width: @{screen-md-max})';
@tablet-and-desktop: ~'(min-width: @{screen-md})';

.hide-on-mobile {
    @media @phone-only {
        display: none !important;
    }
}

.hide-on-tablet {
    @media @tablet-only {
        display: none !important;
    }
}

.hide-on-tablet-and-desktop {
    @media @tablet-and-desktop {
        display: none !important;
    }
}
