<ng-template #nzModal>
    <p>{{ i18n('bodyContent') | translate }}</p>

    <div class="actions">
        <button
            nz-button
            (click)="close()">
            {{ i18n('actions.cancel') | translate }}
        </button>

        <button
            nz-button
            nzType="primary"
            (click)="retry()">
            {{ i18n('actions.retry') | translate }}
        </button>
    </div>
</ng-template>
