<button
    class="payment-list-btn payment-list-btn-inverse"
    nz-button
    nzBlock
    *ngIf="!isForeignInvestor"
    [disabled]="isAccBalanceDisabled"
    (click)="onAccountBalanceSelect()">
    <div class="payment-list-btn__title">
        <div class="payment-list-btn__subheading">
            {{ wts.getI18nLabel(i18nBasePath, 'balance.title') }}
        </div>

        <ng-container [ngSwitch]="isDwollaAvailable">
            <ng-container *ngSwitchCase="true">
                <div
                    class="payment-subtitle"
                    [class.payment-subtitle-faded]="isAccBalanceDisabled">
                    <span class="payment-subtitle__prefix">
                        {{ wts.getI18nLabel(i18nBasePath, 'balance.prefix') }}
                    </span>

                    {{ dwollaCustomerDetailResponse?.balance?.value | priceCents }}
                </div>

                <div
                    *ngIf="isAccBalanceDisabled"
                    class="payment-subtitle payment-subtitle-faded">
                    {{ wts.getI18nLabel(i18nBasePath, 'balance.errors.insufficientFunds') }}
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div class="payment-subtitle payment-subtitle-faded">
                    {{ wts.getI18nLabel(i18nBasePath, 'balance.hint') }}
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="payment-arrow">
        <app-payment-radio
            *ngIf="showAccBalanceRadioBtn"
            [isSelected]="dss.isAccBalanceSelectedAsPaymentMethod(selectedPaymentMethod)"></app-payment-radio>

        <i
            *ngIf="!isDwollaAvailable"
            class="icon icon-angle-right icon-wt payment-list-btn__header-icon"></i>
    </div>
</button>

<button
    class="payment-list-btn payment-list-btn-inverse"
    nz-button
    nzBlock
    (click)="onBankAccountSelect()"
    [class.payment-list-btn-inactive]="isNCBankAccountAvailable && !showACHRadioBtn">
    <div class="payment-list-btn__title">
        <div [class.payment-list-btn__subheading]="isNCBankAccountAvailable">
            {{ wts.getI18nLabel(i18nBasePath, 'bank.title') }}
        </div>

        <ng-container *ngIf="isNCBankAccountAvailable">
            <div class="payment-subtitle">
                {{ bankAccountResponse?.details?.accountNumber | lastDigits: 8 }}, {{ bankAccountResponse?.details?.accountType }}
            </div>

            <div class="payment-subtitle">
                <a
                    (click)="onBankAccountUpdate()"
                    class="payment-subtitle__link">
                    {{ wts.getI18nLabel(i18nBasePath, 'bank.actions.update') }}
                </a>
            </div>
        </ng-container>
    </div>

    <div class="payment-arrow">
        <app-payment-radio
            *ngIf="showACHRadioBtn"
            [isSelected]="dss.isNCBankAccSelectedAsPaymentMethod(selectedPaymentMethod)"></app-payment-radio>

        <i
            *ngIf="!isNCBankAccountAvailable"
            class="icon icon-angle-right icon-wt payment-list-btn__header-icon"></i>
    </div>
</button>

<button
    class="payment-list-btn payment-list-btn-inverse"
    nz-button
    nzBlock
    [disabled]="isPurchaseAboveLimit"
    [class.payment-list-btn-fluid]="isPurchaseAboveLimit"
    [class.payment-list-btn-inactive]="isCardAvailable && !showCCRadioBtn"
    *ngIf="limits$ | async as limits"
    (click)="onCreditCardSelect()">
    <div class="payment-list-btn__title">
        <div [class.payment-list-btn__subheading]="isCardAvailable">
            {{ wts.getI18nLabel(i18nBasePath, 'card.title') }}
        </div>

        <ng-container *ngIf="isCardAvailable">
            <div [ngClass]="isPurchaseAboveLimit ? 'payment-list-btn__fee' : 'payment-subtitle'">
                {{ creditCardResponse?.creditCard?.creditCardNumber | lastDigits: 8 }}
                &nbsp; &nbsp;

                <span class="payment-list-btn__fee">
                    +{{ limits.creditCardPaymentsFee | numberTwoDigits }}% {{ wts.getI18nLabel(i18nBasePath, 'card.feeSuffix') }}
                </span>
            </div>
            <div class="payment-subtitle">
                <a
                    *ngIf="!isPurchaseAboveLimit"
                    (click)="onCreditCardUpdate()"
                    class="payment-subtitle__link">
                    {{ wts.getI18nLabel(i18nBasePath, 'card.actions.update') }}
                </a>
            </div>
        </ng-container>
    </div>

    <div
        class="payment-arrow"
        [class.payment-arrow-centered]="isPurchaseAboveLimit">
        <app-payment-radio
            *ngIf="showCCRadioBtn"
            [isSelected]="dss.isCCSelectedAsPaymentMethod(selectedPaymentMethod)"></app-payment-radio>

        <ng-container *ngIf="!isCardAvailable">
            <span class="payment-arrow__hint">
                +{{ limits.creditCardPaymentsFee | numberTwoDigits }}% {{ wts.getI18nLabel(i18nBasePath, 'card.feeSuffix') }}
            </span>

            <i class="icon icon-angle-right icon-wt payment-list-btn__header-icon"></i>
        </ng-container>
    </div>

    <div
        class="payment-list-btn__description"
        *ngIf="isPurchaseAboveLimit"
        [ngClass]="{ 'payment-list-btn__warning': isPurchaseAboveLimit && isCardAvailable }">
        {{
            wts.getI18nLabel(i18nBasePath, 'card.limitsWarning', {
                maxAmount: limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3
            })
        }}
    </div>
</button>
