<form
    nz-form
    [formGroup]="state.form"
    nzLayout="vertical">
    <div class="tab tab-common">
        <nz-divider
            nzPlain
            nzText="{{ i18n('tabs.common') | translate }}"></nz-divider>
        <nz-form-item>
            <nz-form-label nzFor="title">{{ i18n('fields.title') | translate }}</nz-form-label>
            <nz-form-control [nzValidateStatus]="state.form.get('title')">
                <input
                    nz-input
                    type="text"
                    [attr.autofocus]="true"
                    formControlName="title"
                    placeholder="{{ i18n('placeholders.title') | translate }}" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="urn">{{ i18n('fields.urn') | translate }}</nz-form-label>
            <nz-form-control [nzValidateStatus]="state.form.get('urn')">
                <input
                    nz-input
                    type="text"
                    [attr.autofocus]="true"
                    formControlName="urn"
                    placeholder="{{ i18n('placeholders.urn') | translate }}" />
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="tab tab-meta">
        <nz-divider
            nzPlain
            nzText="{{ i18n('tabs.meta') | translate }}"></nz-divider>
        <div
            class="meta"
            *ngFor="let form of metaForms.controls; let i = index"
            [formGroup]="castCurrentForm(form)">
            <nz-space class="meta-entry">
                <div
                    class="meta-entry-name"
                    *nzSpaceItem>
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        [nzAutocomplete]="auto"
                        formControlName="name"
                        placeholder="{{ i18n('fields.meta.name') | translate }}" />
                    <nz-autocomplete
                        [nzDataSource]="state.knownMetatags"
                        nzBackfill
                        #auto></nz-autocomplete>
                </div>
                <div
                    class="meta-entry-contents"
                    *nzSpaceItem>
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        formControlName="contents"
                        placeholder="{{ i18n('fields.meta.contents') | translate }}" />
                </div>
                <div
                    class="meta-entry-delete"
                    *nzSpaceItem>
                    <button
                        nz-button
                        nzDanger
                        (click)="deleteMeta(i)">
                        <i
                            nz-icon
                            nzType="delete"></i>
                    </button>
                </div>
            </nz-space>
        </div>
        <div class="meta-controls">
            <button
                nz-button
                nzType="link"
                (click)="addMeta()"
                [disabled]="!canAddMeta">
                {{ i18n('addMeta') | translate }}
            </button>
        </div>
    </div>
    <div class="tab tab-card">
        <nz-divider
            nzPlain
            nzText="{{ i18n('tabs.card') | translate }}"></nz-divider>
        <ng-container [formGroup]="cardForm">
            <nz-form-item>
                <nz-form-label nzFor="title">{{ i18n('fields.card.title') | translate }}</nz-form-label>
                <nz-form-control [nzValidateStatus]="cardForm.get('title')">
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        formControlName="title"
                        placeholder="{{ i18n('placeholders.card.title') | translate }}" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="description">{{ i18n('fields.card.description') | translate }}</nz-form-label>
                <nz-form-control [nzValidateStatus]="cardForm.get('description')">
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        formControlName="description"
                        placeholder="{{ i18n('placeholders.card.description') | translate }}" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="url">{{ i18n('fields.card.url') | translate }}</nz-form-label>
                <nz-form-control [nzValidateStatus]="cardForm.get('url')">
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        formControlName="url"
                        placeholder="{{ i18n('placeholders.card.url') | translate }}" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="url">{{ i18n('fields.card.coverImageUrl') | translate }}</nz-form-label>
                <nz-form-control [nzValidateStatus]="cardForm.get('coverImageUrl')">
                    <baza-field-upload
                        formControlName="coverImageUrl"
                        [withOptions]="state.uploadOptions"></baza-field-upload>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
    </div>
</form>
