<div
    class="baza-form-builder"
    [attr.data-baza-form-id]="config.id">
    <ng-container *ngIf="config.layout === 'FormOnly'">
        <baza-form-builder-contents
            [childVcr]="childVcr"
            [contents]="config.contents"
            [formGroup]="formGroup"></baza-form-builder-contents>
    </ng-container>

    <ng-container *ngIf="config.layout === 'WithTabs'">
        <nz-tabset [nzTabPosition]="config.contents.nzTabPosition || 'top'">
            <ng-container *ngFor="let tab of tabs; trackBy: trackByTabId">
                <ng-container *ngIf="tabVisible$(tab) | async">
                    <nz-tab
                        nzTitle="{{ tab.withoutTranslate ? tab.title : (tab.title | translate) }}"
                        [nzDisabled]="tabDisabled$(tab) | async">
                        <baza-form-builder-contents
                            [childVcr]="childVcr"
                            [contents]="tab.contents"
                            [formGroup]="formGroup"></baza-form-builder-contents>
                    </nz-tab>
                </ng-container>
            </ng-container>
        </nz-tabset>
    </ng-container>

    <ng-container *ngIf="config.layout === 'WithAsyncTabs'">
        <nz-tabset [nzTabPosition]="'top'">
            <ng-container *ngFor="let tab of asyncTabs$ | async; trackBy: trackByTabId">
                <ng-container *ngIf="tabVisible$(tab) | async">
                    <nz-tab
                        nzTitle="{{ tab.withoutTranslate ? tab.title : (tab.title | translate) }}"
                        [nzDisabled]="tabDisabled$(tab) | async">
                        <baza-form-builder-contents
                            [childVcr]="childVcr"
                            [contents]="tab.contents"
                            [formGroup]="formGroup"></baza-form-builder-contents>
                    </nz-tab>
                </ng-container>
            </ng-container>
        </nz-tabset>
    </ng-container>
</div>
