<nz-drawer
    [nzBodyStyle]="nzDrawerBodyStyle"
    [nzMaskClosable]="false"
    [nzVisible]="true"
    [nzWidth]="config.width"
    [nzFooter]="!config.withoutSubmit ? footerTpl : ''"
    (nzOnClose)="close()"
    nzTitle="{{ config.withoutTranslate ? config.withoutTranslate : (config.title | translate) }}">
    <ng-container *nzDrawerContent>
        <baza-form-builder
            [childVcr]="childVcr"
            [config]="config.formBuilder"
            [formGroup]="config.formGroup"
            [sliderConfig]="config"></baza-form-builder>
    </ng-container>
    <ng-template #footerTpl>
        <nz-space nzAlign="baseline">
            <baza-form-layout-actions
                [actions]="actions"
                [submitDisabled$]="this.isFormInvalid$"
                [isLoading]="isLoading$ | async"
                (submit)="onActionSubmit()"
                (click)="onActionClick($event)"></baza-form-layout-actions>
        </nz-space>
    </ng-template>
</nz-drawer>
