{{! Variables: }}
{{! ../message - success or failed message about payment; stored in baza-nc.mail.clientNotifications.dwolla.report.success or baza-nc.mail.clientNotifications.dwolla.report.failed resource }}
{{! ../transaction - BazaNcDividendTransactionDto  }}
{{! ../entries - array of BazaNcDividendTransactionEntryDto  }}

{{#>cmsLayoutHtmlEn}}
    <p>{{ ../message }}</p>

    <table style='border-collapse: collapse; border: 1px solid #ccc; width: 100%;'>
        <thead>
        <tr>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Investor’s Name</th>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Investor’s ID</th>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Amount ($ USD)</th>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Listing Name</th>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Payment Status</th>
            <th style='border: 1px solid #cccccc; background-color: #f0f0f0;'>Reason (If Failed)</th>
        </tr>
        </thead>
        <tbody>
        {{#each ../entries}}
            <tr>
                <th style='border: 1px solid #cccccc; font-weight: normal; text-align: left;'>{{ this.investorAccount.userFullName }}</th>
                <th style='border: 1px solid #cccccc; font-weight: normal;'>{{ this.investorAccount.northCapitalAccountId }}</th>
                <th style='border: 1px solid #cccccc; font-weight: normal;'>${{ this.amount }}</th>
                <th style='border: 1px solid #cccccc; font-weight: normal;'>{{ this.offeringTitle }}</th>
                <th style='border: 1px solid #cccccc; font-weight: normal;'>{{ this.status }}</th>
                <th style='border: 1px solid #cccccc; font-weight: normal;'>{{ this.failureReason }}</th>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/cmsLayoutHtmlEn}}
