{{! Variables: }}
{{! ../message - success or failed message about payment; stored in baza-nc.mail.clientNotifications.dwolla.report.success or baza-nc.mail.clientNotifications.dwolla.report.failed resource }}
{{! ../transaction - BazaNcDividendTransactionDto  }}
{{! ../entries - array of BazaNcDividendTransactionEntryDto  }}

{{#>cmsLayoutTextEn}}
    {{ ../message }}

    {{#each ../entries}}
        - {{ this.investorAccount.userFullName }}({{ this.investorAccount.northCapitalAccountId }}) ${{ this.amount }} {{ this.offeringTitle }} {{ this.status }} {{ this.failureReason }}
    {{/each}}
{{/cmsLayoutTextEn}}
