// input-autocomplete
input {
    &:-webkit-autofill {
        &,
        &:hover,
        &:focus {
            transition: background-color 5000s ease 0s;
            box-shadow: 0 0 0 1000px @input-bg inset;
            -webkit-text-fill-color: @text-color;
        }
    }
}
