<ng-template
    #totalTemplate
    let-total>
    <div class="baza-crud-data-total-template">
        <span>{{ i18nTotalItems }}</span>
    </div>
</ng-template>

<nz-table
    #nzTable
    [nzData]="current$ | async"
    [nzShowSizeChanger]="state.nzShowSizeChanger"
    [nzLoading]="isLoading$ | async"
    [nzLoadingDelay]="100"
    [nzTotal]="state.total"
    [nzFrontPagination]="false"
    [nzShowTotal]="state.nzShowTotal ? totalTemplate : null"
    [nzPageIndex]="state.index"
    [nzPageSize]="state.size"
    [nzPageSizeOptions]="state.sizes"
    [nzShowPagination]="state.withPagination"
    (nzPageIndexChange)="load({ index: $event })"
    (nzPageSizeChange)="loadNzPageSizeChanged($event)"
    nzPaginationPosition="both">
    <thead>
        <tr>
            <th
                *ngIf="hasActions"
                class="th-actions"></th>
            <th
                class="--disable-user-select"
                *ngFor="let column of activeColumns; trackBy: trackByColumn"
                [ngStyle]="columnNgStyle(column)"
                [nzShowSort]="column.sortable"
                (nzSortOrderChange)="nzSortOrderChange(column, $event)">
                <ng-container *ngIf="column.withoutTranslate">{{ column.title }}</ng-container>
                <ng-container *ngIf="!column.withoutTranslate">{{ column.title | translate }}</ng-container>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let row of nzTable.data"
            [ngClass]="trRowNgClass(row)"
            (click)="onTrRowClick(row)">
            <td *ngIf="hasActions">
                <nz-button-group>
                    <button
                        type="button"
                        nz-button
                        nz-dropdown
                        nzTrigger="click"
                        [nzDropdownMenu]="actionMenu"
                        nzPlacement="bottomLeft"
                        [disabled]="(hasRowActions$(row) | async) === false">
                        <i
                            nz-icon
                            nzType="more"></i>
                    </button>
                </nz-button-group>
                <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                    <ul nz-menu>
                        <ng-container *ngFor="let action of config.actions">
                            <li
                                *ngIf="isRowActionVisible$(action, row) | async"
                                nz-menu-item
                                (click)="action.action(row)">
                                <i
                                    *ngIf="action.icon"
                                    nz-icon
                                    [nzType]="action.icon"></i>
                                <ng-container *ngIf="action.withoutTranslate">{{ actionTitle(action, row) }}</ng-container>
                                <ng-container *ngIf="!action.withoutTranslate">{{ actionTitle(action, row) | translate }}</ng-container>
                            </li>
                        </ng-container>
                    </ul>
                </nz-dropdown-menu>
            </td>
            <td
                *ngFor="let column of activeColumns; trackBy: trackByColumn"
                [ngStyle]="rowNgStyle(column, row)"
                [ngClass]="rowNgClass(column, row)">
                <ng-container *ngIf="column.type.kind === 'id'">
                    <span>{{ source(column, row) }}</span>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'ulid'">
                    <span>{{ source(column, row) }}</span>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'date'">
                    <span>{{ date(source(column, row)) }}</span>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'dateUTC'">
                    <span>{{ dateUTC(source(column, row)) }}</span>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'datetime'">
                    <span>{{ dateTime(source(column, row)) }}</span>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'boolean'">
                    <i
                        nz-icon
                        *ngIf="source(column, row)"
                        nzType="check"></i>
                    <i
                        nz-icon
                        *ngIf="column.type.withFalseIcon && !source(column, row)"
                        nzType="close"></i>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'text'">
                    <div class="text-block">
                        <div class="text-block-contents">
                            <span>{{ text$(column.type, column, row) | async }}</span>
                        </div>
                        <div
                            class="text-block-hint"
                            *ngIf="column.type.hint && column.type.hint(row)">
                            <div
                                nz-tooltip
                                [nzTooltipTitle]="hint$(column.type.hint(row))">
                                <i
                                    nz-icon
                                    [nzType]="column.type.hint(row).icon"
                                    nzTheme="outline"></i>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'link'">
                    <a
                        nz-button
                        nzType="link"
                        [routerLink]="column.type.link(row).routerLink"
                        [queryParams]="column.type.link(row).queryParams"
                        [state]="column.type.link(row).state">
                        <ng-container *ngIf="column.type.icon">
                            <i
                                nz-icon
                                [nzType]="column.type.icon"></i>
                        </ng-container>
                        <span>{{ text$(column.type, column, row) | async }}</span>
                    </a>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'download-link'">
                    <a
                        [href]="trustedUrl(column.type.link(row))"
                        download
                        target="_blank">
                        <ng-container *ngIf="column.type.icon">
                            <i
                                nz-icon
                                [nzType]="column.type.icon"></i>
                        </ng-container>
                        <span>{{ text$($any(column.type), column, row) | async }}</span>
                    </a>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'button'">
                    <button
                        nz-button
                        [nzType]="$any(column.type.buttonType)"
                        [nzDanger]="column.type.isDanger"
                        (click)="column.type.onClick(row)"
                        [disabled]="column.type.disabled$ ? (column.type.disabled$ | async) : false"
                        style="width: 100%">
                        <ng-container *ngIf="column.type.icon">
                            <i
                                nz-icon
                                [nzType]="column.type.icon"></i>
                        </ng-container>
                        <span>{{ text$(column.type, column, row) | async }}</span>
                    </button>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'tags'">
                    <ng-container *ngFor="let tag of source(column, row)">
                        <ng-container *ngIf="column.type.translate">
                            <nz-tag>
                                <span
                                    translate
                                    [translateParams]="column.type.translateArgs">
                                    {{ tag }}
                                </span>
                            </nz-tag>
                        </ng-container>
                        <ng-container *ngIf="!column.type.translate">
                            <nz-tag>
                                <nz-tag>{{ tag }}</nz-tag>
                            </nz-tag>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'progress'">
                    <nz-progress
                        [nzPercent]="float(column, row)"
                        [nzStatus]="column.type.nzStatus"></nz-progress>
                </ng-container>
                <ng-container *ngIf="column.type.kind === 'image'">
                    <div class="image-container">
                        <ng-container *ngIf="column.type.available(row)">
                            <img
                                nz-image
                                [nzSrc]="column.type.nzSrc(row)"
                                alt="" />
                        </ng-container>
                    </div>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
