nz-table {
    width: 100%;
    margin-top: 1rem;
}

.th-actions {
    width: 60px;
    max-width: 60px;
}

.baza-crud-data-total-template {
    margin-right: 1rem;
}

tr {
    &.is-row-clickable {
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: var(--primary-1);

            td {
                background-color: var(--primary-1);
            }
        }
    }

    td {
        vertical-align: middle;
    }
}

.image-container {
    width: 100%;
    max-height: 90px;
    overflow: hidden;
}

img[nz-image] {
    display: block;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
}

.inactive {
    color: var(--disabled-color);
}

.invalid {
    color: var(--error-color);
}

.text-block {
    display: inline-block;

    .text-block-contents {
        display: inline-block;
    }

    .text-block-hint {
        margin-left: 0.5rem;
        display: inline-block;

        i {
            cursor: pointer;
        }
    }
}

.indent-level-0 {
    padding-left: 1rem;
}
.indent-level-1 {
    padding-left: 2rem;
}
.indent-level-2 {
    padding-left: 3rem;
}
.indent-level-3 {
    padding-left: 4rem;
}
.indent-level-4 {
    padding-left: 5rem;
}
.indent-level-5 {
    padding-left: 6rem;
}
.indent-level-6 {
    padding-left: 6.5rem;
}
.indent-level-7 {
    padding-left: 7rem;
}
.indent-level-8 {
    padding-left: 7.5rem;
}
.indent-level-9 {
    padding-left: 8rem;
}
.indent-level-10 {
    padding-left: 8.5rem;
}
.indent-level-11 {
    padding-left: 9rem;
}
.indent-level-12 {
    padding-left: 10rem;
}
