<div class="service-page">
    <div class="container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                [nzXs]="{ span: 12 }"
                [nzLg]="{ span: 10, push: 1 }"
                [nzXl]="{ span: 8, push: 2 }">
                <h3>Introduction to Electronic Funds Transfers</h3>
                <p class="service-page__text">
                    <strong>Scalio - Investment Platform</strong>
                    processes Electronic Funds Transfers (EFTs) as an efficient method to receive electronic deposits from investors, to
                    purchase and redeem investments and to issue refunds to investors. EFTs are processed through the vehicles described
                    below:
                </p>
                <ul>
                    <li>
                        <p class="service-page__text">The Automated Clearing House (ACH)</p>
                    </li>
                    <li>
                        <p class="service-page__text">The Fedwire</p>
                    </li>
                    <li>
                        <p class="service-page__text">Card</p>
                    </li>
                </ul>
                <h3>Electronic Funds Transfers Agreement and Disclosure</h3>
                <p class="service-page__text">
                    This Electronic Funds Transfers Agreement and Disclosure (this Agreement) is the contract which covers you and our
                    rights and responsibilities concerning the EFTs services offered to you by
                    <strong>Scalio - Investment Platform</strong>
                    . In this Agreement, the words “you,” “your,” and “yours” mean an individual who signs up on the
                    <strong>Scalio - Investment Platform</strong>
                    and utilizes the Platform to participate in offerings (and any authorized users). The words “we,” “us,” and “our” mean
                    <strong>Scalio - Investment Platform</strong>
                    . EFTs are electronically initiated transfers of money from your bank account or credit card account, which you utilize
                    the Platform to initiate, and which allow you to participate in the
                    <strong>Scalio - Investment Platform</strong>
                    offerings. By using any
                    <strong>Scalio - Investment Platform</strong>
                    service, you agree to the terms and conditions in this Agreement and any amendments for the EFTs services offered.
                </p>
                <p class="service-page__text">
                    In order to use the payment functionality of
                    <strong>Scalio - Investment Platform</strong>
                    , you authorize us to share your identity, bank account data and credit card account data with North Capital Private
                    Securities (NCPS), a broker-dealer registered with the Securities and Exchange Commision and the Financial Industry
                    Regulatory Authority, Inc., and with North Capital Investment Technology (NCIT) for the purpose of processing your EFTs,
                    and you are responsible for the accuracy and completeness of that data. You understand that you will access and are
                    responsible for managing your bank account data and credit card account data through the Platform. You also authorize us
                    and NCPS and NCIT to process EFTs as you direct through
                    <strong>Scalio - Investment Platform</strong>
                    . You acknowledge that none of NCPS, NCIT or we will be liable for any loss, expense or cost arising out of EFT services
                    provided through your use of
                    <strong>Scalio - Investment Platform</strong>
                    , which are based on your instruction; NCPS and NCIT are third party beneficiaries to this Agreement.
                </p>
            </div>
        </div>
    </div>
</div>
