<form [formGroup]='formGroup'>
    <textarea nz-input #element
        [formControlName]='formControlName'
        [placeholder]='placeholder'
        [rows]='definition.rows'
    ></textarea>
</form>
