<div *ngIf="{ isEditing: isEditing$ | async } as data">
    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="updateProfileForm"
        #updateProfileFormEl>
        <div class="heading">
            <h3 class="heading__title">Full name</h3>

            <div class="heading__controls">
                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="!data.isEditing"
                    (click)="toggleEdit()">
                    <span>Edit</span>
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="data.isEditing"
                    (click)="toggleEdit()">
                    <span>Cancel</span>
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    nzType="primary"
                    type="submit"
                    *ngIf="data.isEditing"
                    [disabled]="bazaFormValidatorService.isFormFilledAndValid(updateProfileForm)"
                    (click)="onFormSubmit(updateProfileFormEl)">
                    <span>Save</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="!data.isEditing && user$ | async as user">
            <div class="info-block">{{ user.fullName }}</div>
        </ng-container>

        <ng-container *ngIf="data.isEditing">
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="update-profile-error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="firstName">First Name</nz-form-label>

                <nz-form-control nzErrorTip="First Name is required">
                    <input
                        formControlName="firstName"
                        id="firstName"
                        nz-input />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="lastName">Last Name</nz-form-label>

                <nz-form-control nzErrorTip="Last Name is required">
                    <input
                        formControlName="lastName"
                        id="lastName"
                        nz-input />
                </nz-form-control>
            </nz-form-item>
        </ng-container>
    </form>
</div>
