<form
    nz-form
    nzLayout="vertical"
    [formGroup]="verificationInvestorForm"
    #investorFormEl>
    <div class="steps-content">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="verification__section">
                <div class="verification__title">
                    {{ wts.getI18nLabel(i18nBasePath, 'title') }}
                </div>
                <div class="verification__subtitle">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.label') }}
                </div>

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="isAccreditedInvestorErrorTemplate">
                        <nz-radio-group
                            formControlName="isAccreditedInvestor"
                            nzName="isAccreditedInvestor">
                            <label
                                nz-radio
                                [nzValue]="true">
                                <span class="ant-radio-title">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.yesOption.label') }}
                                </span>

                                <span class="ant-radio-description">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.yesOption.descr') }}
                                </span>
                            </label>

                            <label
                                nz-radio
                                [nzValue]="false">
                                <span class="ant-radio-title">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.noOption.label') }}
                                </span>

                                <span class="ant-radio-description">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.noOption.descr') }}
                                </span>
                            </label>
                        </nz-radio-group>
                    </nz-form-control>

                    <ng-template
                        #isAccreditedInvestorErrorTemplate
                        let-control>
                        <span data-cy="is-accredited-investor-input-error">
                            {{ getErrorMessage(control, 'isAccreditedInvestor') }}
                        </span>
                    </ng-template>
                </nz-form-item>

                <div class="verification__subtitle">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.label') }}
                </div>

                <nz-form-item>
                    <nz-form-control [nzErrorTip]="isAssociatedWithFINRAErrorTemplate">
                        <nz-radio-group
                            formControlName="isAssociatedWithFINRA"
                            nzName="isAssociatedWithFINRA">
                            <label
                                nz-radio
                                [nzValue]="true">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.yesOption.label') }}
                            </label>

                            <label
                                nz-radio
                                [nzValue]="false">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.noOption.label') }}
                            </label>
                        </nz-radio-group>
                    </nz-form-control>

                    <ng-template
                        #isAssociatedWithFINRAErrorTemplate
                        let-control>
                        <span data-cy="is-associated-with-finra-input-error">
                            {{ getErrorMessage(control, 'isAssociatedWithFINRA') }}
                        </span>
                    </ng-template>
                </nz-form-item>

                <div class="verification__subtitle">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'currentAnnualHouseholdIncome.subheading') }}
                </div>

                <nz-form-item>
                    <nz-form-label nzFor="currentAnnualHouseholdIncome">
                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'currentAnnualHouseholdIncome.label') }}
                    </nz-form-label>

                    <nz-form-control [nzErrorTip]="currentAnnualHouseholdIncomeErrorTemplate">
                        <nz-input-number
                            formControlName="currentAnnualHouseholdIncome"
                            [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'currentAnnualHouseholdIncome.placeholder')"
                            id="currentAnnualHouseholdIncome"
                            name="currentAnnualHouseholdIncome"
                            [nzMin]="1"
                            [nzStep]="1"
                            [nzFormatter]="wts.dollarFormat"
                            [nzParser]="wts.dollarParse"></nz-input-number>
                    </nz-form-control>

                    <ng-template
                        #currentAnnualHouseholdIncomeErrorTemplate
                        let-control>
                        <span data-cy="current-annual-household-income-input-error">
                            {{ getErrorMessage(control, 'currentAnnualHouseholdIncome') }}
                        </span>
                    </ng-template>
                </nz-form-item>

                <div class="verification__subtitle">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'netWorth.subheading') }}
                </div>

                <nz-form-item>
                    <nz-form-label nzFor="netWorth">
                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'netWorth.label') }}
                    </nz-form-label>

                    <nz-form-control [nzErrorTip]="netWorthErrorTemplate">
                        <nz-input-number
                            formControlName="netWorth"
                            [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'netWorth.placeholder')"
                            id="netWorth"
                            name="worth"
                            [nzMin]="1"
                            [nzStep]="1"
                            [nzFormatter]="wts.dollarFormat"
                            [nzParser]="wts.dollarParse"></nz-input-number>
                    </nz-form-control>

                    <ng-template
                        #netWorthErrorTemplate
                        let-control>
                        <span data-cy="net-worth-input-error">
                            {{ getErrorMessage(control, 'netWorth') }}
                        </span>
                    </ng-template>
                </nz-form-item>
            </div>
        </div>
    </div>

    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="verification__steps-action">
            <div class="steps-action steps-note">
                <button
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    type="submit"
                    (click)="onFormSubmit(investorFormEl)">
                    {{ wts.getI18nLabel(i18nBasePath, 'steps.confirmBtnLabel') }}
                </button>

                <a
                    class="btn-angle-left"
                    nz-button
                    nzSize="large"
                    nzType="default"
                    role="button"
                    [routerLink]="['/verification', 'info']">
                    {{ wts.getI18nLabel(i18nBasePath, 'steps.backBtnLabel') }}
                </a>
            </div>
        </div>
    </div>
</form>

<app-nc-verification-file-upload [isVisible]="fileUploading"></app-nc-verification-file-upload>
