@import 'variables/variables';
@import 'mixins/mixins';

:host {
    flex-grow: 0;
}

// ant-layout-header
.ant-layout-header {
    display: flex;
    justify-content: center;

    @media (min-width: @screen-md) {
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
    }
    @media (min-width: @screen-lg) {
        justify-content: space-between;
    }
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 120px;
}
