<nz-modal
    data-cy="sign-in"
    [nzFooter]="isAccountActive ? null : footerTpl"
    [nzTitle]="titleTpl"
    [nzVisible]="true"
    (nzOnCancel)="onModalClose()"
    #loginModalEl>
    <ng-template #titleTpl>{{ isAccountActive ? 'Sign In' : 'Unverified Email' }}</ng-template>

    <ng-container *nzModalContent>
        <form
            class="ant-form-inverse"
            nz-form
            nzLayout="vertical"
            [formGroup]="loginForm"
            #loginFormEl>
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="login-error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <ng-container *ngIf="isAccountActive">
                <nz-form-item>
                    <nz-form-label nzFor="email">Email</nz-form-label>

                    <nz-form-control [nzErrorTip]="emailErrorTemplate">
                        <input
                            autofocus
                            data-cy="sign-in__email-input"
                            formControlName="email"
                            id="email"
                            nz-input
                            type="email" />
                    </nz-form-control>

                    <ng-template
                        #emailErrorTemplate
                        let-control>
                        <span data-cy="sign-in__email-error">
                            <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
                            <ng-container *ngIf="control.hasError('email')">Please enter a valid email address</ng-container>
                        </span>
                    </ng-template>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="password">Password</nz-form-label>

                    <a
                        class="ant-form-help"
                        [routerLink]="['', { outlets: { modal: ['auth', 'restore-password'] } }]">
                        Forgot Password?
                    </a>

                    <nz-form-control nzErrorTip="Password is required">
                        <input
                            data-cy="sign-in__password-input"
                            formControlName="password"
                            id="password"
                            nz-input
                            type="password" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control>
                        <button
                            data-cy="sign-in__submit"
                            nz-button
                            nzBlock
                            nzSize="large"
                            nzType="primary"
                            type="submit"
                            [disabled]="bazaFormValidatorService.isFormFilledAndValid(loginForm)"
                            (click)="onFormSubmit(loginFormEl, loginModalEl)">
                            Sign In
                        </button>
                    </nz-form-control>
                </nz-form-item>

                <div>
                    Don't have an account?
                    <a [routerLink]="['', { outlets: { modal: ['auth', 'signup'] } }]">Sign Up</a>
                </div>
            </ng-container>

            <ng-container *ngIf="!isAccountActive">
                <p class="ant-modal__descr">
                    Looks like this email address has not been verified yet. Please follow the instructions we’ve sent you in verification
                    email or click/tap Resend to receive a new email.
                </p>
            </ng-container>
        </form>
    </ng-container>

    <ng-template #footerTpl>
        <button
            nz-button
            type="button"
            (click)="onModalClose()">
            Cancel
        </button>

        <button
            nz-button
            nzType="primary"
            type="submit"
            (click)="onActivationClick()">
            Resend
        </button>
    </ng-template>
</nz-modal>
