{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Your password has been updated. If you didn't initiate this request, please contact us and visit <a href='{{ webUrl }}/(modal:auth/restore-password)?email={{ ../emailUrlEncoded }}'>Link</a> to reset your password immediately.</p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
    </p>
{{/webLayoutHtmlEn}}
