<ng-container
    *ngIf="{
        state: state$ | async,
        message: message$ | async
    } as data">
    <div class="auth-page auth-modal-styler text-center">
        <ng-container [ngSwitch]="data.state">
            <ng-container
                *ngSwitchCase="states.Loading"
                [ngTemplateOutlet]="loadingState"></ng-container>

            <ng-container
                *ngSwitchCase="states.Success"
                [ngTemplateOutlet]="successState"></ng-container>

            <ng-container
                *ngSwitchCase="states.Error"
                [ngTemplateOutlet]="errorState"></ng-container>
        </ng-container>

        <ng-template #loadingState>We're deleting your account</ng-template>

        <ng-template #errorState>
            <h2 class="ant-modal__title">Delete Account Failed</h2>

            <p class="ant-modal__descr">{{ data.message.text }}</p>
        </ng-template>

        <ng-template #successState>
            <h3 class="ant-modal__title">We are sorry to see you go.</h3>

            <div class="info-block info-block-muted">Your account has been deleted.</div>

            <button
                nz-button
                nzType="primary"
                type="button"
                [routerLink]="['/']">
                Go To Homepage
            </button>
        </ng-template>
    </div>
</ng-container>
