<div class="purchase-methods">
    <div class="purchase-methods__item">
        <h4 class="payment-card__item-title">
            {{ wts.getI18nLabel(i18nBasePath, 'bank.title') }}
        </h4>

        <div>
            <button
                class="payment-btn payment-btn-inverse"
                nz-button
                nzBlock
                (click)="linkBankAccount()">
                <div class="payment-btn__icon">
                    <i class="icon icon-bank"></i>
                </div>

                <div class="payment-btn__title">
                    {{ wts.getI18nLabel(i18nBasePath, 'bank.plaid.title') }}
                </div>

                <div class="payment-btn__arrow">
                    <i class="icon icon-angle-right icon-wt"></i>
                </div>
            </button>

            <button
                class="payment-btn payment-btn-inverse"
                nz-button
                nzBlock
                (click)="manuallyAddBankAccount()">
                <div class="payment-btn__icon">
                    <i class="icon icon-bank"></i>
                </div>

                <div class="payment-btn__title">
                    {{ wts.getI18nLabel(i18nBasePath, 'bank.manual.title') }}
                </div>

                <div class="payment-btn__arrow">
                    <i class="icon icon-angle-right icon-wt"></i>
                </div>
            </button>
        </div>
    </div>

    <div
        class="purchase-methods__item"
        (click)="addCreditCard()"
        *ngIf="!isPurchaseAboveLimit">
        <ng-container *ngIf="limits$ | async as limits">
            <h4 class="payment-card__item-title">
                {{ wts.getI18nLabel(i18nBasePath, 'card.title') }}
            </h4>

            <button
                class="payment-btn payment-btn-inverse"
                nz-button
                nzBlock>
                <div class="payment-btn__icon">
                    <i class="icon icon-card"></i>
                </div>

                <div class="payment-btn__title">
                    {{ wts.getI18nLabel(i18nBasePath, 'card.manual.title') }}

                    <div class="payment-btn__fee">
                        {{ limits.creditCardPaymentsFee | numberTwoDigits }}%
                        {{ wts.getI18nLabel(i18nBasePath, 'card.manual.feeSuffix') }}
                    </div>
                </div>

                <div class="payment-btn__arrow">
                    <i class="icon icon-angle-right icon-wt"></i>
                </div>
            </button>

            <p class="payment-card__description">
                {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3) }}
            </p>
        </ng-container>
    </div>
</div>
