<ng-template #nzModal>
    <ng-container *ngIf="config.title">
        <h3 nz-typography>{{ title$ | async }}</h3>
    </ng-container>
    <baza-form-builder
        [childVcr]="childVcr"
        [config]="config.formBuilder"
        [formGroup]="config.formGroup"
        [modalConfig]="config"></baza-form-builder>
</ng-template>

<ng-template #nzModalFooter>
    <baza-form-layout-actions
        [actions]="actions"
        [submitDisabled$]="this.isFormInvalid$"
        [isLoading]="isLoading$ | async"
        (submit)="onActionSubmit()"
        (click)="onActionClick($event)"></baza-form-layout-actions>
</ng-template>
