<baza-crud-layout
    [config]="config"
    [attr.data-baza-crud-id]="config.id">
    <ng-container *ngIf="config.data">
        <ng-container *ngIf="withCustomDataView">
            <ng-content></ng-content>
        </ng-container>
        <ng-container *ngIf="!withCustomDataView">
            <baza-crud-data
                [config]="config.data"
                [queryString]="state.queryString"></baza-crud-data>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="config.treeData">
        <ng-container *ngIf="withCustomDataView">
            <ng-content></ng-content>
        </ng-container>
        <ng-container *ngIf="!withCustomDataView">
            <baza-crud-tree [config]="config.treeData"></baza-crud-tree>
        </ng-container>
    </ng-container>
</baza-crud-layout>
