{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>
        Please confirm your authentication request using the verification code below. This code will be valid
        for {{../validity}} minutes.
    </p>
    <h5>
        <b>Verification Code: <code>{{ ../code }}</code></b>
    </h5>
    <p>If you didn't initiate this request, please contact us.</p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../cmsLogoUrl }}" alt="logo" width="200px">
    </p>
{{/webLayoutHtmlEn}}
