{{#> webLayoutTextEn }}
Hello {{../fullName}},
Please confirm your authentication request using the verification code below. This code will be valid
for {{../validity}} minutes.

<b>Verification Code: <code>{{ ../code }}</code></b>

If you didn't initiate this request, please contact us.

Thank You,

{{ clientName }}
{{/webLayoutTextEn}}
