<div class="cta">
    <div class="container cta__container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="cta__col">
                <div
                    class="cta__heading"
                    [innerHtml]="config?.heading"></div>

                <div
                    class="cta__descr"
                    [innerHtml]="config?.descr"></div>

                <div class="cta__btn">
                    <a
                        nz-button
                        nzSize="large"
                        nzType="primary"
                        (click)="uts.navigate(config?.btnLink)">
                        {{ uts.getUrlText(config?.btnLink) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
