<div class='container' [formGroup]='state.form'>
    <div class='container-header'>
        <h1 nz-typography>{{ i18n('title') | translate }}</h1>
    </div>
    <div class='container-description'>
        <p nz-typography>{{ i18n('description') | translate }}</p>
    </div>
    <div class='container-switcher'>
        <div nz-space>
            <div *nzSpaceItem>
                <nz-switch formControlName='enabled' [nzDisabled]='isLoading$ | async'></nz-switch>
            </div>
            <div *nzSpaceItem>
                <strong>
                    <p nz-typography *ngIf='state.current.enabled'>{{ i18n('disable') | translate }}</p>
                    <p nz-typography *ngIf='! state.current.enabled'>{{ i18n('enable') | translate }}</p>
                </strong>
            </div>
        </div>
    </div>
    <div class='container-current' *ngIf='state.current.enabled'>
        <nz-input-group [nzSuffix]="suffixToggle">
            <input type="text" nz-input [value]='current' readonly />
        </nz-input-group>
        <ng-template #suffixToggle>
            <button nz-button nzType="link" (click)='toggle()'>
                <span *ngIf='state.show'>{{ i18n('hide') | translate }}</span>
                <span *ngIf='! state.show'>{{ i18n('show') | translate }}</span>
            </button>
        </ng-template>
    </div>
</div>
