.container {
    .container-switcher {
        margin: 2rem 0;

        strong {
            position: relative;
            top: 2px;
        }
    }

    .container-current {
        width: 100%;
        max-width: 420px;
    }
}
