<nz-card
    class="ant-card-transparent payment-card"
    [nzBordered]="true"
    *ngIf="entity$ | async as entity; else noEntity">
    <h4 class="payment-card__title">
        {{ wts.getI18nLabel(i18nBasePath, 'title') }}
    </h4>

    <div class="payment-card__summary">
        <div
            *ngIf="withImage"
            class="item-summary payment-card__item">
            <div class="item-summary__img">
                <img
                    class="img-responsive"
                    src="{{ entity.cover.md }}" />
            </div>

            <div>
                <strong class="item-summary__title">{{ entity.title }}</strong>
            </div>
        </div>

        <hr
            *ngIf="withImage"
            class="payment-card__divider payment-card__divider-summary" />

        <div class="payment-card__info payment-card__item">
            <div class="payment-card__row">
                <span>{{ wts.getI18nLabel(i18nBasePath, 'numOfShares') }}</span>
                <span>{{ numberOfShares | number }}</span>
            </div>

            <div
                class="payment-card__row"
                *ngIf="!maxSharesPerUserLimitReached">
                <span>{{ wts.getI18nLabel(i18nBasePath, 'pricePerShare') }}</span>
                <span>{{ entity.pricePerShareCents / 100 | priceCents }}</span>
            </div>

            <div
                *ngIf="transactionFee && transactionFee > 0 && !maxSharesPerUserLimitReached"
                class="payment-card__row">
                <div>
                    {{ wts.getI18nLabel(i18nBasePath, 'transactionFee') }}

                    <i
                        class="payment-card__icon icon icon-info-circle icon-wt"
                        nz-popover
                        [nzPopoverContent]="wts.getI18nLabel(i18nBasePath, 'transactionFeePopover')"
                        nzPopoverPlacement="right"
                        nzPopoverTrigger="click"></i>
                </div>

                <span>
                    {{
                        (transactionFeeCents
                            ? transactionFeeCents
                            : calculateTransactionFee((numberOfShares * entity.pricePerShareCents) / 100, transactionFee)
                        ) | priceCents
                    }}
                </span>
            </div>

            <div
                class="payment-card__row"
                *ngIf="fee && !maxSharesPerUserLimitReached">
                <span>{{ wts.getI18nLabel(i18nBasePath, 'paymentMethodFee') }}</span>
                <span>{{ fee / 100 | priceCents }}</span>
            </div>

            <hr class="payment-card__divider" />

            <div class="payment-card__row">
                <span>{{ wts.getI18nLabel(i18nBasePath, 'total') }}</span>

                <strong>
                    {{
                        (transactionFeeCents
                            ? transactionFeeCents + calculateTotal(fee, numberOfShares * entity.pricePerShareCents)
                            : calculateTransactionFee((numberOfShares * entity.pricePerShareCents) / 100, transactionFee) +
                              calculateTotal(fee, numberOfShares * entity.pricePerShareCents)
                        ) | priceCents
                    }}
                </strong>
            </div>
        </div>
    </div>
</nz-card>
<ng-template #noEntity>
    <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
