.modal {
    min-height: 240px;
    position: relative;
}

.loading {
    background-color: var(--popover-background);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 0;

    .loading-indicator {
        i {
            font-size: 32px;
        }
    }
}

.message {
    margin-bottom: 1rem;
}

.methods {
    .method {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        border: 1px solid var(--normal-color);
        padding: 0.8rem 1.2rem;

        &:last-child {
            margin-bottom: 0;
        }

        .method-icon {
            flex: 0;
            margin-right: 1rem;
            font-size: 0;

            i {
                font-size: 24px;
            }
        }

        .method-force-enabled {
            width: 24px;
            margin-right: 0.5rem;

            i {
                font-size: 24px;
                color: var(--info-color);
            }
        }

        .method-body {
            flex: 1;
            margin-right: 2rem;

            .method-body-title {
                font-size: 1rem;
                font-weight: 500;
            }

            .method-body-description {
                font-size: 0.8rem;
            }
        }
    }
}
