<ng-template #nzModal>
    <div class='modal'>
        <h3 nz-typography>{{ i18n('title') | translate }}</h3>
        <div class='loading' *ngIf='isLoading$ | async'>
            <div class="loading-indicator">
                <i nz-icon nzType="loading" nzTheme="outline"></i>
            </div>
        </div>
        <ng-container *ngIf='(isLoading$ | async) === false'>
            <ng-container *ngIf='state.settings'>
                <div class='message'>
                    <nz-alert
                        *ngIf='! hasAny2FAEnabled'
                        nzType="error"
                        nzMessage="{{ i18n('info.unsecured.title') | translate }}"
                        nzDescription="{{ i18n('info.unsecured.description') | translate }}"
                        nzShowIcon
                    ></nz-alert>
                    <nz-alert
                        *ngIf='hasAny2FAEnabled'
                        nzType="success"
                        nzMessage="{{ i18n('info.secured.title') | translate }}"
                        nzDescription="{{ i18n('info.secured.description') | translate }}"
                        nzShowIcon
                    ></nz-alert>
                </div>
                <div class='methods'>
                    <div class='method' *ngFor='let method of state.settings.allowed2FAMethods'>
                        <div class='method-icon'>
                            <i nz-icon [nzType]="methodIcon(method)" nzTheme="outline"></i>
                        </div>
                        <div class='method-body'>
                            <div class='method-body-title'>{{ methodTitle(method) | translate }}</div>
                            <div class='method-body-description'>{{ methodDescription(method) | translate }}</div>
                        </div>
                        <div class='method-force-enabled'>
                            <div *ngIf='is2FAMethodForceEnabled(method)' nz-tooltip [nzTooltipVisible]='false' nzTooltipTitle="{{ i18n('force') | translate }}">
                                <i nz-icon nzType='question-circle' nzTheme="outline"></i>
                            </div>
                        </div>
                        <div class='method-control'>
                            <nz-switch
                                (mousedown)='toggle2FAMethod($event, method)'
                                [ngModel]='is2FAMethodEnabled(method)'
                                [nzLoading]='state.loading[method]'
                                [disabled]='is2FAMethodForceEnabled(method)'
                            ></nz-switch>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-template>
