@import 'variables/variables';
@import 'mixins/mixins';

.transaction-table {
    margin-top: -15px;

    @media (min-width: @screen-lg) {
        margin-top: 32px;
    }
}

.transaction-table__divider {
    margin: 0 0 25px 0;

    @media (min-width: @screen-lg) {
        display: none;
    }
}

.transaction-table__header {
    display: none;

    @media (min-width: @screen-lg) {
        display: table-row;
    }
}

.transaction-table__row {
    padding: 24px 0;
    border-top: 1px solid @border-color-split;
    display: grid;
    grid-template-columns: min-content;
    grid-template-areas:
        'date date date date . . .'
        'title title title title . amount amount'
        'type status . . . amount amount'
        'actions actions actions actions . . .';

    @media (min-width: @screen-lg) {
        display: table-row;
    }
}
