<ng-container *ngIf="{ paging: paging$ | async } as data">
    <app-portfolio-transaction-filter (transactionFilterChange)="onTransactionFilterChanged($event)"></app-portfolio-transaction-filter>

    <ng-container *ngIf="transactions$ | async as transactions">
        <ng-container *ngIf="transactions.length > 0; else transactionEmptyState">
            <nz-table
                class="transaction-table"
                nzTemplateMode>
                <thead>
                    <tr class="transaction-table__header">
                        <th>Date & Time</th>
                        <th></th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="let trn of transactions; let i = index"
                        app-portfolio-transaction-item
                        class="transaction-table__row"
                        [transaction]="trn"
                        (retryNcPayment)="showNcRetryPopup($event)"></tr>
                </tbody>
            </nz-table>

            <nz-divider class="transaction-table__divider"></nz-divider>

            <nz-pagination
                [nzHideOnSinglePage]="true"
                [nzPageIndex]="data.paging.index"
                [nzPageSize]="data.paging.size"
                [nzResponsive]="true"
                [nzTotal]="data.paging.total"
                (nzPageIndexChange)="onPageSelect($event)"></nz-pagination>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #transactionEmptyState>
    <nz-empty
        nzNotFoundContent="No Transactions"
        nzNotFoundFooter="Buy shares to see details about your purchases here"
        [nzNotFoundImage]="imageTpl">
        <ng-template #imageTpl>
            <svg-icon-sprite src="empty"></svg-icon-sprite>
        </ng-template>
    </nz-empty>
</ng-template>

<app-retry-nc-payment
    *ngIf="isRetryPaymentMethodVisible"
    [initData]="initData$ | async"
    [(isVisible)]="isRetryPaymentMethodVisible"
    [transaction]="selectedTransaction"
    (retry)="retryPurchaseTransaction($event)"></app-retry-nc-payment>
