@import './assets/baza/fonts/baza-font';

:root {
    --font-family: Baza, sans-serif;
    --font-size: 16px;
}

* {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    font-size: var(--font-size);
    min-height: 100%;
}

body {
    padding: 0;
    min-height: 100%;
}

input {
    &:focus {
        outline: none;
    }
}

strong {
    font-weight: 500;
}

img {
    border: none;
}

img[src=''], img:not([src]) {
    opacity:0;
}

@import './styles/index';
