@import '~reset-css/reset.css';

@import "~ng-zorro-antd/ng-zorro-antd.less";

:root {
    // Place your project styleguide colors
}

:root {
    // Colors
    --primary-color: @primary-color;
    --info-color: @info-color;
    --success-color: @success-color;
    --processing-color: @processing-color;
    --error-color: @error-color;
    --highlight-color: @highlight-color;
    --warning-color: @warning-color;
    --normal-color: @normal-color;
    --white: @white;
    --black: @black;

    // Color used by default to control hover and active backgrounds and for
    // alert info backgrounds.
    --primary-1: @primary-1;
    --primary-2: @primary-2;
    --primary-3: @primary-3;
    --primary-4: @primary-4;
    --primary-5: @primary-5;
    --primary-6: @primary-6;
    --primary-7: @primary-7;
    --primary-8: @primary-8;
    --primary-9: @primary-9;
    --primary-10: @primary-10;

    // Base Scaffolding Variables
    --body-background: @body-background;
    --component-background: @component-background;
    --popover-background: @popover-background;
    --text-color: @text-color;
    --text-color-secondary: @text-color-secondary;
    --text-color-inverse: @text-color-inverse;
    --text-color-dark: @text-color-dark;
    --text-color-secondary-dark: @text-color-secondary-dark;
    --icon-color: @icon-color;
    --icon-color-hover: @icon-color-hover;
    --heading-color: @heading-color;
    --font-size-base: @font-size-base;
    --font-size-lg: @font-size-lg;
    --font-size-sm: @font-size-sm;
    --border-radius-base: @border-radius-base;
    --border-radius-sm: @border-radius-sm;

    // vertical paddings
    --padding-lg: @padding-lg; // containers
    --padding-md: @padding-md; // small containers and buttons
    --padding-sm: @padding-sm; // Form controls and items
    --padding-xs: @padding-xs; // small items
    --padding-xss: @padding-xss; // more small

    // vertical padding for all form controls
    --control-padding-horizontal: @control-padding-horizontal;
    --control-padding-horizontal-sm: @control-padding-horizontal-sm;

    // vertical margins
    --margin-lg: @margin-lg; // containers
    --margin-md: @margin-md; // small containers and buttons
    --margin-sm: @margin-sm; // Form controls and items
    --margin-xs: @margin-xs; // small items
    --margin-xss: @margin-xss; // more small

    // height rules
    --height-base: @height-base;
    --height-lg: @height-lg;
    --height-sm: @height-sm;

    // The background colors for active and hover states for things like
    // list items or table cells.
    --item-active-bg: @item-active-bg;
    --item-hover-bg: @item-hover-bg;

    // Iconfont
    --iconfont-css-prefix: iconfont-css-prefix;

    // Link
    --link-color: @link-color;
    --link-hover-color: @link-hover-color;
    --link-active-color: @link-active-color;
    --link-decoration: @link-decoration;
    --link-hover-decoration: @link-hover-decoration;
    --link-focus-decoration: @link-focus-decoration;
    --link-focus-outline: @link-focus-outline;

    // Animation
    --ease-base-out: @ease-base-out;
    --ease-base-in: @ease-base-in;
    --ease-out: @ease-out;
    --ease-in: @ease-in;
    --ease-in-out: @ease-in-out;
    --ease-out-back: @ease-out-back;
    --ease-in-back: @ease-in-back;
    --ease-in-out-back: @ease-in-out-back;
    --ease-out-circ: @ease-out-circ;
    --ease-in-circ: @ease-in-circ;
    --ease-in-out-circ: @ease-in-out-circ;
    --ease-out-quint: @ease-out-quint;
    --ease-in-quint: @ease-in-quint;
    --ease-in-out-quint: @ease-in-out-quint;

    // Border color
    --border-color-base: @border-color-base;
    --border-color-split: @border-color-split;
    --border-color-inverse: @border-color-inverse;
    --border-width-base: @border-width-base;
    --border-style-base: @border-style-base;
    --background-color-light: @background-color-light;
    --background-color-base: @background-color-base;

    // Outline
    --outline-blur-size: @outline-blur-size;
    --outline-width: @outline-width;
    --outline-color: @outline-color;
    --outline-fade: @outline-fade;

    // Disabled states
    --disabled-color: @disabled-color;
    --disabled-bg: @disabled-bg;
    --disabled-color-dark: @disabled-color-dark;

    // Shadow
    --shadow-color: @shadow-color;
    --shadow-color-inverse: @shadow-color-inverse;
    --box-shadow-base: @box-shadow-base;
    --shadow-1-up: @shadow-1-up;
    --shadow-1-down: @shadow-1-down;
    --shadow-1-left: @shadow-1-left;
    --shadow-1-right: @shadow-1-right;
    --shadow-2: @shadow-2;

    // Header padding
    --layout-header-padding: @layout-header-padding;
}
