<ng-container *ngIf="verificationCompleted(verification$ | async); else noPaymentData">
    <ng-container *ngIf="initData$ | async as initData">
        <app-dwolla-payment-methods [initData]="initData">
            <h3 headerSection>
                {{ 'dwacc.payment.title' | translate }}
                <a
                    class="purchase__icon"
                    nz-popover
                    nzPopoverPlacement="right"
                    nzPopoverTrigger="click"
                    [nzPopoverContent]="'dwacc.payment.popover.content' | translate">
                    <i class="icon icon-info-circle icon-wt"></i>
                </a>
            </h3>
        </app-dwolla-payment-methods>

        <app-dwolla-payout-methods [initData]="initData">
            <h3 headerSection>
                {{ 'dwacc.payout.title' | translate }}
                <a
                    *ngIf="!dss.isForeignInvestor(initData)"
                    class="purchase__icon"
                    nz-popover
                    nzPopoverPlacement="right"
                    nzPopoverTrigger="click"
                    [nzPopoverContent]="'dwacc.payout.popover.content' | translate">
                    <i class="icon icon-info-circle icon-wt"></i>
                </a>
            </h3>
        </app-dwolla-payout-methods>

        <br />

        <app-dwolla-withdraw
            #withdraw
            [initData]="initData"
            (withdrawTriggerEnableToggle)="isWithdrawTriggerEnabled = $event">
            <div withdrawTrigger>
                <button
                    nz-button
                    nzType="primary"
                    type="button"
                    (click)="withdraw.onWithdrawFundsClicked()"
                    [disabled]="!isWithdrawTriggerEnabled">
                    Withdraw Funds
                </button>
            </div>
        </app-dwolla-withdraw>
    </ng-container>
</ng-container>

<ng-template #noPaymentData>
    <nz-empty
        nzNotFoundContent="Payment Method"
        nzNotFoundFooter="You will see your linked payment method here after your first Purchase"
        [nzNotFoundImage]="imageTpl">
        <ng-template #imageTpl>
            <svg-icon-sprite src="empty"></svg-icon-sprite>
        </ng-template>
    </nz-empty>
</ng-template>
