@import 'variables/variables';

// ant-layout-header
.ant-layout-header {
    padding: 0 15px;

    @media (min-width: @screen-md) {
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
    }
}
