<form
    nz-form
    nzLayout="vertical"
    [formGroup]="verificationInfoForm"
    #verificationFormEl>
    <div class="steps-content">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="verification__section">
                <div class="verification__title">{{ wts.getI18nLabel(i18nBasePath, 'title') }}</div>

                <p class="verification__descr">
                    {{ wts.getI18nLabel(i18nBasePath, 'descr') }}
                </p>
                <p class="verification__descr">
                    {{ wts.getI18nLabel(i18nBasePath, 'subtitle') }}
                </p>
                <br />

                <div
                    nz-row
                    nzGutter="30"
                    class="verification-info">
                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__first-name">
                        <nz-form-item>
                            <nz-form-label nzFor="firstName">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'firstName.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="firstNameErrorTemplate">
                                <input
                                    formControlName="firstName"
                                    id="firstName"
                                    nz-input />
                            </nz-form-control>

                            <ng-template
                                #firstNameErrorTemplate
                                let-control>
                                <span data-cy="account-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'firstName') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__last-name">
                        <nz-form-item>
                            <nz-form-label nzFor="lastName">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'lastName.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="lastNameErrorTemplate">
                                <input
                                    formControlName="lastName"
                                    id="lastName"
                                    nz-input />
                            </nz-form-control>

                            <ng-template
                                #lastNameErrorTemplate
                                let-control>
                                <span data-cy="account-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'lastName') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__phone">
                        <nz-form-item>
                            <nz-form-label nzFor="phone">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'phone.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="phoneNumberErrorTemplate">
                                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                                    <input
                                        formControlName="phone"
                                        id="phone"
                                        nz-input
                                        maxlength="15" />
                                </nz-input-group>

                                <ng-template #addOnBeforeTemplate>
                                    <app-phone-code
                                        [numericCode]="numericCode"
                                        (codeChange)="onCodeChange($event)"
                                        *ngIf="numericCode"></app-phone-code>
                                </ng-template>
                            </nz-form-control>

                            <ng-template
                                #phoneNumberErrorTemplate
                                let-control>
                                <span data-cy="phone-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'phone') }}
                                </span>
                            </ng-template>

                            <nz-form-text>
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'phone.subtitle') }}
                            </nz-form-text>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__address">
                        <div class="verification__heading">
                            {{ wts.getI18nLabel(i18nFormPath, 'sections.address.title') }}
                        </div>

                        <p class="verification__descr">
                            {{ wts.getI18nLabel(i18nFormPath, 'sections.address.descr') }}
                        </p>

                        <nz-form-item>
                            <nz-form-label nzFor="residentialCountry">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialCountry.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="countryErrorTemplate">
                                <nz-select
                                    formControlName="residentialCountry"
                                    id="residentialCountry"
                                    [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'residentialCountry.selectPlaceholder')"
                                    [ngModel]="selectedResidentialCountry"
                                    (ngModelChange)="onCountryChange($event)"
                                    *ngIf="formResources && formResources.listCountries">
                                    <nz-option
                                        [nzLabel]="item"
                                        [nzValue]="item"
                                        *ngFor="let item of formResources.listCountries"></nz-option>
                                </nz-select>
                            </nz-form-control>

                            <ng-template
                                #countryErrorTemplate
                                let-control>
                                <span data-cy="phone-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'residentialCountry') }}
                                </span>
                            </ng-template>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzFor="residentialStreetAddress1">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialStreetAddress1.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="streetErrorTemplate">
                                <input
                                    formControlName="residentialStreetAddress1"
                                    id="residentialStreetAddress1"
                                    nz-input />
                            </nz-form-control>

                            <ng-template
                                #streetErrorTemplate
                                let-control>
                                <span data-cy="phone-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'residentialStreetAddress1') }}
                                </span>
                            </ng-template>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzFor="streetAddress2">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialStreetAddress2.label') }}
                                <span class="ant-form-item-label-optional">
                                    &nbsp; {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialStreetAddress2.hint') }}
                                </span>
                            </nz-form-label>

                            <nz-form-control>
                                <input
                                    formControlName="residentialStreetAddress2"
                                    id="residentialStreetAddress2"
                                    nz-input />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzFor="residentialCity">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialCity.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="cityErrorTemplate">
                                <input
                                    formControlName="residentialCity"
                                    id="residentialCity"
                                    nz-input />
                            </nz-form-control>

                            <ng-template
                                #cityErrorTemplate
                                let-control>
                                <span data-cy="phone-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'residentialCity') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <ng-container *ngIf="(listStates$ | async)?.states as states">
                        <div
                            nz-col
                            nzXs="12"
                            *ngIf="states.length > 0"
                            class="verification-info__state">
                            <nz-form-item>
                                <nz-form-label nzFor="residentialState">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialState.label') }}
                                </nz-form-label>

                                <nz-form-control [nzErrorTip]="stateErrorTemplate">
                                    <nz-select
                                        formControlName="residentialState"
                                        id="residentialState"
                                        [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'residentialState.selectPlaceholder')"
                                        [(ngModel)]="residentialState">
                                        <nz-option
                                            [nzLabel]="state.title"
                                            [nzValue]="state.value"
                                            *ngFor="let state of states"></nz-option>
                                    </nz-select>
                                </nz-form-control>

                                <ng-template
                                    #stateErrorTemplate
                                    let-control>
                                    <span data-cy="phone-number-input-error">
                                        {{ checki18nValidationErrorMessages(control, 'residentialState') }}
                                    </span>
                                </ng-template>
                            </nz-form-item>
                        </div>
                    </ng-container>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__zip">
                        <nz-form-item>
                            <nz-form-label nzFor="residentialZipCode">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'residentialZipCode.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="zipcodeErrorTemplate">
                                <input
                                    formControlName="residentialZipCode"
                                    id="residentialZipCode"
                                    maxlength="11"
                                    nz-input />
                            </nz-form-control>

                            <ng-template
                                #zipcodeErrorTemplate
                                let-control>
                                <span data-cy="account-number-input-error">
                                    {{ checki18nValidationErrorMessages(control, 'residentialZipCode') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__dob">
                        <nz-form-item>
                            <nz-form-label nzFor="dateOfBirth">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'dateOfBirth.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="dobErrorTemplate">
                                <nz-date-picker
                                    appAutocompleteOff
                                    formControlName="dateOfBirth"
                                    id="dateOfBirth"
                                    nzFormat="MM/dd/yyyy"
                                    nzPlaceHolder="MM/DD/YYYY"
                                    nzShowToday="false"
                                    appDateMask></nz-date-picker>
                            </nz-form-control>

                            <ng-template
                                #dobErrorTemplate
                                let-control>
                                <span>
                                    {{ checki18nValidationErrorMessages(control, 'dateOfBirth') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12"
                        class="verification-info__citizenship">
                        <nz-form-item>
                            <nz-form-label nzFor="citizenship">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'citizenship.label') }}
                            </nz-form-label>

                            <nz-form-control [nzErrorTip]="citizenshipErrorTemplate">
                                <nz-select
                                    formControlName="citizenship"
                                    id="citizenship"
                                    [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'citizenship.selectPlaceholder')"
                                    *ngIf="formResources && formResources.citizenship">
                                    <nz-option
                                        [nzLabel]="item.label"
                                        [nzValue]="item.citizenship"
                                        *ngFor="let item of formResources.citizenship"></nz-option>
                                </nz-select>
                            </nz-form-control>

                            <ng-template
                                #citizenshipErrorTemplate
                                let-control>
                                <span>
                                    {{ checki18nValidationErrorMessages(control, 'citizenship') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12">
                        <nz-form-item
                            class="verification-info__ssn"
                            [ngClass]="{ 'ant-form-item-disabled': verificationInfoForm.value.hasntSsn }">
                            <nz-form-label nzFor="ssn">
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'ssn.label') }}
                            </nz-form-label>
                            <nz-form-control [nzErrorTip]="ssnErrorTemplate">
                                <input
                                    formControlName="ssn"
                                    id="ssn"
                                    minlength="11"
                                    maxlength="11"
                                    nz-input
                                    autocomplete="new-password"
                                    #ssnEl
                                    (focus)="onSSNFocus()"
                                    (blur)="onSSNBlur()" />
                            </nz-form-control>

                            <ng-template
                                #ssnErrorTemplate
                                let-control>
                                <span>
                                    {{ checki18nValidationErrorMessages(control, 'ssn') }}
                                </span>
                            </ng-template>

                            <nz-form-text>
                                {{ wts.getI18nLabel(i18nFormFieldsPath, 'ssn.hint') }}
                            </nz-form-text>
                        </nz-form-item>
                    </div>

                    <div
                        nz-col
                        nzXs="12">
                        <nz-form-item class="verification-info__hasntSsn">
                            <nz-form-control>
                                <label
                                    formControlName="hasntSsn"
                                    nz-checkbox>
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'ssnCheckbox.label') }}
                                </label>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item *ngIf="verificationInfoForm.value.hasntSsn">
                            <div class="uploaded-file">
                                <p class="uploaded-file__descr">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'fileUpload.descr') }}
                                </p>

                                <p
                                    class="uploaded-file__ssn-document"
                                    *ngIf="uploadedSSN.ssnDocumentFileName">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'fileUpload.docLabel') }}

                                    <a
                                        href="{{ uploadedSSN.ssnDocumentUrl }}"
                                        target="_blank">
                                        {{ uploadedSSN.ssnDocumentFileName }}
                                    </a>
                                </p>
                            </div>

                            <nz-upload
                                nzAccept=".png, .jpg, .jpeg, .pdf"
                                [nzBeforeUpload]="onFileUpload"
                                [(nzFileList)]="fileList">
                                <button
                                    nz-button
                                    nzSize="small"
                                    nzType="default"
                                    type="button">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'fileUpload.btnText') }}
                                    <span *ngIf="fileList?.length > 0 || uploadedSSN.ssnDocumentFileName">&nbsp; New</span>
                                </button>
                            </nz-upload>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="verification__steps-action">
            <div class="steps-action steps-note">
                <button
                    class="btn-angle-right"
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    type="submit"
                    (click)="onFormSubmit(verificationFormEl)">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'submitBtn.label') }}
                </button>
            </div>
        </div>
    </div>
</form>
