<div class='select'>
    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <ng-container *ngIf='useCurrentLangAsTitle'>
            {{ currentUppercase$ | async }}
        </ng-container>
        <ng-container *ngIf='! useCurrentLangAsTitle'>
            {{ i18n('select') | translate }}
            <i nz-icon nzType="down"></i>
        </ng-container>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor='let lang of languages' (click)='useLanguage(lang)'>
                {{ i18nLanguage(lang) | translate }}
            </li>
        </ul>
    </nz-dropdown-menu>
</div>
