:host {
    height: 100%;
}

.container {
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .container-header-title {
            margin-right: 2.5rem;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }

        .container-header-left {
            flex: 1;
            margin-right: 2.5rem;
        }
    }

    .container-toolbar {
        margin: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .container-navigation {
        margin: 1rem 0;
    }

    .container-label {
        margin: 1rem 0;
    }

    .container-footer {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .container-footer-left {
            flex: 1;
            margin-right: 2.5rem;
        }
    }
}
