<div class="container">
    <div
        class="container-header --disable-user-select"
        *ngIf="hasHeader">
        <div
            class="container-back"
            *ngIf="config.backRouterLink">
            <a
                nz-button
                nzType="default"
                nzShape="circle"
                [routerLink]="config.backRouterLink.routerLink"
                [queryParams]="config.backRouterLink.queryParams"
                [state]="config.backRouterLink.state">
                <i
                    nz-icon
                    nzType="left"></i>
            </a>
        </div>
        <div
            class="container-header-title"
            *ngIf="config.title">
            <h1
                nz-typography
                *ngIf="headerTitleLevel === 1">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h1>
            <h2
                nz-typography
                *ngIf="headerTitleLevel === 2">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h2>
            <h3
                nz-typography
                *ngIf="headerTitleLevel === 3">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h3>
            <h4
                nz-typography
                *ngIf="headerTitleLevel === 4">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h4>
            <h5
                nz-typography
                *ngIf="headerTitleLevel === 5">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h5>
            <h6
                nz-typography
                *ngIf="headerTitleLevel === 6">
                <span
                    *ngIf="!config.withoutTranslation"
                    translate
                    [translateParams]="config.titleArguments">
                    {{ config.title }}
                </span>
                <span *ngIf="config.withoutTranslation">{{ config.title }}</span>
            </h6>
        </div>
        <div class="container-header-left">
            <ng-container *ngIf="config.items && config.items.topLeft">
                <baza-crud-items
                    [items]="config.items.topLeft"
                    [context]="ITEMS_CONTEXT.TopLeft"
                    (search)="onSearch($event)"></baza-crud-items>
            </ng-container>
        </div>
        <div class="container-header-right">
            <ng-container *ngIf="config.items && config.items.topRight">
                <baza-crud-items
                    [items]="config.items.topRight"
                    [context]="ITEMS_CONTEXT.TopRight"
                    (search)="onSearch($event)"></baza-crud-items>
            </ng-container>
        </div>
    </div>
    <div
        class="container-toolbar"
        *ngIf="config.items && (config.items.toolbarLeft || config.items.toolbarRight)">
        <div class="container-toolbar-left">
            <baza-crud-items
                [items]="config.items.toolbarLeft"
                [context]="ITEMS_CONTEXT.BottomLeft"
                (search)="onSearch($event)"></baza-crud-items>
        </div>
        <div class="container-toolbar-right">
            <baza-crud-items
                [items]="config.items.toolbarRight"
                [context]="ITEMS_CONTEXT.BottomLeft"
                (search)="onSearch($event)"></baza-crud-items>
        </div>
    </div>
    <div
        class="container-navigation"
        *ngIf="hasNavigation">
        <baza-crud-navigation [config]="config.navigation"></baza-crud-navigation>
    </div>
    <div
        class="container-messages"
        *ngIf="hasMessages">
        <baza-crud-messages [messages]="config.messages"></baza-crud-messages>
    </div>
    <div
        class="container-labels"
        *ngIf="hasLabels">
        <baza-crud-labels [labels]="config.labels"></baza-crud-labels>
    </div>
    <div class="container-data">
        <ng-content></ng-content>
    </div>
    <div class="container-footer">
        <div class="container-footer-left">
            <ng-container *ngIf="config.items && config.items.bottomLeft">
                <baza-crud-items
                    [items]="config.items.bottomLeft"
                    [context]="ITEMS_CONTEXT.BottomLeft"
                    (search)="onSearch($event)"></baza-crud-items>
            </ng-container>
        </div>
        <div
            class="container-footer-right"
            *ngIf="config.items && config.items.bottomRight">
            <baza-crud-items
                [items]="config.items.bottomRight"
                [context]="ITEMS_CONTEXT.BottomRight"
                (search)="onSearch($event)"></baza-crud-items>
        </div>
    </div>
</div>
