<div
    class="container check-account"
    *ngIf="showContainer">
    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="check-account__section">
            <div class="check-account__icon">
                <svg-icon-sprite src="icons-avatar"></svg-icon-sprite>
            </div>

            <ng-container *ngIf="!hasStarted">
                <h2>{{ wts.getI18nLabel(i18nBasePath, 'newVf.title') }}</h2>

                <div
                    class="check-account__descr"
                    [innerHtml]="wts.getI18nLabel(i18nBasePath, 'newVf.descr')"></div>
            </ng-container>

            <ng-container *ngIf="hasStarted">
                <h2>{{ wts.getI18nLabel(i18nBasePath, 'continueVf.title') }}</h2>

                <div
                    class="check-account__descr"
                    [innerHtml]="wts.getI18nLabel(i18nBasePath, 'continueVf.descr')"></div>
            </ng-container>

            <a
                class="check-account__continue"
                nz-button
                nzSize="large"
                nzType="primary"
                (click)="continueCheckVerification()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.continue') }}
            </a>
        </div>
    </div>
</div>
