<form nzLayout='vertical' nz-form class='form --baza-auth-forms' [formGroup]='state.form' (ngSubmit)='submit()'>
    <div class='fields'>
        <nz-form-item>
            <nz-form-control [nzValidateStatus]='state.form.get("email")' nzErrorTip='{{ state.form.get("email") | bazaNzError: state.customErrorEmail | async }}'>
                <input #email type='email' nz-input autofocus formControlName='email' id='email' placeholder='{{ i18n("fields.email") | translate }}'>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzValidateStatus]='state.form.get("password")' nzErrorTip='{{ state.form.get("password") | bazaNzError: state.customErrorPassword | async }}'>
                <input #password type='password' nz-input formControlName='password' id='password' placeholder='{{ i18n("fields.password") | translate }}'>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class='unhandled-error' *ngIf='state.unhandledError'>
        <span translate>{{ state.unhandledError }}</span>
    </div>
    <div class='submit'>
        <button nz-button nzType='primary' type='submit'>
            <span translate>{{ i18n('actions.submit') }}</span>
        </button>
    </div>
    <div class='forgot-password'>
        <a [routerLink]='["/auth/forgot-password"]'>{{ i18n('actions.forgotPassword') | translate }}</a>
    </div>
</form>
