<app-header-maintenance></app-header-maintenance>

<div class="container maintenance-info">
    <nz-empty
        nzNotFoundContent="Maintenance"
        [nzNotFoundFooter]="footerTpl"
        [nzNotFoundImage]="imageTpl">
        <ng-template #imageTpl>
            <svg-icon-sprite src="404"></svg-icon-sprite>
        </ng-template>

        <ng-template #footerTpl>
            {{ maintenanceMessage$ | async }}
        </ng-template>
    </nz-empty>
</div>
