.container {
    .container-description {
        margin-bottom: 2rem;
    }

    .container-services {
        .container-service {
            margin-bottom: 1rem;
        }
    }

    .container-message-header {
        margin-top: 2.5rem;
    }

    .container-message-description {
        margin-bottom: 1rem;
    }

    .container-message-current {
        margin-bottom: 1rem;

        code {
            background: var(--normal-color);
            padding: 0.5rem;
        }
    }
}

nz-space {
    align-items: center;
}
