<div class='container' [formGroup]='state.form'>
    <div class='container-header'>
        <h1 nz-typography>{{ i18n('title') | translate }}</h1>
    </div>
    <div class='container-description'>
        <p nz-typography>{{ i18n('description') | translate }}</p>
    </div>
    <div class='container-services'>
        <div class='container-service' *ngFor='let application of applications'>
            <nz-space>
                <div *nzSpaceItem>
                    <nz-switch [formControlName]='application' [nzDisabled]='isLoading$ | async'></nz-switch>
                </div>
                <div *nzSpaceItem><strong>{{ i18nApplication(application) }}</strong></div>
            </nz-space>
        </div>
    </div>
    <div class='container-message-header'>
        <h3 nz-typography>{{ i18n('message') | translate }}</h3>
    </div>
    <div class='container-message-description'>
        <p>{{ i18n('messageDescription') | translate }}</p>
    </div>
    <div class='container-message-current'>
        <code>{{ state.message.message }}</code>
    </div>
    <div class='container-message-edit'>
        <button type='button' nz-button nzType='link' (click)='editMessage()'>
            <span>{{ i18n('messageEdit') | translate }}</span>
        </button>
    </div>
</div>
