<form
    nz-form
    [formGroup]="state.form"
    nzLayout="vertical">
    <div class="tab tab-meta">
        <div
            class="meta"
            *ngFor="let form of networkForms.controls; let i = index"
            [formGroup]="castCurrentForm(form)">
            <nz-space class="network-entry">
                <div
                    *nzSpaceItem
                    class="network-entry-name">
                    <nz-select
                        formControlName="name"
                        [nzPlaceHolder]="i18n('networks') | translate">
                        <nz-option
                            *ngFor="let option of networkFields"
                            [nzValue]="option.value"
                            [nzDisabled]=""
                            [nzLabel]="option.label"></nz-option>
                    </nz-select>
                </div>
                <div
                    *nzSpaceItem
                    class="network-entry-contents">
                    <input
                        nz-input
                        type="text"
                        [attr.autofocus]="true"
                        formControlName="url"
                        placeholder="{{ i18n('userName') | translate }}" />
                </div>
                <div
                    *nzSpaceItem
                    class="network-entry-delete">
                    <button
                        nz-button
                        nzDanger
                        (click)="deleteNetwork(i)">
                        <i
                            nz-icon
                            nzType="delete"></i>
                    </button>
                </div>
            </nz-space>
        </div>
        <div class="network-controls">
            <nz-space>
                <div *nzSpaceItem>
                    <button
                        nz-button
                        nzType="link"
                        (click)="addNetwork()">
                        {{ i18n('addNetwork') | translate }}
                    </button>
                </div>
            </nz-space>
        </div>
    </div>
</form>
