<baza-cms-loading-indicator></baza-cms-loading-indicator>

<nz-layout class="baza-cms-layout">
    <nz-sider
        class="baza-cms-layout-sider"
        [nzWidth]="state.siderWidth"
        nzTheme="dark"
        nzCollapsible
        [(nzCollapsed)]="state.isSidebarCollapsed"
        [nzTrigger]="null">
        <baza-cms-vertical-nav-bar [isSidebarCollapsed]="state.isSidebarCollapsed"></baza-cms-vertical-nav-bar>
    </nz-sider>
    <nz-layout
        [style.margin-left]="state.siderWidth"
        [class.baza-cms-layout--sider-collapsed]="state.isSidebarCollapsed">
        <baza-cms-banner-message></baza-cms-banner-message>
        <nz-header class="baza-cms-nav-bar-nz-header">
            <baza-cms-nav-bar
                [isSidebarCollapsed]="state.isSidebarCollapsed"
                (toggleSideBar)="toggleSideBar()"></baza-cms-nav-bar>
        </nz-header>
        <nz-content class="baza-cms-layout-inner-layout">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>
