:host {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

nz-layout {
    background-color: var(--white);
}

nz-header {
    background: none;
    position: sticky;
    top: 0;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--baza-cms-layout-header-background);
        opacity: 0.8;
        z-index: -1;
        pointer-events: none;
    }
}

.baza-cms-layout {
    min-height: 100vh;
    overflow-x: hidden;
}

.baza-cms-layout--sider-collapsed {
    transition: margin-left 0.15s ease-in;
    margin-left: var(--baza-cms-layout-margin-left-with-collapsed-sider) !important;
}

.baza-cms-layout-inner-layout {
    background: var(--baza-cms-layout-inner-background);
    overflow-x: auto;
}

.baza-cms-layout-sider {
    background: var(--baza-cms-layout-sider-background);
    position: fixed;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
}

nz-content {
    padding: var(--layout-header-padding);
}
