{{#>cmsLayoutHtmlEn}}
    <p>
        We are sorry to inform the transfer of {{../amount}} USD as dividends to customer {{../customer}} and Dwolla ID {{../customerDwollaId}} cancelled
    </p>
{{/cmsLayoutHtmlEn}}
