{{#> webLayoutTextEn }}
Hello {{../investorName}},

Your payment was not processed successfully. Please reprocess it after alignment with your bank, or alternatively change your payment to reprocess the transaction

Thank You,

{{clientName}}
{{/webLayoutTextEn}}
