{{#> webLayoutHtmlEn }}
    Hello {{../investorName}},
    <br>
    <br>Your payment was not processed successfully. Please reprocess it after alignment with your bank, or alternatively change your payment to reprocess the transaction
    <br>
    <br>Thank You,
    <br>
    <br> {{../clientName}}
    <br><img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
{{/webLayoutHtmlEn}}
