<app-purchase-dwolla
    [config]="purchaseConfig"
    #purchaseDwolla>
    <app-purchase-details-dwolla
        *ngIf="currentTab === 0"
        target="purchase-details-dwolla"
        [personal$]="personal$"></app-purchase-details-dwolla>

    <app-purchase-agreement-dwolla
        *ngIf="currentTab === 1"
        target="purchase-agreement-dwolla"
        (cancelPurchase)="purchaseDwolla.cancelPurchase()"></app-purchase-agreement-dwolla>

    <app-purchase-payment-dwolla
        *ngIf="currentTab === 2"
        target="purchase-payment-dwolla"
        [initData]="initData$ | async"></app-purchase-payment-dwolla>
</app-purchase-dwolla>
