<nz-modal
    nzClassName="baza-form-builder-upload-queue-modal"
    [(nzVisible)]="isNgModalVisible"
    nzTitle="{{ i18n('modal.title') | translate }}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzClosable]="false"
    [nzMaskClosable]="false">
    <ng-container *nzModalContent>
        <div class="list">
            <div
                class="list-item"
                *ngFor="let file of fileQueue">
                <div class="list-item-progress">
                    <nz-progress
                        [nzPercent]="progressState(file).nzPercent"
                        [nzWidth]="30"
                        nzType="circle"
                        [nzStatus]="progressState(file).nzStatus"></nz-progress>
                </div>
                <div class="list-item-name">
                    <span>{{ file.file.name }}</span>
                </div>
                <div class="list-item-controls">
                    <div
                        class="list-item-controls-item"
                        *ngIf="progressState(file).nzStatus === 'exception'">
                        <button
                            nz-button
                            nz-tooltip
                            nzTooltipTitle="{{ i18n('modal.tooltip.retry') | translate }}"
                            nzShape="circle"
                            (click)="retry(file)">
                            <i
                                nz-icon
                                nzType="sync"></i>
                        </button>
                    </div>
                    <div
                        class="list-item-controls-item"
                        *ngIf="file.isImage">
                        <button
                            nz-button
                            nz-tooltip
                            nzTooltipTitle="{{ i18n('modal.tooltip.crop') | translate }}"
                            (click)="crop(file)"
                            [nzType]="file.isImageCropped ? 'primary' : 'default'"
                            nzShape="circle">
                            <i
                                nz-icon
                                nzType="expand"
                                nzTheme="outline"></i>
                        </button>
                    </div>
                    <div class="list-item-controls-exclude">
                        <button
                            nz-button
                            nzType="default"
                            nzDanger
                            nzShape="circle"
                            nz-tooltip
                            nzTooltipTitle="{{ i18n('modal.tooltip.exclude') | translate }}"
                            (click)="exclude(file)">
                            <i
                                nz-icon
                                nzType="delete"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *nzModalFooter>
        <button
            [disabled]="uploadLoading.isLoading$ | async"
            nz-button
            nzType="primary"
            (click)="handleOk()">
            <ng-container *ngIf="areAllFilesUploaded">
                <span>{{ i18n('modal.save') | translate }}</span>
            </ng-container>
            <ng-container *ngIf="!areAllFilesUploaded">
                <span>{{ i18n('modal.upload') | translate }}</span>
            </ng-container>
        </button>
        <button
            nz-button
            nzType="default"
            (click)="handleCancel()">
            <ng-container *ngIf="isUploading">
                <span>{{ i18n('modal.stop') | translate }}</span>
            </ng-container>
            <ng-container *ngIf="!isUploading">
                <span>{{ i18n('modal.cancel') | translate }}</span>
            </ng-container>
        </button>
    </ng-container>
</nz-modal>
