::ng-deep {
    .baza-form-builder-upload-queue-modal {
        .ant-modal-body {
            padding: 0;
        }
    }
}

.list {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;

    .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        .list-item-progress {
            margin-right: 12px;
        }

        .list-item-name {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 24px;
        }

        .list-item-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .list-item-controls-item {
                margin-right: 12px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
