<nz-layout class="baza-docs-layout">
    <nz-content class="baza-docs-layout--outer-content">
        <nz-layout class="baza-docs-layout--inner-layout">
            <nz-sider nzWidth="320px" nzTheme="light" *ngIf='! state.isSidebarCollapsed'>
                <baza-docs-nav [structure]='resolvedData.structure'></baza-docs-nav>
            </nz-sider>
            <nz-layout>
                <nz-header class='baza-docs-layout--header'>
                    <div class='baza-docs-layout--header-container'>
                        <div class='baza-docs-layout--header-container-left'>
                            <div class='baza-docs-layout--header-action' (click)="toggleSideBar()">
                                <i class="trigger" nz-icon [nzType]="state.isSidebarCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                            </div>
                        </div>
                        <div class='baza-docs-layout--header-container-right'>
                            <div class='baza-docs-layout--header-action' (click)='scrollToTop()'>
                                <i class="to-top" nz-icon nzType='to-top'></i>
                                <span>Scroll to top</span>
                            </div>
                        </div>
                    </div>
                </nz-header>
                <nz-content class="baza-docs-layout--inner-content">
                    <router-outlet></router-outlet>
                </nz-content>
            </nz-layout>
        </nz-layout>
    </nz-content>
</nz-layout>
