<nz-modal
    nzTitle="Summary"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [(nzVisible)]="isVisible">
    <ng-container *nzModalContent>
        <app-payment-header (closeClicked)="onClosed()"></app-payment-header>

        <app-retry-nc-summary [transaction]="transaction"></app-retry-nc-summary>

        <app-retry-nc-list
            *ngIf="{
                bank: bankAccount$ | async,
                card: creditCard$ | async,
                limits: limits$ | async
            } as data"
            [bankAccountResponse]="data.bank"
            [creditCardResponse]="data.card"
            [limits]="data.limits"
            [selectedPaymentMethod]="selectedPaymentMethod"
            (paymentMethodChange)="onPaymentMethodChange($event)"></app-retry-nc-list>

        <a
            class="btn-retry-secondary"
            nz-button
            [routerLink]="['/account', 'payment-method']">
            Edit
        </a>

        <button
            class="btn-retry-primary"
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            (click)="onPay()">
            Pay now
        </button>
    </ng-container>
</nz-modal>
