<div class="steps-content">
    <div
        nz-row
        nzGutter="30"
        class="purchase-details">
        <div
            nz-col
            nzXs="12"
            class="purchase-details__section"
            *ngIf="cart$ | async as entity">
            <ng-container *ngIf="stats$ | async as stats; else noStats">
                <div class="purchase-details__title">
                    {{ wts.getI18nLabel(i18nBasePath, 'title') }}
                </div>

                <p class="purchase-details__descr">
                    {{ wts.getI18nLabel(i18nBasePath, 'description') }}
                </p>

                <div class="purchase-details__subtitle">
                    {{ wts.getI18nLabel(i18nBasePath, 'subtitle') }}
                </div>

                <div class="item-horizontal">
                    <div class="item-horizontal__img">
                        <img
                            class="img-responsive"
                            src="{{ entity.cover.md }}" />
                    </div>

                    <div class="item-horizontal__description">
                        <span class="item-horizontal__title">{{ entity.title }}</span>

                        <p class="item-horizontal__subtext">
                            <ng-container *ngIf="entity.numSharesAvailable > 0 && stats.canPurchase === 0; else minShares">
                                {{ stats.message }}
                            </ng-container>
                        </p>

                        <ng-template #minShares>
                            {{ wts.getI18nLabel(i18nBasePath, 'shares.min', { min: entity.numSharesMin | i18nPlural: shareMapping }) }}

                            <br class="hide-on-tablet hide-desktop" />

                            {{ wts.getI18nLabel(i18nBasePath, 'shares.max', { max: stats.canPurchase | i18nPlural: shareMapping }) }}
                        </ng-template>

                        <div class="share-picker">
                            <button
                                class="share-picker__btn share-picker__btn-left"
                                nz-button
                                [disabled]="numberOfShares === entity.numSharesMin || numberOfShares === 0"
                                (click)="decreaseShares()">
                                <i class="icon icon-minus"></i>
                            </button>

                            <nz-input-number
                                class="share-picker__input"
                                [nzPrecision]="0"
                                [(ngModel)]="numberOfShares"
                                [disabled]="numberOfShares === 0"
                                [class.share-picker__input-error]="
                                    this.numberOfShares &&
                                    (this.numberOfShares < entity.numSharesMin || this.numberOfShares > stats.canPurchase)
                                "
                                (nzBlur)="checkNumberOfShares(entity.numSharesMin, stats.canPurchase)"
                                (keyup.enter)="checkNumberOfShares(entity.numSharesMin, stats.canPurchase)"></nz-input-number>

                            <button
                                class="share-picker__btn share-picker__btn-right"
                                nz-button
                                [disabled]="numberOfShares === stats.canPurchase || entity.numSharesMin > stats.canPurchase"
                                (click)="increaseShares()">
                                <i class="icon icon-plus"></i>
                            </button>

                            <span class="share-picker__multiplier">x {{ entity.pricePerShareCents / 100 | priceCents }}</span>
                        </div>
                    </div>
                </div>

                <app-personal-info
                    [info$]="personal$"
                    (editPersonalInfo)="onEditPersonalInfo()"></app-personal-info>
            </ng-container>
            <ng-template #noStats>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </ng-template>
        </div>

        <div
            nz-col
            nzXs="12"
            class="purchase-details__summary">
            <app-summary
                [entity$]="cart$"
                [numberOfShares$]="numberOfShares$"
                [purchaseStart$]="purchaseStart$"
                [numberOfShares]="numberOfShares"
                [withImage]="false"
                [stats$]="stats$"></app-summary>
        </div>
    </div>
</div>

<div
    nz-row
    nzGutter="30"
    *ngIf="cart$ | async as entity">
    <div
        nz-col
        nzXs="12"
        class="purchase__steps-action"
        *ngIf="stats$ | async as stats">
        <div class="steps-action">
            <button
                class="btn-angle-right"
                nz-button
                nzSize="large"
                nzType="primary"
                type="submit"
                [disabled]="numberOfShares === 0 || +stats.canPurchase === 0 || numberOfShares > stats.canPurchase"
                (click)="onFormSubmit(entity)">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.next') }}
            </button>
        </div>
    </div>
</div>
