@font-face {
    font-family: 'Default-Icons';
    src: url('/assets/fonts/Default-Icons.eot?8c2ab1f30aa47ab0f3de9e1744f97c41#iefix') format('embedded-opentype'),
        url('/assets/fonts/Default-Icons.woff2?8c2ab1f30aa47ab0f3de9e1744f97c41') format('woff2'),
        url('/assets/fonts/Default-Icons.woff?8c2ab1f30aa47ab0f3de9e1744f97c41') format('woff'),
        url('/assets/fonts/Default-Icons.ttf?8c2ab1f30aa47ab0f3de9e1744f97c41') format('truetype');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
    font-family: Default-Icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: '\f101';
}
.icon-alert:before {
    content: '\f102';
}
.icon-angle-left:before {
    content: '\f103';
}
.icon-angle-right:before {
    content: '\f104';
}
.icon-bank:before {
    content: '\f105';
}
.icon-card:before {
    content: '\f106';
}
.icon-check-circle:before {
    content: '\f107';
}
.icon-close:before {
    content: '\f108';
}
.icon-done:before {
    content: '\f109';
}
.icon-down:before {
    content: '\f10a';
}
.icon-edit:before {
    content: '\f10b';
}
.icon-eye-invisible:before {
    content: '\f10c';
}
.icon-eye:before {
    content: '\f10d';
}
.icon-heart-o:before {
    content: '\f10e';
}
.icon-heart:before {
    content: '\f10f';
}
.icon-icons-avatar:before {
    content: '\f110';
}
.icon-info-circle:before {
    content: '\f111';
}
.icon-minus:before {
    content: '\f112';
}
.icon-plus:before {
    content: '\f113';
}
.icon-social-fb:before {
    content: '\f114';
}
.icon-social-instagram:before {
    content: '\f115';
}
.icon-social-linked-in:before {
    content: '\f116';
}
.icon-social-twitter:before {
    content: '\f117';
}
