<div class="filter-mobile">
    <nz-collapse
        class="filter-mobile__collapse"
        [nzBordered]="false"
        [class.is-opened]="isMobileFilterActive">
        <nz-collapse-panel
            [nzHeader]="mobileFilterHeading"
            [nzActive]="isMobileFilterActive"
            (nzActiveChange)="onFilterActiveChange()">
            <ng-template [ngTemplateOutlet]="transactionFilter"></ng-template>

            <div
                nz-row
                class="filter-mobile-row">
                <div
                    nz-col
                    nzXs="6">
                    <button
                        nz-button
                        nzType="default"
                        (click)="collapseFilter()">
                        Cancel
                    </button>
                </div>
                <div
                    nz-col
                    nzXs="6"
                    class="filter-mobile-col__apply">
                    <button
                        nz-button
                        nzType="primary"
                        (click)="applyFilters()">
                        Apply
                    </button>
                </div>
            </div>
        </nz-collapse-panel>
    </nz-collapse>
</div>

<div class="filter-tablet-and-above">
    <ng-template [ngTemplateOutlet]="transactionFilter"></ng-template>
</div>

<ng-template #transactionFilter>
    <div class="filter">
        <div
            nz-row
            class="filter-row filter-row-first">
            <div
                nz-col
                nzXs="12"
                nzMd="6"
                nzLg="6"
                class="filter-col">
                <p class="filter-col__label">Transaction Type</p>
                <nz-select
                    class="filter-col__select"
                    [(ngModel)]="transactionFilterBindings.scope"
                    (ngModelChange)="transactionFilterChanged('scope')">
                    <nz-option
                        nzLabel="All"
                        nzValue="All"></nz-option>
                    <nz-option
                        *ngFor="let item of scopeLabels"
                        [nzLabel]="item"
                        [nzValue]="item"></nz-option>
                </nz-select>
            </div>
            <div
                nz-col
                nzXs="12"
                nzMd="6"
                nzLg="6"
                class="filter-col">
                <p class="filter-col__label">Asset</p>
                <nz-select
                    class="filter-col__select"
                    [(ngModel)]="transactionFilterBindings.asset">
                    <nz-option
                        nzLabel="All"
                        nzValue="All"></nz-option>
                </nz-select>
            </div>
        </div>
        <div
            nz-row
            class="filter-row filter-row-second">
            <div
                nz-col
                nzXs="12"
                nzMd="6"
                nzLg="6"
                class="filter-col">
                <p class="filter-col__label">Time Period</p>
                <nz-select
                    class="filter-col__select"
                    [(ngModel)]="transactionFilterBindings.timePeriod">
                    <nz-option
                        nzLabel="All"
                        nzValue="All"></nz-option>
                </nz-select>
            </div>

            <!-- TODO: Uncomment once the operations endpoint supports filtering by status -->
            <!-- <div
                nz-col
                nzXs="12"
                nzMd="6"
                nzLg="6"
                class="filter-col">
                <p class="filter-col__label">Status</p>
                <nz-select
                    class="filter-col__select"
                    [(ngModel)]="transactionFilterBindings.state"
                    (ngModelChange)="transactionFilterChanged()">
                    <nz-option
                        nzLabel="All"
                        nzValue="All"></nz-option>
                    <nz-option
                        *ngFor="let item of stateLabels"
                        [nzLabel]="item"
                        [nzValue]="item"></nz-option>
                </nz-select>
            </div> -->
        </div>
    </div>
</ng-template>
