@import 'variables/variables';

// Transaction Filter - Mobile
.filter-mobile {
    margin: -17px -15px 15px -15px;

    @media (min-width: @screen-md) {
        display: none;
    }
}

.filter-mobile-row {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px 32px 15px;
    border-bottom: 1px solid @neutral-10;
}

.filter-mobile-col__apply {
    text-align: right;
}

// Transaction Filter - Tablet & Above
.filter-tablet-and-above {
    display: none;
    margin: 22px 0 0 0;

    @media (min-width: @screen-md) {
        display: flex;
        flex-direction: column;
    }
    @media (min-width: @screen-lg) {
        flex-direction: row;
    }
}

// Transaction Filter - Base Styles
.filter {
    display: flex;
    flex: 1 auto;
    flex-direction: column;

    @media (min-width: @screen-lg) {
        flex-direction: initial;
    }
}

.filter-row {
    @media (min-width: @screen-lg) {
        flex: 1 auto;
    }
}

.filter-row-second {
    margin: 0;

    @media (min-width: @screen-md) {
        margin: 28px 0 45px 0;
    }

    @media (min-width: @screen-lg) {
        margin: 0;
    }
}

.filter-col {
    padding-right: 0px;

    @media (min-width: @screen-md) {
        padding-right: 15px;
    }
}

.filter-row-first .filter-col:last-child {
    @media (min-width: @screen-md) {
        padding-right: 0;
    }

    @media (min-width: @screen-lg) {
        padding-right: 15px;
    }
}

.filter-row-second .filter-col:last-child {
    padding-right: 0;
}

.filter-col__label {
    margin-bottom: 8px;
}

.filter-col__select {
    width: 100%;
    margin-bottom: @margin-lg;

    @media (min-width: @screen-md) {
        margin-bottom: 0;
    }
}
