.controls {
    .control {
        margin-bottom: 1rem;

        &:last-child {
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--normal-color);
        }
    }
}

nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.img-container {
    min-height: 350px;
}