<div class="controls">
    <div
        class="control"
        *ngFor="let form of state.form.controls; let i = index"
        [formGroup]="castCurrentForm(form)">
        <baza-field-upload
            formControlName="value"
            [withOptions]="options"
            [enableMultiControls]="state.form.length !== 0"
            [multiIsFirstControl]="i === 0"
            [multiIsLastControl]="i === state.form.controls.length - 1"
            (onAttachment)="onAttachment(i, $event)"
            (onMultiRemove)="onRemove(i)"
            (onMultiMoveUp)="onMoveUp(i)"
            (onMultiMoveDown)="onMoveDown(i)"></baza-field-upload>
    </div>
</div>

<div class="actions">
    <input
        style="display: none"
        type="file"
        #fileInput
        [accept]="accepts"
        [multiple]="options.multiselect"
        (change)="onFileInputChange($event)"
        [disabled]="uploadLoading.isLoading$ | async" />

    <button
        nz-button
        nzType="link"
        (click)="fileInput.click()"
        [disabled]="uploadLoading.isLoading$ | async">
        {{ i18n('add') | translate }}
    </button>
</div>
