<button
    class="buy-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="onBuyClickNcPf()"
    *ngIf="item.status === OFFERING_STATUS.Open">
    <span>Buy Shares (NC)</span>
</button>

<button
    class="buy-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="onBuyClickDwPf()"
    *ngIf="item.status === OFFERING_STATUS.Open">
    <span>Buy Shares (Dwolla)</span>
</button>

<button
    class="buy-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    (click)="onNotifyClick()"
    *ngIf="item.status === OFFERING_STATUS.ComingSoon">
    <i
        class="icon icon-done icon-wt"
        *ngIf="item.subscribeStatus === NOTIFICATION_STATUS.Subscribed"></i>
    Notify Me
</button>

<nz-alert
    class="buy-item__alert buy-item__alert-closed"
    *ngIf="item.status === OFFERING_STATUS.Closed"
    nzType="warning"
    nzMessage="Offering Funded"></nz-alert>
