@import 'variables/variables';
@import 'mixins/mixins';

// buy-btn
.buy-btn {
    margin-bottom: 11px;

    @media (min-width: @screen-md) {
        margin-top: 10px;
        width: 100%;
    }
}

::ng-deep {
    .buy-item__alert {
        margin: auto 0 0 0;
        font-weight: bold;
        margin-bottom: 11px;

        @media (min-width: @screen-md) {
            margin-top: 10px;
        }

        .ant-alert {
            height: 45px;
            border-radius: 4px;
            .ant-alert-content {
                display: flex;
                justify-content: center;
                white-space: nowrap;
            }
        }
    }

    .buy-item__alert-closed {
        .ant-alert {
            background-color: @success-fade-3;
            border: none;
        }
    }
}
