<div
    class="payment-block"
    *ngIf="!dss.isForeignInvestor(initData)">
    <nz-alert
        *ngIf="showDwollaAccountCreationError$ | async"
        class="payment-block__alert"
        nzType="error"
        data-cy="dwolla-available-error"
        [nzMessage]="dwollaAvailableError"></nz-alert>

    <nz-alert
        *ngIf="initData && dwollaCustomerDetail && showDwollaAccountWarning"
        class="payment-block__alert"
        nzType="warning"
        data-cy="dwolla-available-warning"
        [nzMessage]="wts.getI18nLabel(i18nBasePath, 'alerts.createAccount')"></nz-alert>

    <div
        class="payment-collapse"
        *ngIf="dss.isDwollaAvailable(initData); else accountBalanceItem">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel
                class="payment-collapse__panel"
                [nzActive]="isPanelOpen"
                [nzHeader]="accountBalanceItem">
                <ng-template
                    *ngIf="dss.isDwollaCashInAccountLinked(initData)"
                    [ngTemplateOutlet]="bankAccountItem"></ng-template>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <ng-template #accountBalanceItem>
        <app-payment-item
            [isPaymentLinked]="dss.isDwollaAvailable(initData)"
            [isDisabled]="dss.showDwollaAccountCreationError$ | async"
            (clickContainer)="onAccountBalanceClicked()">
            <app-payment-item-header>
                {{ wts.getI18nLabel(i18nBasePath, 'title') }}
            </app-payment-item-header>

            <app-payment-item-detail *ngIf="dss.isDwollaAvailable(initData); else fundYourAccount">
                <div class="balance-subtitle balance-subtitle-unsized">
                    <span class="balance-subtitle__prefix">
                        {{ wts.getI18nLabel(i18nBasePath, 'details.prefix') }}
                    </span>

                    {{ dwollaCustomerDetail?.balance?.value | priceCents }}
                </div>
            </app-payment-item-detail>

            <ng-template #fundYourAccount>
                <app-payment-item-detail>
                    <span class="balance-subtitle balance-subtitle-faded balance-subtitle-unsized balance-subtitle-fluid">
                        {{ wts.getI18nLabel(i18nBasePath, 'details.hint') }}
                    </span>
                </app-payment-item-detail>
            </ng-template>

            <app-payment-item-actions>
                <button
                    nz-button
                    nzSize="small"
                    type="button"
                    nzType="primary"
                    (click)="onAddFundsClicked()">
                    {{ wts.getI18nLabel(i18nBasePath, 'actions.addFunds') }}
                </button>

                <button
                    *ngIf="dss.isDwollaCashInAccountLinked(initData)"
                    class="payment-item-collapse__toggle"
                    nz-button
                    nzSize="small"
                    type="button"
                    (click)="isPanelOpen = !isPanelOpen">
                    <span class="icon icon-down icon-wt"></span>
                </button>
            </app-payment-item-actions>
        </app-payment-item>
    </ng-template>

    <ng-template #bankAccountItem>
        <app-payment-item [isPaymentLinked]="dss.isDwollaAvailable(initData)">
            <app-payment-item-header>
                {{ wts.getI18nLabel(i18nBasePath, 'linkedBank.title') }}

                <span class="payment-item-content__secondary">
                    {{ wts.getI18nLabel(i18nBasePath, 'linkedBank.hint') }}
                </span>
            </app-payment-item-header>

            <app-payment-item-detail>{{ dwollaDefaultCashInAccount?.result?.accountName }}</app-payment-item-detail>
            <app-payment-item-detail>{{ dwollaDefaultCashInAccount?.result?.accountType }}</app-payment-item-detail>

            <app-payment-item-actions>
                <button
                    nz-button
                    nzSize="small"
                    type="button"
                    (click)="triggerDwollaPlaidFlow(false)">
                    {{ wts.getI18nLabel(i18nBasePath, 'linkedBank.actions.update') }}
                </button>
            </app-payment-item-actions>
        </app-payment-item>
    </ng-template>

    <ng-template #dwollaAvailableError>
        <p
            class="wallet-error__desc"
            [innerHTML]="wts.getI18nLabel(i18nBasePath, 'alerts.walletSupport.label') | sanitizeHtml"
            appLinkify
            [links]="walletSupportLinkConfig"></p>
    </ng-template>

    <app-add-funds-modal
        *ngIf="isAddFundsFormVisible"
        [isAddFundsFormVisible]="isAddFundsFormVisible"
        [addFundsForm]="addFundsForm"
        [dwollaDefaultCashInAccount]="dwollaDefaultCashInAccount"
        [transferAmountErrorMessage$]="transferAmountErrorMessage$"
        (handleAddFundsCancel)="handleAddFundsCancel()"
        (handleEditCashInAccount)="handleEditCashInAccount()"
        (submitAddFundsForm)="submitAddFundsForm()"></app-add-funds-modal>

    <app-add-funds-notification [(isVisible)]="isAddFundsNotificationVisible"></app-add-funds-notification>
</div>
