<nz-input-group [nzSuffix]="suffixIconSearch" [formGroup]='state.form'>
    <input [placeholder]="placeholder" nz-input formControlName='search' [nzAutocomplete]="auto"  />
    <nz-autocomplete nzBackfill #auto [compareWith]="compareFun">
        <nz-auto-option *ngFor="let option of state.options" [nzValue]="option" [nzLabel]="option.fullName">
            {{ option.fullName }} (ID: {{ option.id }})
        </nz-auto-option>
    </nz-autocomplete>
</nz-input-group>
<ng-template #suffixIconSearch>
    <i nz-icon nzType="search" class='search' (click)='search()'></i>
</ng-template>
