:host ::ng-deep .component-baza-control-date {
    nz-date-picker {
        width: 100%;
    }
}

:host ::ng-deep .component-baza-control-time {
    nz-time-picker {
        width: 100%;
    }
}

:host ::ng-deep .component-baza-control-select {
    nz-select {
        width: 100%;
    }
}

.button-container {
    float: left;
}
