<form
    nz-form
    [formGroup]="formGroup"
    nzLayout="vertical">
    <ng-container *ngFor="let field of contents.fields; trackBy: trackByFieldId">
        <ng-container *ngIf="acl$(field) | async">
            <ng-container *ngIf="visible$(field) | async">
                <!-- Static Component -->
                <div
                    *ngIf="isStaticComponent(field)"
                    [ngClass]="ngComponentClass(field)">
                    <baza-form-builder-contents-static-component
                        [definition]="castStaticComponent(field)"></baza-form-builder-contents-static-component>
                </div>

                <!-- Form Control Component -->
                <div
                    class="form-control"
                    *ngIf="isFormControlComponent(field)"
                    [ngClass]="ngComponentClass(field)">
                    <baza-form-builder-contents-form-control
                        [childVcr]="childVcr"
                        [definition]="castFormControlComponent(field)"
                        [formGroup]="formGroup"></baza-form-builder-contents-form-control>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</form>
