<div
    nz-row
    nzGutter="30"
    *ngIf="{ taxDocuments: (taxDocuments$ | async) } as data">
    <div
        class="info-block-tax"
        nz-col
        nzXs="12"
        nzMd="10"
        nzLg="9"
        nzXl="8"
        *ngIf="data?.taxDocuments?.items?.length > 0; else noTaxDocuments">
        <div *ngFor="let doc of data.taxDocuments.items">
            <p>
                <a
                    target="_blank"
                    [href]="doc.fileUrl">
                    {{ doc.title }}
                </a>
            </p>

            <div class="info-block info-block-muted">
                {{ doc.description }}
            </div>
        </div>
    </div>
</div>

<ng-template #noTaxDocuments>
    <ng-container>
        <nz-empty
            nzNotFoundContent="No Tax Documents"
            nzNotFoundFooter="You'll see your Tax Documents here"
            [nzNotFoundImage]="imageTpl">
            <ng-template #imageTpl>
                <svg-icon-sprite src="empty"></svg-icon-sprite>
            </ng-template>
        </nz-empty>
    </ng-container>
</ng-template>
