<div class="payment-block">
    <div *ngIf="dss.showDwollaAccountCreationError$ | async">
        <nz-alert
            class="payment-block__alert"
            nzType="error"
            data-cy="dwolla-available-error"
            [nzMessage]="dwollaAvailableError"></nz-alert>
    </div>

    <app-payment-item
        [isPaymentLinked]="dss.isDwollaCashOutAccountLinked(initData)"
        [isDisabled]="dss.showDwollaAccountCreationError$ | async"
        (clickContainer)="onPayoutContainerClicked()"
        *ngIf="!dss.isForeignInvestor(initData)">
        <app-payment-item-header>
            {{ wts.getI18nLabel(i18nBasePath, 'title') }}

            <span
                class="payment-item-content__secondary"
                *ngIf="dss.isDwollaCashOutAccountLinked(initData)">
                {{ wts.getI18nLabel(i18nBasePath, 'hint') }}
            </span>
        </app-payment-item-header>

        <ng-container *ngIf="dss.isDwollaCashOutAccountLinked(initData)">
            <app-payment-item-detail>{{ dwollaDefaultCashOutAccount?.result?.accountName }}</app-payment-item-detail>
            <app-payment-item-detail>{{ dwollaDefaultCashOutAccount?.result?.accountType }}</app-payment-item-detail>
        </ng-container>

        <app-payment-item-actions>
            <button
                nz-button
                nzSize="small"
                type="button"
                (click)="triggerDwollaPlaidFlow()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.update') }}
            </button>
        </app-payment-item-actions>
    </app-payment-item>

    <p
        *ngIf="dss.isForeignInvestor(initData)"
        class="payment-block__text payment-block__text-faded"
        [innerHTML]="wts.getI18nLabel(i18nBasePath, 'alerts.withdrawalSupport.label') | sanitizeHtml"
        appLinkify
        [links]="withdrawalSupportLinkConfig"></p>

    <p
        *ngIf="
            !dss.isDwollaCashOutAccountLinked(initData) &&
            (dss.showDwollaAccountCreationError$ | async) === false &&
            !dss.isForeignInvestor(initData)
        "
        class="payment-block__text payment-block__text-faded">
        {{ wts.getI18nLabel(i18nBasePath, 'alerts.linkBank') }}
    </p>

    <ng-template #dwollaAvailableError>
        <p
            class="wallet-error__desc"
            [innerHTML]="wts.getI18nLabel(i18nBasePath, 'alerts.walletSupport.label') | sanitizeHtml"
            appLinkify
            [links]="walletSupportLinkConfig"></p>
    </ng-template>
</div>
