<ng-container *ngIf='! state.ready'>
    <ng-template #indicatorTemplate><i class='loading' nz-icon nzType="loading"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
</ng-container>
<ng-container *ngIf='state.ready'>
    <div [formGroup]='state.form'>
        <nz-select
            formControlName='values'
            nzPlaceHolder="Please select"
            nzMode='multiple'
            [nzShowSearch]='true'
            [nzOptions]='state.nzOptions'
        ></nz-select>
    </div>
</ng-container>
