<div *ngIf="{ isEditing: isEditing$ | async } as data">
    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="accountDeleteForm"
        #accountDeleteFormEl>
        <div class="heading">
            <h3 class="heading__title">Delete Account</h3>

            <div class="heading__controls">
                <button
                    class="ant-btn-rose"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="!data.isEditing"
                    (click)="toggleEdit()">
                    Delete Account
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="data.isEditing"
                    (click)="toggleEdit()">
                    Cancel
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    nzType="primary"
                    type="submit"
                    nzDanger
                    *ngIf="data.isEditing"
                    [disabled]="bazaFormValidatorService.isFormFilledAndValid(accountDeleteForm)"
                    (click)="confirmAccountDeletion(accountDeleteFormEl)">
                    Delete Account
                </button>
            </div>
        </div>

        <ng-container *ngIf="!data.isEditing">
            <div class="info-block info-block-muted">Delete your profile and account data</div>
        </ng-container>

        <ng-container *ngIf="data.isEditing">
            <div class="info-block info-block-muted">Enter your password to delete your profile and account data</div>
        </ng-container>

        <ng-container *ngIf="data.isEditing">
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="update-profile-error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="password">Password</nz-form-label>

                <nz-form-control nzErrorTip="Password is required">
                    <input
                        type="password"
                        formControlName="password"
                        id="password"
                        nz-input />
                </nz-form-control>
            </nz-form-item>
        </ng-container>
    </form>
</div>

<app-delete-confirm
    (onConfirm)="handleDelete()"
    (onCancel)="handleCancel()"
    [totalPortfolio]="totalPortfolio$"
    [visible]="deleteAccountConfirmVisible"></app-delete-confirm>
