<div class="header-mini">
    <div class="container">
        <app-back-link
            [linkConfig]="backLinkConfig"
            [text]="'Back to Listing Details'"></app-back-link>
    </div>
</div>

<div
    class="container check-account"
    *ngIf="showContainer">
    <div
        nz-row
        nzGutter="30">
        <div
            nz-col
            nzXs="12"
            class="check-account__section">
            <div class="check-account__icon">
                <svg-icon-sprite src="icons-avatar"></svg-icon-sprite>
            </div>

            <ng-container *ngIf="!hasStarted">
                <h2>Suitability Questionnaire</h2>

                <div class="check-account__descr">
                    <p>
                        The SEC requires you to complete an investor questionnaire. All of your information is securely stored by our
                        registered broker, North Capital.
                    </p>
                    <p>Your responses are confidential and they will never be sold or shared.</p>
                    <p>
                        This is a
                        <strong>one-time process</strong>
                        . Once completed you will be able to invest in all offerings.
                    </p>
                </div>
            </ng-container>

            <ng-container *ngIf="hasStarted">
                <h2>Continue Investor Account Verification</h2>

                <div class="check-account__descr">
                    <p>
                        To proceed with the Purchase, you need to finish verification of your Profile. You will be asked to provide details
                        and answer a questionnaire about your Investment Profile.
                    </p>

                    <p>
                        The information we collect will never be shared or sold. It is securely encrypted and only used for purchases on our
                        platform.
                    </p>
                </div>
            </ng-container>

            <a
                class="check-account__continue"
                nz-button
                nzSize="large"
                nzType="primary"
                role="button"
                [routerLink]="buttonLink">
                Continue
            </a>
        </div>
    </div>
</div>
