{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Please reset your password by clicking the following link: <a href='{{ ../link }}'>reset password</a></p>
    <p>If you didn't initiate this request, please contact us</p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
    </p>
{{/webLayoutHtmlEn}}
