<nz-modal
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [nzVisible]="true"
    #withdrawFundsModalEl>
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="withdrawFundsCancel.emit()"></app-payment-header>

        <div class="payment-btn__subtitle">{{ balanceLabel }}</div>

        <app-withdraw-funds-form
            *ngIf="showWithdrawForm"
            #withdrawFundsFormEl
            [withdrawFundsForm]="withdrawFundsForm"
            [walletAmount]="walletAmount"
            [withdrawAmountErrorMessage$]="withdrawAmountErrorMessage$"></app-withdraw-funds-form>

        <div *ngIf="dwollaDefaultCashOutAccount">
            <div class="payment-btn__heading">{{ wts.getI18nLabel(i18nBasePath, 'cashOut.heading') }}</div>

            <ng-container>
                <button
                    class="payment-btn payment-btn-borderless payment-btn-inactive"
                    nz-button
                    nzBlock>
                    <div class="payment-btn-details">
                        <span class="payment-btn-details__title">{{ dwollaDefaultCashOutAccount?.result?.accountName }}</span>
                        <span class="payment-btn-details__description">{{ dwollaDefaultCashOutAccount?.result?.accountType }}</span>
                    </div>
                </button>
            </ng-container>
            <br />

            <button
                class="btn-transfer-primary"
                nz-button
                nzBlock
                nzSize="large"
                nzType="primary"
                [disabled]="bazaFormValidatorService.isFormFilledAndValid(withdrawFundsForm)"
                (click)="onFormSubmit(withdrawFundsModalEl)">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.transfer') }}
            </button>
        </div>
    </ng-container>
</nz-modal>
