.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .flex-left {
        margin-right: 1rem;
        display: flex;
        align-items: center;

        .flex-left-actions {
            margin-right: 1rem;
        }
    }
}
