<ng-template
    #actionsTpl
    let-placement>
    <nz-space>
        <ng-container *ngFor="let action of actionsOfPlacements(placement); trackBy: trackBySID">
            <div *nzSpaceItem>
                <!-- Button or Submit -->
                <ng-container *ngIf="action.type === 'Button' || action.type === 'Submit'">
                    <button
                        nz-button
                        [nzType]="$any(action.options.style || 'default')"
                        [nzDanger]="action.options.isDanger"
                        [disabled]="isButtonDisabled$(action) | async"
                        (click)="onButtonClick(action)">
                        <ng-container *ngIf="action.options.withoutTranslate">{{ action.options.title }}</ng-container>
                        <ng-container *ngIf="!action.options.withoutTranslate">{{ action.options.title | translate }}</ng-container>
                    </button>
                </ng-container>
            </div>
        </ng-container>
    </nz-space>
</ng-template>

<div class="flex">
    <div class="flex-left">
        <div class="flex-left-actions">
            <ng-container *ngTemplateOutlet="actionsTpl; context: { $implicit: 'left' }"></ng-container>
        </div>
        <div class="flex-left-loading">
            <ng-container *ngIf="isLoading">
                <div *nzSpaceItem>
                    <nz-spin nzSimple></nz-spin>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex-right">
        <ng-container *ngTemplateOutlet="actionsTpl; context: { $implicit: 'right' }"></ng-container>
    </div>
</div>
