<app-payment-item
    [isPaymentLinked]="dss.isNCBankAccountAvailable(bankAccountResponse)"
    (clickContainer)="updateBankAccount()">
    <app-payment-item-header>
        {{ wts.getI18nLabel(i18nBasePath, 'title') }}

        <span
            class="payment-item-content__secondary"
            *ngIf="dss.isNCBankAccountAvailable(bankAccountResponse)">
            {{ wts.getI18nLabel(i18nBasePath, 'hint') }}
        </span>
    </app-payment-item-header>

    <ng-container *ngIf="dss.isNCBankAccountAvailable(bankAccountResponse)">
        <app-payment-item-detail>
            {{ wts.getI18nLabel(i18nBasePath, 'details.name') }} {{ bankAccountResponse?.details.accountName }}
        </app-payment-item-detail>

        <app-payment-item-detail>
            {{ wts.getI18nLabel(i18nBasePath, 'details.number') }} {{ bankAccountResponse?.details.accountNumber | lastDigits }}
        </app-payment-item-detail>

        <app-payment-item-detail>
            {{ wts.getI18nLabel(i18nBasePath, 'details.type') }} {{ bankAccountResponse?.details.accountType }}
        </app-payment-item-detail>
    </ng-container>

    <app-payment-item-actions>
        <button
            nz-button
            nzSize="small"
            type="button"
            (click)="updateBankAccount()">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.update') }}
        </button>
    </app-payment-item-actions>
</app-payment-item>

<app-payment-bank-account-modal
    *ngIf="isBankDetailsFormVisible"
    [bankDetailsForm]="bankDetailsForm"
    [isBankDetailsFormVisible]="isBankDetailsFormVisible"
    (handleBankDetailsCancel)="handleBankDetailsCancel()"
    (submitManualBankDetailsForm)="submitManualBankDetailsForm()"></app-payment-bank-account-modal>
