<div class="payment-header">
    <a
        class="ant-modal-close-x"
        role="button"
        (click)="onCloseClick()">
        <i class="icon icon-close payment-header-icon"></i>
    </a>

    <a
        class="ant-modal-close-x"
        role="button"
        (click)="onBackClick()"
        *ngIf="isBackBtnVisible">
        <i class="icon icon-angle-left icon-wt payment-header-icon"></i>
    </a>
</div>
