<ng-template #nzModal>
    <div class='container'>
        <div class='container-data'>
            <baza-cms-crud-layout [config]='state.config'></baza-cms-crud-layout>
        </div>
    </div>
</ng-template>
