<ng-container *ngIf="imageSources.length > 1">
    <div class="carousel-counter">
        <span>{{ imageIndex }}/{{ imageSources.length }}</span>
    </div>

    <div class="carousel-arrows">
        <div
            class="arrow-icon-container"
            (click)="carousel.pre()">
            <i
                nz-icon
                nzType="arrow-left"></i>
        </div>

        <div
            class="arrow-icon-container"
            (click)="carousel.next()">
            <i
                nz-icon
                nzType="arrow-right"></i>
        </div>
    </div>
</ng-container>

<nz-carousel
    #carousel
    (nzAfterChange)="updateImageIndex(carousel.activeIndex)"
    [nzDots]="false">
    <img
        *ngFor="let imageSrc of imageSources; let i = index"
        (click)="openImageGallery(i)"
        draggable="false"
        nz-carousel-content
        class="card-cover__image carousel-image"
        [src]="imageSrc" />
</nz-carousel>
