@import 'variables/variables';
@import 'mixins/mixins';

.carousel-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    user-select: none;
    pointer-events: none;
}

.carousel-image {
    cursor: pointer;
}

.carousel-counter {
    position: absolute;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 44px;
    height: 25px;
    opacity: 0.4;
    border-radius: 4px;
    background-color: #222222;
    margin: 12px;
    z-index: 1;

    & span {
        opacity: 1;
    }
}

.arrow-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #222222;
    transition: opacity @animation-duration-slow ease-in-out;
    opacity: 0.4;

    &:hover {
        opacity: 0.6;
    }
}
