<span *ngIf="errors && errors.required">Password is required</span>

<ul
    class="validator"
    *ngIf="!errors || !errors.required">
    <li
        class="validator__item"
        [ngClass]="{
            'validator__item-error': errors && errors.minlength,
            'validator__item-success': !errors || !errors.minlength
        }">
        8 characters
    </li>

    <li
        class="validator__item"
        [ngClass]="{
            'validator__item-error': errors && errors.lowercase,
            'validator__item-success': !errors || !errors.lowercase
        }">
        1 lowercase letter
    </li>

    <li
        class="validator__item"
        [ngClass]="{
            'validator__item-error': errors && errors.uppercase,
            'validator__item-success': !errors || !errors.uppercase
        }">
        1 uppercase letter
    </li>

    <li
        class="validator__item"
        [ngClass]="{
            'validator__item-error': errors && errors.number,
            'validator__item-success': !errors || !errors.number
        }">
        1 number
    </li>

    <li
        class="validator__item"
        [ngClass]="{
            'validator__item-error': errors && errors.specialsymbol,
            'validator__item-success': !errors || !errors.specialsymbol
        }">
        1 special character
    </li>
</ul>
