// validator
.validator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 3px 0 0 0;
    padding: 0;
}

// validator item
.validator__item {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #9c9c9d;

    &:not(:last-child):after {
        content: '·';
        color: #9c9c9d;
        margin-right: 4px;
    }
}

// validator item-success
.validator__item-success {
    color: #009d21;
}

// validator item-error
.validator__item-error {
    color: #db2a27;
}
