<section class="payment-section">
    <ng-content select="[headerSection]"></ng-content>

    <ng-container
        *ngIf="
            {
                bankAccount: bankAccount$ | async,
                creditCard: creditCard$ | async,
                limits: limits$ | async,
                cashInAccount: dwollaDefaultCashInAccount$ | async,
                dwollaCustomerDetail: dwollaCustomerDetail$ | async
            } as data;
            else skeleton
        ">
        <div
            *ngIf="paymentMethodsConfig?.showAccountBalance && !dss.isForeignInvestor(initData)"
            nz-row
            class="payment-section__item">
            <div
                nz-col
                nzXs="12">
                <app-dwolla-account-balance
                    [config]="accountBalanceConfig"
                    [initData]="initData"
                    [dwollaCustomerDetail]="data?.dwollaCustomerDetail"
                    [dwollaDefaultCashInAccount]="data?.cashInAccount"
                    (refreshCashInData)="onRefreshCashInData()"></app-dwolla-account-balance>
            </div>
        </div>

        <div
            *ngIf="paymentMethodsConfig?.showBankAccount"
            nz-row
            class="payment-section__item">
            <div
                nz-col
                nzXs="12">
                <app-dwolla-bank-account
                    [bankAccountResponse]="data?.bankAccount"
                    (refreshBankData)="onRefreshBankData()"></app-dwolla-bank-account>
            </div>
        </div>

        <div
            *ngIf="paymentMethodsConfig?.showCreditCard"
            nz-row
            class="payment-section__item">
            <div
                nz-col
                nzXs="12">
                <app-dwolla-credit-card
                    [creditCardResponse]="data?.creditCard"
                    [limits]="data?.limits"
                    (refreshCardData)="onRefreshCardData()"></app-dwolla-credit-card>
            </div>
        </div>
    </ng-container>
</section>

<ng-template #skeleton>
    <div
        nz-row
        class="payment-section__item">
        <div
            nz-col
            nzXs="12">
            <nz-skeleton [nzParagraph]="{ rows: 6 }"></nz-skeleton>
        </div>
    </div>
</ng-template>
