<ng-container *ngIf="bankAccountResponse?.isAvailable">
    <button
        class="payment-btn payment-btn-inverse"
        nz-button
        nzBlock
        (click)="onBankAccountSelect()">
        <div class="payment-btn__icon">
            <i class="icon icon-bank payment-btn__select-method"></i>
        </div>

        <div class="payment-btn__title">
            {{ wts.getI18nLabel(i18nBasePath, 'bank.title') }} {{ bankAccountResponse?.details?.accountNumber | lastDigits }}
        </div>

        <div class="payment-btn__arrow">
            <app-payment-radio [isSelected]="selectedPaymentMethod === PAYMENT_METHOD_TYPE.bankAccount"></app-payment-radio>
        </div>
    </button>
</ng-container>

<ng-container *ngIf="creditCardResponse?.isAvailable">
    <button
        class="payment-btn payment-btn-inverse"
        nz-button
        nzBlock
        [disabled]="isPurchaseAboveLimit"
        (click)="onCreditCardSelect()"
        *ngIf="limits$ | async as limits">
        <div class="payment-btn__icon">
            <i class="icon icon-card payment-btn__select-method"></i>
        </div>

        <div class="payment-btn__title">
            {{ wts.getI18nLabel(i18nBasePath, 'card.title') }} {{ creditCardResponse?.creditCard?.creditCardNumber | lastDigits }}

            <div
                class="payment-btn__info"
                *ngIf="isPurchaseAboveLimit">
                {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | price) }}
            </div>
        </div>

        <div class="payment-btn__arrow">
            <app-payment-radio
                [isDisabled]="isPurchaseAboveLimit"
                [isSelected]="selectedPaymentMethod === PAYMENT_METHOD_TYPE.creditCard"></app-payment-radio>
        </div>
    </button>
</ng-container>

<button
    class="payment-btn payment-btn-inverse"
    nz-button
    nzBlock
    (click)="onPaymentMethodUpdate()">
    <div class="payment-btn__title">
        {{ wts.getI18nLabel(i18nBasePath, 'actions.update') }}
    </div>

    <div class="payment-btn__arrow">
        <i class="icon icon-angle-right icon-wt"></i>
    </div>
</button>
