<nz-card
    class="item-card"
    [nzBordered]="false">
    <div>
        <h2 class="item-card__title">
            {{ item.pricePerShareCents / 100 | priceCents }}

            <small class="item-card__share">/ share</small>
        </h2>

        <nz-progress
            class="item-card__progress"
            nzStrokeLinecap="square"
            [class.card-info__funded-progress-funded]="item.status === OFFERING_STATUS.Closed"
            [nzFormat]="formatNoText"
            [nzPercent]="item.percentFunded"
            [nzStrokeWidth]="5"
            [nzWidth]="5"></nz-progress>

        <div
            class="item-card__min item-card__min-fixed"
            *ngIf="item.status !== OFFERING_STATUS.Closed && item.numSharesMin >= 2"
            [innerHtml]="item.numSharesMin | i18nPlural: shareMapping"></div>

        <div class="item-card__row">
            <span class="card-info__name">Offering Amount</span>
            <span class="card-info__amount">{{ item.totalSharesValueCents / 100 | price }}</span>
        </div>

        <nz-divider class="item-card__divider"></nz-divider>

        <div class="item-card__row">
            <span class="card-info__name">Remaining shares</span>
            <span class="card-info__amount">{{ item.numSharesAvailable | number }}</span>
        </div>

        <nz-divider class="item-card__divider"></nz-divider>

        <div class="item-card__row">
            <span class="card-info__name">Funded</span>
            <span class="card-info__amount">{{ item.percentFunded | number }}%</span>
        </div>
    </div>

    <div>
        <app-item-page-buy
            [item]="item"
            [user]="user"></app-item-page-buy>

        <div
            class="item-card__min"
            *ngIf="item.status !== OFFERING_STATUS.Closed && item.numSharesMin >= 2"
            [innerHtml]="item.numSharesMin | i18nPlural: shareMapping"></div>
    </div>
</nz-card>
