<ng-container *ngIf="verification$ | async">
    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="verificationInvestorForm"
        #investorFormEl>
        <div class="steps-content">
            <div
                nz-row
                nzGutter="30">
                <div
                    nz-col
                    nzXs="12"
                    class="verification__section">
                    <div class="verification__title">
                        {{ wts.getI18nLabel(i18nBasePath, 'title') }}
                    </div>

                    <div class="verification__subtitle">
                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.label') }}
                    </div>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="isAccreditedInvestorErrorTemplate">
                            <nz-radio-group
                                formControlName="isAccreditedInvestor"
                                nzName="isAccreditedInvestor">
                                <label
                                    nz-radio
                                    [nzValue]="true">
                                    <span class="ant-radio-title">
                                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.yesOption.label') }}
                                    </span>

                                    <span class="ant-radio-description">
                                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.yesOption.descr') }}
                                    </span>
                                </label>

                                <label
                                    nz-radio
                                    [nzValue]="false">
                                    <span class="ant-radio-title">
                                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.noOption.label') }}
                                    </span>

                                    <span class="ant-radio-description">
                                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAccreditedInvestor.noOption.descr') }}
                                    </span>
                                </label>
                            </nz-radio-group>
                        </nz-form-control>

                        <ng-template
                            #isAccreditedInvestorErrorTemplate
                            let-control>
                            <span data-cy="is-accredited-investor-input-error">
                                {{ getErrorMessage(control, 'isAccreditedInvestor') }}
                            </span>
                        </ng-template>
                    </nz-form-item>

                    <div class="verification__subtitle">
                        {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.label') }}
                    </div>

                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="isAssociatedWithFINRAErrorTemplate">
                            <nz-radio-group
                                formControlName="isAssociatedWithFINRA"
                                nzName="isAssociatedWithFINRA">
                                <label
                                    nz-radio
                                    [nzValue]="true">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.yesOption.label') }}
                                </label>

                                <label
                                    nz-radio
                                    [nzValue]="false">
                                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'isAssociatedWithFINRA.noOption.label') }}
                                </label>
                            </nz-radio-group>
                        </nz-form-control>

                        <ng-template
                            #isAssociatedWithFINRAErrorTemplate
                            let-control>
                            <span data-cy="is-associated-with-finra-input-error">
                                {{ getErrorMessage(control, 'isAssociatedWithFINRA') }}
                            </span>
                        </ng-template>
                    </nz-form-item>
                </div>
            </div>
        </div>

        <ng-container *ngIf="loadConsentSection">
            <div
                nz-row
                nzGutter="30">
                <div
                    nz-col
                    nzXs="12"
                    class="verification__steps-action">
                    <ng-container [ngSwitch]="showConsentCheckbox()">
                        <ng-template
                            *ngSwitchCase="true"
                            [ngTemplateOutlet]="stepActionWithDwollaConsent"></ng-template>

                        <ng-template
                            *ngSwitchCase="false"
                            [ngTemplateOutlet]="stepActionWithoutDwollaConsent"></ng-template>
                    </ng-container>
                </div>
            </div>

            <ng-template #stepActionWithoutDwollaConsent>
                <div class="steps-action steps-note">
                    <ng-template [ngTemplateOutlet]="stepActionButtons"></ng-template>
                </div>
            </ng-template>

            <ng-template #stepActionWithDwollaConsent>
                <div class="steps-action-with-header">
                    <div class="steps-note">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="dwollaConsentProvidedErrorTemplate">
                                <nz-checkbox-wrapper class="steps-checkbox">
                                    <label
                                        nz-checkbox
                                        formControlName="dwollaConsentProvided"></label>
                                    <span
                                        class="steps-checkbox__desc"
                                        [innerHTML]="wts.getI18nLabel(i18nFormFieldsPath, 'dwollaConsentProvided.descr') | sanitizeHtml"
                                        appLinkify
                                        [links]="consentLinksConfig"
                                        (click)="acceptConsent()"></span>
                                </nz-checkbox-wrapper>
                            </nz-form-control>

                            <ng-template
                                #dwollaConsentProvidedErrorTemplate
                                let-control>
                                <span data-cy="dwolla-consent-provided-input-error">
                                    {{ getErrorMessage(control, 'dwollaConsentProvided') }}
                                </span>
                            </ng-template>
                        </nz-form-item>
                    </div>

                    <div class="steps-action">
                        <ng-template [ngTemplateOutlet]="stepActionButtons"></ng-template>
                    </div>
                </div>
            </ng-template>
        </ng-container>

        <ng-template #stepActionButtons>
            <button
                nz-button
                nzSize="large"
                nzType="primary"
                type="submit"
                (click)="onFormSubmit(investorFormEl)">
                {{ wts.getI18nLabel(i18nBasePath, 'steps.confirmBtnLabel') }}
            </button>

            <a
                class="btn-angle-left"
                nz-button
                nzSize="large"
                nzType="default"
                role="button"
                (click)="backToPreviousStep()">
                {{ wts.getI18nLabel(i18nBasePath, 'steps.backBtnLabel') }}
            </a>
        </ng-template>
    </form>

    <app-verification-file-upload [isVisible]="fileUploading"></app-verification-file-upload>
</ng-container>
