@rose: #ffb2a8;
@rose-dark: #f5857a;
@error-color-dark: #8f0b12;
@success-secondary: #50a43b;
@grayscale-black: #222222;

@success-fade-3: fade(#50a43b, 30%);
@success-fade-8: fade(#50a43b, 80%);
@grayscale-black-fade-6: fade(@grayscale-black, 60%);
@grayscale-black-fade-8: fade(@grayscale-black, 80%);

@text-color-disabled: rgba(@black, 0.3);

@neutral-2: darken(@white, 2%);
@neutral-3: darken(@white, 4%);
@neutral-4: darken(@white, 6%);
@neutral-5: darken(@white, 15%);
@neutral-6: darken(@white, 25%);
@neutral-7: darken(@white, 45%);
@neutral-8: darken(@white, 65%);
@neutral-9: darken(@white, 74%);
@neutral-10: darken(@white, 85%);
@warning-color2: #ffe596;
@warning-icon-color: #f3bc41;
