@gutter: 30px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
@container-max-width-sm: 540px;
@container-max-width-md: 720px;
@container-max-width-lg: 962px;
@container-max-width-xl: 1170px;
@container-max-width-xxl: 1570px;
