<div class="header-mini">
    <div class="container">
        <app-back-link
            [leaveConfirmationTitle]="wts.getI18nLabel(i18nBasePath, 'backLink.confirmation.title')"
            [leaveConfirmationText]="wts.getI18nLabel(i18nBasePath, 'backLink.confirmation.text')"
            [linkConfig]="backLinkConfig"
            [showLeaveConfirmation]="true"
            [text]="wts.getI18nLabel(i18nBasePath, 'backLink.linkText')"></app-back-link>
    </div>
</div>

<router-outlet></router-outlet>
