<div class="banner">
    <div class="container banner__container">
        <div
            nz-row
            nzGutter="30"
            class="banner__row">
            <div
                nz-col
                nzXs="12"
                class="banner__col">
                <div
                    class="banner__subtitle"
                    [innerHtml]="config?.subtitle"></div>

                <div
                    class="banner__heading"
                    [innerHtml]="config?.heading"></div>

                <div
                    class="banner__subheading"
                    [innerHtml]="config?.subHeading"></div>

                <div class="banner__btn">
                    <a
                        nz-button
                        nzSize="large"
                        nzType="primary"
                        (click)="uts.navigate(config?.btnLink)">
                        {{ uts.getUrlText(config?.btnLink) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
