<div class='form --baza-auth-forms'>
    <div class='message'>
        <span>{{ i18n('select') | translate }}</span>
    </div>
    <div class='method-list'>
        <div role='button' class='method' *ngFor='let method of state.resolvedData.methods' (click)='useMethod(method)'>
            <div class='method-icon'>
                <i nz-icon [nzType]="methodIcon(method)" nzTheme="outline"></i>
            </div>
            <div class='method-title'>
                <span>{{ methodTitle(method) | translate }}</span>
            </div>
        </div>
    </div>
    <div class='sign-in'>
        <a [routerLink]='["/auth/sign-in"]'>{{ i18n('actions.cancel') | translate }}</a>
    </div>
</div>
