<form
    class="ant-form-inverse"
    nz-form
    nzLayout="vertical"
    [formGroup]="addFundsForm"
    #addFundsFormEl>
    <div class="transfer-amount">
        <nz-form-item *ngIf="transferAmountErrorMessage$ | async as message; else transferAmountWarningMessage">
            <nz-alert
                class="transfer-amount__alert"
                data-cy="transfer-amount-error"
                [nzMessage]="transferAmountError"
                [nzType]="message?.type"></nz-alert>
        </nz-form-item>

        <ng-template #transferAmountWarningMessage>
            <nz-form-item>
                <nz-alert
                    class="transfer-amount__alert"
                    data-cy="transfer-amount-warning"
                    [nzMessage]="wts.getI18nLabel(i18nBasePath, 'alerts.amountWarning')"
                    nzType="warning"></nz-alert>
            </nz-form-item>
        </ng-template>

        <nz-form-item>
            <nz-form-label nzFor="transferAmount">
                {{ wts.getI18nLabel(i18nFormFieldsPath, 'amount.label') }}
            </nz-form-label>

            <nz-form-control [nzErrorTip]="transferAmountErrorTemplate">
                <nz-input-number
                    class="transfer-amount__input"
                    formControlName="transferAmount"
                    id="transferAmount"
                    name="transferAmount"
                    type="number"
                    [nzPrecisionMode]="wts.amountValidationConfig.precisionMode"
                    [nzMin]="wts.amountValidationConfig.minValue"
                    [nzMax]="wts.amountValidationConfig.maxValue"
                    [nzStep]="wts.amountValidationConfig.step"
                    [nzPrecision]="wts.amountValidationConfig.precision"
                    [nzFormatter]="wts.dollarFormat"
                    [nzParser]="wts.dollarParse"
                    appAmountMask
                    [maxLength]="amountValidationMaxLength"></nz-input-number>
            </nz-form-control>
            <ng-template
                #transferAmountErrorTemplate
                let-control>
                <span data-cy="transfer-amount-input-error">
                    {{ getErrorMessage(control, 'amount') }}
                </span>
            </ng-template>
        </nz-form-item>
    </div>
</form>

<ng-template #transferAmountError>
    <ng-container *ngIf="transferAmountErrorMessage$ | async as message">
        <p [innerHtml]="message?.text"></p>
    </ng-container>
</ng-template>
