.items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.legend {
    display: flex;
    align-items: center;

    .legend-item {
        display: flex;
        align-items: center;
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }

    .legend-item-box {
        border-radius: 3px;
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}
