<div class="items">
    <ng-container *ngFor="let item of items; trackBy: trackBySID">
        <ng-container *ngIf="visible$(item) | async">
            <div class="item">
                <ng-container *ngIf="isBazaCrudItemButton(item)">
                    <button
                        nz-button
                        [nzType]="$any(item.options.type || 'default')"
                        [nzDanger]="item.options.isDanger"
                        [disabled]="disabled$(item.options) | async"
                        (click)="item.options.callback()">
                        <i
                            nz-icon
                            [nzType]="item.options.icon"
                            *ngIf="item.options.icon"></i>
                        <ng-container *ngIf="item.options.withoutTranslation">{{ item.options.title }}</ng-container>
                        <ng-container *ngIf="!item.options.withoutTranslation">{{ item.options.title | translate }}</ng-container>
                    </button>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemSearch(item)">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input
                            type="text"
                            nz-input
                            [formControl]="searchControl"
                            (keyup.escape)="searchClear(item.options)"
                            (keyup.enter)="searchSubmit(item.options)"
                            placeholder="{{ item.options.placeholder || i18n('search') | translate }}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i
                            nz-icon
                            nzType="search"
                            (click)="searchSubmit(item.options)"></i>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemSearchField(item)">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input
                            type="text"
                            nz-input
                            [formControl]="item.options.control"
                            (keyup.escape)="searchClear(item.options)"
                            (keyup.enter)="searchSubmit(item.options)"
                            placeholder="{{ item.options.placeholder || i18n('search') | translate }}" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i
                            nz-icon
                            nzType="search"
                            (click)="searchSubmit(item.options)"></i>
                    </ng-template>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemTabs(item)">
                    <ul
                        nz-menu
                        nzTheme="light"
                        nzMode="horizontal"
                        [nzSelectable]="false">
                        <ng-container *ngFor="let tab of item.options.tabs; trackBy: trackBySID">
                            <ng-container *ngIf="tab.onClick">
                                <li
                                    nz-menu-item
                                    [nzSelected]="tab.isActive$ | async"
                                    (click)="tab.onClick(tab.id, tab)">
                                    <ng-container *ngIf="tab.withoutTranslate">{{ tab.title }}</ng-container>
                                    <ng-container *ngIf="!tab.withoutTranslate">{{ tab.title | translate }}</ng-container>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="tab.routerLink">
                                <li
                                    nz-menu-item
                                    nzMatchRouter
                                    [routerLink]="tab.routerLink.commands"
                                    [queryParams]="tab.routerLink.navigationExtras?.queryParams"
                                    [queryParamsHandling]="tab.routerLink.navigationExtras?.queryParamsHandling"
                                    [preserveFragment]="tab.routerLink.navigationExtras?.preserveFragment"
                                    [skipLocationChange]="tab.routerLink.skipLocationChange"
                                    [replaceUrl]="tab.routerLink.replaceUrl"
                                    [nzMatchRouterExact]="tab.routerLinkExact">
                                    <ng-container *ngIf="tab.withoutTranslate">{{ tab.title }}</ng-container>
                                    <ng-container *ngIf="!tab.withoutTranslate">{{ tab.title | translate }}</ng-container>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemCheckbox(item)">
                    <nz-checkbox-wrapper>
                        <label
                            nz-checkbox
                            [formControl]="item.options.control">
                            <ng-container *ngIf="!item.options.withoutTranslation">
                                <span
                                    ngx-translate
                                    [translateParams]="item.options.translateParams">
                                    {{ item.options.label }}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="item.options.withoutTranslation">
                                <span>{{ item.options.label }}</span>
                            </ng-container>
                        </label>
                    </nz-checkbox-wrapper>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemExportToCsv(item)">
                    <button
                        nz-button
                        [nzType]="$any(item.options.type || 'default')"
                        [nzDanger]="item.options.isDanger"
                        [disabled]="(disabled$($any(item.options)) | async) || (csvExportLoading.isLoading$ | async)"
                        (click)="exportToCsv(item)">
                        <i
                            *ngIf="item.options.icon"
                            nz-icon
                            [nzType]="item.options.icon"></i>
                        <ng-container *ngIf="item.options.withoutTranslation">{{ item.options.title }}</ng-container>
                        <ng-container *ngIf="!item.options.withoutTranslation">{{ item.options.title | translate }}</ng-container>
                    </button>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemImportToCsv(item)">
                    <input
                        style="display: none"
                        type="file"
                        #fileInput
                        accept=".csv"
                        (change)="onFileInputChange($event, item)"
                        [disabled]="(disabled$($any(item.options)) | async) || (csvExportLoading.isLoading$ | async)" />
                    <button
                        nz-button
                        [nzType]="$any(item.options.type || 'default')"
                        [nzDanger]="item.options.isDanger"
                        [disabled]="(disabled$($any(item.options)) | async) || (csvExportLoading.isLoading$ | async)"
                        (click)="fileInput.click()">
                        <i
                            *ngIf="item.options.icon"
                            nz-icon
                            [nzType]="item.options.icon"></i>
                        <ng-container *ngIf="item.options.withoutTranslation">{{ item.options.title }}</ng-container>
                        <ng-container *ngIf="!item.options.withoutTranslation">{{ item.options.title | translate }}</ng-container>
                        <i
                            *ngIf="item.options.hint"
                            nz-tooltip
                            [nzTooltipTitle]="item.options.hint | translate"
                            nz-icon
                            nzType="info-circle"></i>
                    </button>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemLegend(item)">
                    <div class="legend">
                        <ng-container *ngFor="let legendItem of item.options.items">
                            <div class="legend-item">
                                <div
                                    class="legend-item-box"
                                    [ngStyle]="legendItemBoxNgStyle(legendItem)"></div>
                                <div class="legend-item-label">
                                    <ng-container *ngIf="!legendItem.withoutTranslation">
                                        <span
                                            ngx-translate
                                            [translateParams]="legendItem.translateParams">
                                            {{ legendItem.label }}
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="legendItem.withoutTranslation">
                                        <span>{{ legendItem.label }}</span>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="isBazaCrudItemDateRange(item)">
                    <nz-range-picker
                        [nzMode]="item.options.nzMode"
                        [formControl]="dateRangeControl"></nz-range-picker>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>
