<div class="container">
    <div class="preview --disable-user-select">
        <div class="preview-bg"></div>
        <div class="preview-icon">
            <i
                nz-icon
                nzType="zoom-in"></i>
        </div>
    </div>
    <img
        nz-image
        [nzSrc]="url"
        [nzFallback]="fallback"
        alt="" />
</div>
