.container {
    background: var(--background-color-light);
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .preview {
            display: block;
        }
    }

    .preview {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        display: none;
        pointer-events: none;

        .preview-bg {
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
            background: var(--white);
            opacity: 0.5;
        }

        .preview-icon {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            z-index: 2;

            i {
                color: var(--black);
                zoom: 2.5;
            }
        }
    }

    img {
        z-index: 1;
        max-width: 100%;
        max-height: 400px;
    }
}
