<div class="purchase__subheading">
    {{ wts.getI18nLabel(i18nBasePath, 'title') }}
</div>

<ng-container [ngSwitch]="dataLoaded">
    <ng-container *ngSwitchCase="false">
        <div
            nz-row
            nzGutter="30">
            <div
                class="purchase__skeleton"
                nz-col
                nzXs="12">
                <nz-skeleton></nz-skeleton>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <!-- Account Balance Section -->
        <ng-container *ngIf="!isForeignInvestor">
            <div
                class="payment-block"
                nz-row
                nzGutter="30"
                *ngIf="showDwollaAccountCreationError || (showDwollaLowFundsError && accountBalanceEditMode)">
                <div
                    *ngIf="showDwollaAccountCreationError"
                    class="payment-block__error"
                    nz-col
                    nzXs="12">
                    <nz-alert
                        class="payment-block__alert"
                        nzType="error"
                        data-cy="dwolla-available-error"
                        [nzMessage]="dwollaAvailableError"></nz-alert>
                </div>

                <div
                    *ngIf="showDwollaLowFundsError && accountBalanceEditMode"
                    class="payment-block__warning"
                    nz-col
                    nzXs="12">
                    <nz-alert
                        class="payment-block__alert"
                        nzType="warning"
                        data-cy="dwolla-low-funds-error"
                        [nzMessage]="wts.getI18nLabel(i18nBasePath, 'errors.insufficientFunds')"></nz-alert>
                </div>
            </div>

            <div
                nz-row
                nzGutter="30">
                <div
                    class="purchase__block"
                    nz-col
                    nzXs="12">
                    <app-account-balance-card [config]="accountBalanceConfig"></app-account-balance-card>
                </div>
            </div>
        </ng-container>

        <!-- NC ACH Bank Account Section -->
        <div
            nz-row
            nzGutter="30">
            <div
                class="purchase__block"
                nz-col
                nzXs="12">
                <app-payment-bank-account
                    [style]="'Bordered'"
                    [srcData]="bankAccountResponse"
                    [disablePlaidACHLinking]="true"
                    [isAddModeOn]="manualBankAccountAddMode"
                    [isEditModeOn]="manualBankAccountEditMode"
                    (manualLinkClicked)="onManualLink()"></app-payment-bank-account>
            </div>
        </div>

        <!-- Credit Card Section -->
        <div
            nz-row
            nzGutter="30">
            <div
                class="purchase__block"
                nz-col
                nzXs="12">
                <app-payment-card
                    [style]="'Bordered'"
                    [srcData]="creditCardResponse"
                    [isPurchaseAboveLimit]="isPurchaseAboveLimit"
                    [limits$]="limits$"
                    [isForeignInvestor]="isForeignInvestor"
                    [isAddModeOn]="cardAddMode"
                    [isEditModeOn]="cardEditMode"
                    (handleAddCard)="handleAddCard()"></app-payment-card>
            </div>
        </div>

        <!-- Edit CTA -->
        <a
            class="purchase__edit-cta"
            role="button"
            *ngIf="isPaymentMethodEditVisible"
            (click)="onOpenPaymentEditModals()">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.editMethod') }}
        </a>
    </ng-container>
</ng-container>

<ng-template #dwollaAvailableError>
    <p
        class="wallet-error__desc"
        [innerHTML]="dwollaAvailableError"
        appLinkify
        [links]="accountBalanceLinksConfig"></p>
</ng-template>

<ng-template #dwollaLowFundsError>
    <p
        class="wallet-error__desc"
        [innerHTML]="dwollaLowFundsError"
        *ngIf="showDwollaLowFundsError"></p>
</ng-template>

<app-payment-bank-account-modal
    *ngIf="isBankDetailsFormVisible"
    [bankDetailsForm]="bankDetailsForm"
    [isBankDetailsFormVisible]="isBankDetailsFormVisible"
    (handleBankDetailsCancel)="handleBankDetailsCancel()"
    (submitManualBankDetailsForm)="submitManualBankDetailsForm()"></app-payment-bank-account-modal>

<app-payment-card-modal
    *ngIf="isCardDetailsFormVisible"
    [cardDetailsForm]="cardDetailsForm"
    [isCardDetailsFormVisible]="isCardDetailsFormVisible"
    (handleCardDetailsCancel)="handleCardDetailsCancel()"
    (submitCardForm)="submitCardForm()"></app-payment-card-modal>

<app-payment-edit
    *ngIf="isPaymentEditModalVisible"
    [config]="config"
    [dwollaCustomerDetail]="dwollaCustomerDetail"
    [bankAccountResponse]="bankAccountResponse"
    [bankDetailsForm]="bankDetailsForm"
    [cardDetailsForm]="cardDetailsForm"
    [creditCardResponse]="creditCardResponse"
    [isPurchaseAboveLimit]="isPurchaseAboveLimit"
    [selectedPaymentMethod]="selectedPaymentMethod"
    [isForeignInvestor]="isForeignInvestor"
    [hasEnoughFunds]="hasEnoughFunds"
    (selectPaymentMethod)="onSelectPaymentMethodAndClose($event)"
    (submitAccountDetailsForm)="onSubmitAccountDetailsFromModal($event)"></app-payment-edit>
