<nz-alert
    *ngIf="showAlert$ | async"
    class="dividend-alert"
    [nzShowIcon]="false"
    [nzBanner]="true"
    [nzMessage]="alertMsg"></nz-alert>
<ng-template #alertMsg>
    <div>
        Please provide ACH Account Info for receiving dividend payments.
        <button
            nz-button
            nzType="text"
            (click)="navigateToAccount()">
            Add Account
        </button>
    </div>
</ng-template>
