<ng-container *ngIf='! state.ready'>
    <ng-template #indicatorTemplate><i class='loading' nz-icon nzType="loading"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
</ng-container>
<ng-container *ngIf='state.ready'>
    <div [formGroup]='state.form'>
        <nz-tree-select
            formControlName='value'
            nzPlaceHolder="Please select"
            [nzShowSearch]='true'
            [nzExpandedKeys]="state.expandKeys"
            [nzDropdownStyle]="{ 'max-height': '300px' }"
            [nzNodes]="state.nodes"
            [nzAllowClear]='true'
            [nzHideUnMatched]='true'
            [nzShowLine]='true'
            [nzDefaultExpandAll]='true'
        ></nz-tree-select>
    </div>
</ng-container>
