<div *ngIf="{ isEditing: isEditing$ | async } as data">
    <form
        nz-form
        nzLayout="vertical"
        [formGroup]="updatePasswordForm"
        #updatePasswordFormEl>
        <div class="heading">
            <h3 class="heading__title">Password</h3>

            <div class="heading__controls">
                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="!data.isEditing"
                    (click)="toggleEdit()">
                    <span>Change</span>
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    type="button"
                    *ngIf="data.isEditing"
                    (click)="toggleEdit()">
                    <span>Cancel</span>
                </button>

                <button
                    class="heading__btn"
                    nz-button
                    nzSize="small"
                    nzType="primary"
                    type="submit"
                    *ngIf="data.isEditing"
                    [disabled]="bazaFormValidatorService.isFormFilledAndValid(updatePasswordForm)"
                    (click)="onFormSubmit(updatePasswordFormEl)">
                    <span>Save</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="!data.isEditing">
            <div class="info-block info-block-muted">Change the password for your account</div>
        </ng-container>

        <ng-container *ngIf="data.isEditing">
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="update-profile-error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="oldPassword">Current Password</nz-form-label>

                <nz-form-control nzErrorTip="Current Password is required">
                    <input
                        formControlName="oldPassword"
                        id="oldPassword"
                        nz-input
                        type="password" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="newPassword">New Password</nz-form-label>

                <nz-form-control
                    [nzErrorTip]="newPasswordErrorTemplate"
                    [nzSuccessTip]="newPasswordErrorTemplate">
                    <input
                        appPasswordInput
                        formControlName="newPassword"
                        id="newPassword"
                        nz-input
                        type="password" />
                </nz-form-control>

                <ng-template
                    #newPasswordErrorTemplate
                    let-control>
                    <ng-container *ngIf="control.hasError('required'); else matchPasswordErrorTemplate">
                        New Password is required
                    </ng-container>
                    <ng-template #matchPasswordErrorTemplate>
                        <app-password-validator [errors]="control.errors"></app-password-validator>
                    </ng-template>
                </ng-template>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="passwordConfirmation">Confirm New Password</nz-form-label>

                <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
                    <input
                        appPasswordInput
                        formControlName="passwordConfirmation"
                        id="passwordConfirmation"
                        nz-input
                        type="password" />
                </nz-form-control>

                <ng-template
                    #confirmPasswordErrorTemplate
                    let-control>
                    <span>
                        <ng-container *ngIf="control.hasError('required')">Confirmation for New Password is required</ng-container>
                        <ng-container *ngIf="control.hasError('mismatch')">Passwords don't match</ng-container>
                    </span>
                </ng-template>
            </nz-form-item>
        </ng-container>
    </form>
</div>
