<nz-modal
    nzClassName="ant-modal-sm"
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="footerTpl"
    [(nzVisible)]="isVisible">
    <div *nzModalContent>
        <nz-form-item *ngIf="message$ | async as message">
            <nz-alert
                [nzMessage]="message.text"
                [nzType]="message.type"></nz-alert>
        </nz-form-item>

        <p class="ant-modal__descr">
            {{ wts.getI18nLabel(i18nBasePath, 'descr') }}
        </p>

        <div class="ant-form-inverse">
            <nz-upload
                nzAccept=".png, .jpg, .jpeg, .pdf"
                [nzBeforeUpload]="onFileUpload"
                [(nzFileList)]="fileList">
                <button
                    nz-button
                    nzType="default">
                    {{ wts.getI18nLabel(i18nBasePath, 'actions.btnUpload.label') }}
                    <span *ngIf="fileList?.length > 0">&nbsp; {{ wts.getI18nLabel(i18nBasePath, 'actions.btnUpload.hint') }}</span>
                </button>
            </nz-upload>
        </div>
    </div>

    <ng-template #footerTpl>
        <button
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            [disabled]="!fileList || fileList?.length === 0"
            (click)="onFormSubmit()">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.btnConfirm.label') }}
        </button>
    </ng-template>
</nz-modal>
