html, body {
    height: 100%;
}

.baza-docs-layout {
    height: 100%;
    background: var(--baza-docs-background);
}

.baza-docs-layout--outer-content {
    width: 100%;
    min-height: 100%;
}

.baza-docs-layout--inner-layout {
    min-height: 100%;
}

.baza-docs-layout--sider-menu {
    height: 100%;
    background: transparent;
}

.baza-docs-layout--sider-menu ul {
    border: 0;
}

.baza-docs-nav--logo {
    margin-bottom: 1rem;
    font-size: 0;
    padding: 1.5rem;
}

.baza-docs-nav--logo img {
    width: 100%;
}

.baza-docs-layout--inner-content {
    background: var(--baza-docs-inner-background);
    padding: 2rem 3.5rem;
}

.baza-docs-layout--inner-layout .ant-menu-submenu .ant-menu-item i {
    margin-right: 0.5rem;
}

.baza-docs-layout--header {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    position: sticky;
    top: 0;
}

.baza-docs-layout--header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.baza-docs-layout--header-action {
    cursor: pointer;

    i {
        margin-right: 0.35rem;
        display: inline-block;
    }

    i, span {
        transition: color ease-in 0.15s;
    }

    &:hover {
        i, span {
            color: var(--primary-5);
        }
    }
}

.baza-docs-nav--search {
    padding: 0 1rem 1rem;
}

.baza-docs-nav--search-item-box {
    display: flex;
    justify-content: space-between;

    .title {
        flex: 1;
        margin-right: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .directory {
        flex-shrink: 0;
        color: var(--primary-5);
    }
}
