.baza-docs-md-contents {
    table {
        width: 100%;
        margin: 1.5rem 0;
        max-width: 100%;
        border-collapse: collapse;

        thead tr th {
            padding: 0.5rem;
            border: 1px solid var(--border-color-base);
        }

        tr td {
            padding: 0.5rem;
            border: 1px solid var(--border-color-base);
        }
    }

    code {
        display: inline-block;
        font-family: monospace;
        font-size: var(--font-size-base);
        background: #fafafa;
        border: 1px solid var(--border-color-base);
        border-radius: var(--border-radius-sm);
        padding: 2px 4px;
        margin: 1px 0;
        color: var(--highlight-color);
    }

    pre.hljs code {
        color: var(--text-color);
    }

    li code {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
        font-weight: 500;
    }

    blockquote {
        padding: 1rem 2.5rem;
        border-left: 3px solid var(--primary-color);
        font-style: italic;
    }

    img {
        max-width: 100%;
    }
}
