::ng-deep {
    .baza-form-builder-upload-cropper-modal {
        .flex-image-container {
            width: 100%;
            display: flex;
            height: 60vh;
        }

        .img-container {
            flex: 1;
            height: 100%;

            img {
                max-width: 100%;
            }
        }
    }
}
