<div
    class="crop-container"
    style="display: none"></div>

<nz-modal
    nzClassName="baza-form-builder-upload-cropper-modal"
    [(nzVisible)]="isNgModalVisible"
    [nzTitle]="i18n('crop') | translate"
    [nzClosable]="false"
    [nzMaskClosable]="false"
    (nzOnCancel)="handleCropCancel()"
    (nzOnOk)="handleCropOk()"
    nzWidth="60vw"
    (nzAfterOpen)="cropModalOpened()">
    <ng-container *nzModalContent>
        <div class="flex-image-container">
            <div class="img-container"></div>
        </div>
    </ng-container>
</nz-modal>
