<input
    type="file"
    style="display: none"
    #fileInput
    accept="text/csv"
    (change)="onFileInputChange($event)" />

<ng-template #nzModal>
    <ng-container *ngIf="state.screen === 'select-file'">
        <div
            class="select-file"
            [formGroup]="state.form">
            <div
                class="drag-n-drop-container"
                [ngClass]="{ 'drag-over': state.isDragOver }"
                (dragenter)="onDragEnter($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrag($event)">
                <div class="select-file-title">
                    <h3 nz-typography>{{ i18n('selectFile.title') | translate }}</h3>
                </div>
                <div class="select-file-message">
                    <p nz-typography>{{ i18n('selectFile.message') | translate }}</p>
                </div>
                <div class="select-file-csv-details">
                    <div class="select-file-csv-details-info">
                        <p nz-typography>{{ i18n('selectFile.csvContents') | translate }}</p>
                        <ul nz-typography>
                            <li>
                                <strong>{{ i18n('selectFile.ul.li_1_dl') | translate }}</strong>
                                – {{ i18n('selectFile.ul.li_1_dt') | translate }}
                            </li>
                            <li>
                                <strong>{{ i18n('selectFile.ul.li_2_dl') | translate }}</strong>
                                – {{ i18n('selectFile.ul.li_2_dt') | translate }}
                            </li>
                            <li>
                                <strong>{{ i18n('selectFile.ul.li_3_dl') | translate }}</strong>
                                – {{ i18n('selectFile.ul.li_3_dt') | translate }}
                            </li>
                            <li>
                                <strong>{{ i18n('selectFile.ul.li_4_dl') | translate }}</strong>
                                – {{ i18n('selectFile.ul.li_4_dt') | translate }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="dividends-source"
                    *ngIf="hasDwollaDividendsFeature || hasNcDividendsFeature">
                    <nz-radio-group
                        formControlName="source"
                        nzSize="large">
                        <label
                            *ngIf="hasDwollaDividendsFeature"
                            nz-radio
                            nzValue="Dwolla">
                            <span>{{ i18n('selectFile.source.dwolla') | translate }}</span>
                        </label>
                        <label
                            *ngIf="hasNcDividendsFeature"
                            nz-radio
                            nzValue="NC">
                            <span>{{ i18n('selectFile.source.nc') | translate }}</span>
                        </label>
                    </nz-radio-group>
                </div>
                <div class="select-file-csv-delimiter">
                    <nz-radio-group
                        formControlName="delimiter"
                        nzSize="large">
                        <label
                            nz-radio
                            nzValue=";">
                            <span>{{ i18n('selectFile.delimiters.semicolon') | translate }}</span>
                        </label>
                        <label
                            nz-radio
                            nzValue=",">
                            <span>{{ i18n('selectFile.delimiters.commas') | translate }}</span>
                        </label>
                    </nz-radio-group>
                </div>
                <div class="select-file-upload-button">
                    <nz-space>
                        <div *nzSpaceItem>
                            <button
                                type="button"
                                nz-button
                                nzType="primary"
                                nzSize="large"
                                (click)="fileInput.click()"
                                [disabled]="isLoading$ | async">
                                <span>{{ i18n('selectFile.upload') | translate }}</span>
                            </button>
                        </div>
                        <div *nzSpaceItem>
                            <button
                                type="button"
                                (click)="close()"
                                nz-button
                                nzSize="large"
                                nzType="link"
                                [disabled]="isLoading$ | async">
                                <span>{{ i18n('selectFile.cancel') | translate }}</span>
                            </button>
                        </div>
                    </nz-space>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="state.screen === 'errors'">
        <div class="errors">
            <div class="errors-title">
                <h3 nz-typography>{{ i18n('errors.title') | translate }}</h3>
            </div>
            <div class="errors-message">
                <p nz-typography>{{ i18n('errors.message') | translate }}</p>
            </div>
            <div class="errors-items">
                <nz-table
                    nzShowPagination
                    [nzData]="state.errors"
                    #nzTable
                    [nzPageSize]="5">
                    <thead>
                        <tr>
                            <th
                                style="text-align: center"
                                nzWidth="80px">
                                {{ i18n('errors.items.row') | translate }}
                            </th>
                            <th nzWidth="140px">{{ i18n('errors.items.type') | translate }}</th>
                            <th>{{ i18n('errors.items.details') | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let errorItem of nzTable.data">
                            <td style="text-align: center">
                                <strong>{{ errorItem.row }}</strong>
                            </td>
                            <td>{{ i18nErrorType(errorItem.reason) | translate }}</td>
                            <td>{{ i18nErrorDetails(errorItem.reason) | translate }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <div class="errors-close">
                <button
                    type="button"
                    (click)="close()"
                    nz-button
                    nzSize="large"
                    nzType="primary">
                    <span>{{ i18n('errors.close') | translate }}</span>
                </button>
            </div>
        </div>
    </ng-container>
</ng-template>
