.select-file {
    text-align: center;

    .drag-n-drop-container {
        padding: 24px;
        border: 1px dashed var(--primary-3);

        &.drag-over {
            border-color: var(--success-color);
        }
    }

    .select-file-title,
    .select-file-message,
    .select-file-csv-details {
        margin: 0 auto 12px;
    }

    .select-file-csv-delimiter {
        text-align: left;
        margin: 0 auto 24px;
        width: 100%;
        max-width: 420px;
    }

    .dividends-source {
        width: 100%;
        max-width: 420px;
        text-align: left;
        margin: 0 auto 24px;
    }

    .select-file-title {
        margin-bottom: 24px;
    }

    .select-file-csv-details {
        max-width: 70%;
        text-align: left;
        margin-bottom: 24px;
        background-color: var(--primary-1);
        padding: 12px;

        ul {
            list-style-type: circle;
            list-style-position: inside;

            li {
                padding-left: 12px;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.errors {
    text-align: center;

    .errors-title {
        h3 {
            color: var(--error-color);
        }
    }
}
