<div class="payment-block">
    <app-payment-item
        [isPaymentLinked]="dss.isCardAvailable(creditCardResponse)"
        (clickContainer)="updateCreditCard()">
        <app-payment-item-header>
            {{ wts.getI18nLabel(i18nBasePath, 'title') }}
        </app-payment-item-header>

        <ng-container *ngIf="dss.isCardAvailable(creditCardResponse)">
            <app-payment-item-detail>
                {{ wts.getI18nLabel(i18nBasePath, 'details.number') }}
                {{ creditCardResponse?.creditCard?.creditCardNumber | lastDigits: 8 }}
            </app-payment-item-detail>

            <app-payment-item-detail>
                {{ wts.getI18nLabel(i18nBasePath, 'details.expiring') }}
                {{ creditCardResponse?.creditCard?.creditCardExpireMonth | leadingZeroMonth }}/{{
                    creditCardResponse?.creditCard?.creditCardExpireYear
                }}
            </app-payment-item-detail>
        </ng-container>

        <app-payment-item-detail>
            <span class="payment-item-content__faded">
                {{ limits?.creditCardPaymentsFee | numberTwoDigits }}%
                {{ wts.getI18nLabel(i18nBasePath, 'details.fee') }}
            </span>
        </app-payment-item-detail>

        <app-payment-item-actions>
            <button
                nz-button
                nzSize="small"
                type="button"
                (click)="updateCreditCard()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.update') }}
            </button>
        </app-payment-item-actions>
    </app-payment-item>

    <p class="payment-block__text payment-block__text-faded">
        {{ wts.getI18nLabel(i18nBasePath, 'alerts.limit', { limit: limits?.maxCreditCardTransferAmountCents / 100 | price }) }}
    </p>
</div>

<app-payment-card-modal
    *ngIf="isCardDetailsFormVisible"
    [cardDetailsForm]="cardDetailsForm"
    [isCardDetailsFormVisible]="isCardDetailsFormVisible"
    (handleCardDetailsCancel)="handleCardDetailsCancel()"
    (submitCardForm)="submitCardForm()"></app-payment-card-modal>
