:host ::ng-deep {
    .ck-content {
        i {
            font-style: italic;
        }

        h1 {
            font-size: 2.7rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        ul {
            list-style-type: circle;
            padding-left: 1.5rem;
        }

        ol {
            list-style-type: decimal;
            padding-left: 1.5rem;
        }
    }
}
