.technical-info {
    margin: 24px 0;
    display: table;

    .technical-info-section {
        display: table-row;

        .title {
            display: table-cell;
            padding-right: 16px;
            text-align: right;
            width: 160px;
        }

        .description {
            display: table-cell;
            flex: 1;
        }
    }
}

.variables {
    width: 100%;
    overflow-x: auto;
}
