<ng-template #nzModal>
    <h1 nz-typography>Mail Template – {{ mailTemplate.title }}</h1>

    <div class="technical-info">
        <div class="technical-info-section">
            <div
                class="title"
                nz-typography
                nzType="secondary">
                Name
            </div>
            <div class="description">{{ mailTemplate.name }}</div>
        </div>
        <div class="technical-info-section">
            <div
                class="title"
                nz-typography
                nzType="secondary">
                Title
            </div>
            <div class="description">{{ mailTemplate.title }}</div>
        </div>
        <div class="technical-info-section">
            <div
                class="title"
                nz-typography
                nzType="secondary">
                Description
            </div>
            <div class="description">{{ mailTemplate.description }}</div>
        </div>
        <div class="technical-info-section">
            <div
                class="title"
                nz-typography
                nzType="secondary">
                Tag
            </div>
            <div class="description">{{ mailTemplate.tag }}</div>
        </div>
        <div class="technical-info-section">
            <div
                class="title"
                nz-typography
                nzType="secondary">
                Attachments
            </div>
            <div class="description">
                <ng-container *ngIf="!mailTemplate.attachments || mailTemplate.attachments.length === 0">
                    <span>No attachments</span>
                </ng-container>
                <ng-container *ngIf="mailTemplate.attachments && mailTemplate.attachments.length > 0">
                    <div
                        class="attachment"
                        *ngFor="let attachment of mailTemplate.attachments">
                        <i
                            nz-icon
                            nzType="file"></i>
                        &nbsp;
                        <span nz-typography>{{ attachment.example }}</span>
                        &nbsp;
                        <span
                            nz-typography
                            nzType="secondary">
                            {{ attachment.contentType }}
                        </span>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <h4 nz-typography>Common Variables</h4>
    <div class="variables">
        <baza-mail-customerio-links-cms-template-variables-doc
            [variables]="commonVariables"></baza-mail-customerio-links-cms-template-variables-doc>
    </div>

    <br />
    <h4 nz-typography>Template Variables</h4>
    <div class="variables">
        <baza-mail-customerio-links-cms-template-variables-doc
            [variables]="templateVariables"></baza-mail-customerio-links-cms-template-variables-doc>
    </div>
</ng-template>
