<nz-layout>
    <nz-sider [nzCollapsed]='false' [nzWidth]='sidePanelWidth'>
        <div class='header'>
            <div class='title'>
                <h1><span translate [translateParams]='{ project: project }'>{{ i18n('title') }}</span></h1>
            </div>
            <div class='project'>
                <h2><span translate [translateParams]='{ project: project }'>{{ i18n('project') }}</span></h2>
            </div>
        </div>
        <router-outlet></router-outlet>
        <div class='lang' *ngIf='withI18nSupport'>
            <baza-layout-lang></baza-layout-lang>
        </div>
    </nz-sider>
    <nz-content></nz-content>
</nz-layout>
