nz-layout {
    height: 100%;
}

nz-sider {
    background: var(--baza-auth-layout-slider-background);
    padding-top: 12vh;
    padding-left: 55px;
    padding-right: 55px;
}

nz-content {
    background: var(--baza-auth-layout-content-background);
    background-size: cover;
}

.header {
    .title {
        display: block;
        font-size: 1.113rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.55rem;
        letter-spacing: 0.2px;
    }

    .project {
        font-size: 2.87em;
        line-height: 1.2;
        font-weight: 700;
        color: var(--text-color);
        margin-bottom: 1rem;
        letter-spacing: 0.1px;
    }
}

.lang {
    margin-top: 5rem;
}
