<div *ngIf="isAddModeOn">
    <button
        class="payment-btn"
        [class.payment-btn-bordered]="style === 'Bordered'"
        nz-button
        nzBlock
        (click)="bankLinkClicked.emit()">
        <div class="payment-btn__icon">
            <i class="icon icon-bank"></i>
        </div>

        <div class="payment-btn__title">
            {{ wts.getI18nLabel(i18nBasePath, 'addMode.plaidLinking') }}
        </div>

        <div class="payment-btn__arrow">
            <i class="icon icon-angle-right icon-wt"></i>
        </div>
    </button>

    <button
        class="payment-btn"
        [class.payment-btn-bordered]="style === 'Bordered'"
        nz-button
        nzBlock
        (click)="manualLinkClicked.emit()">
        <div class="payment-btn__icon">
            <i class="icon icon-bank"></i>
        </div>

        <div class="payment-btn__title">
            {{ wts.getI18nLabel(i18nBasePath, 'addMode.manualLinking') }}
        </div>

        <div class="payment-btn__arrow">
            <i class="icon icon-angle-right icon-wt"></i>
        </div>
    </button>

    <br />
</div>

<div *ngIf="isEditModeOn">
    <ul class="payment-info-list">
        <li class="payment-info-list__item">
            <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.account.name') }}</strong>
            {{ srcData?.details.accountName }}
        </li>

        <li class="payment-info-list__item">
            <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.account.number') }}</strong>
            {{ srcData?.details.accountNumber | lastDigits }}
        </li>

        <li class="payment-info-list__item">
            <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.account.type') }}</strong>
            {{ srcData?.details.accountType }}
        </li>
    </ul>
</div>
