<div class='baza-docs-not-found'>
    <nz-result nzStatus="warning" nzTitle="404 Not Found">
        <div nz-result-extra>
            <a nz-button nzType="primary" nzDanger [routerLink]='["/"]'>Go to homepage</a>
        </div>
    </nz-result>
</div>
