<h4 class="purchase__title">
    {{
        pms.isNCBankAccountAvailable(bankAccountResponse) && pms.isNCBankAccSelectedAsPaymentMethod(selectedPaymentMethod)
            ? wts.getI18nLabel(i18nBasePath, 'title.bank')
            : pms.isCardAvailable(bankAccountResponse) && !isPurchaseAboveLimit && pms.isCCSelectedAsPaymentMethod(selectedPaymentMethod)
            ? wts.getI18nLabel(i18nBasePath, 'title.card')
            : wts.getI18nLabel(i18nBasePath, 'title.generic')
    }}

    <!-- Edit CTA -->
    <a
        *ngIf="isPaymentMethodEditVisible"
        class="purchase__icon"
        nz-popover
        nzPopoverPlacement="right"
        nzPopoverTrigger="click"
        [nzPopoverContent]="tooltipTemplate">
        <i class="icon icon-edit icon-wt"></i>
    </a>
</h4>

<ng-container [ngSwitch]="dataLoaded">
    <ng-container *ngSwitchCase="false">
        <div
            nz-row
            nzGutter="30">
            <div
                class="purchase__skeleton"
                nz-col
                nzXs="12">
                <nz-skeleton></nz-skeleton>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="purchase-methods">
            <!-- NC ACH Bank Account Section -->
            <div
                class="purchase-methods__item"
                [class.purchase-methods__item-linked]="
                    manualBankAccountEditMode && pms.isNCBankAccSelectedAsPaymentMethod(selectedPaymentMethod)
                "
                nz-row
                nzGutter="30">
                <div
                    nz-col
                    nzXs="12"
                    nzMd="11"
                    nzLg="9"
                    nzXl="6">
                    <app-nc-payment-bank-account
                        [style]="'Bordered'"
                        [srcData]="bankAccountResponse"
                        [isAddModeOn]="manualBankAccountAddMode"
                        [isEditModeOn]="manualBankAccountEditMode"
                        (bankLinkClicked)="triggerPlaidFlow()"
                        (manualLinkClicked)="onManualLink()"></app-nc-payment-bank-account>

                    <p
                        class="purchase__dividend-msg"
                        *ngIf="
                            bankAccountResponse?.isAvailable && paymentMethodConfig?.showPurchaseDividendMessage && isNCBankAccPaymentMethod
                        ">
                        {{ wts.getI18nLabel(i18nBasePath, 'bank.info') }}
                    </p>
                </div>
            </div>

            <!-- Credit Card Section -->
            <div
                class="purchase-methods__item"
                [class.purchase-methods__item-linked]="cardEditMode && pms.isCCSelectedAsPaymentMethod(selectedPaymentMethod)"
                nz-row
                nzGutter="30">
                <div
                    nz-col
                    nzXs="12"
                    nzMd="11"
                    nzLg="9"
                    nzXl="6">
                    <app-nc-payment-card
                        [style]="'Bordered'"
                        [srcData]="creditCardResponse"
                        [isPurchaseAboveLimit]="isPurchaseAboveLimit"
                        [limits$]="limits$"
                        [isAddModeOn]="cardAddMode"
                        [isEditModeOn]="cardEditMode"
                        (handleAddCard)="handleAddCard()"></app-nc-payment-card>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #tooltipTemplate>
    <div class="purchase__popup">
        <p>{{ wts.getI18nLabel(i18nBasePath, 'tooltip.caption') }}</p>

        <a
            role="button"
            (click)="onOpenPaymentEditModals()">
            {{ wts.getI18nLabel(i18nBasePath, 'tooltip.actions.edit') }}
        </a>
    </div>
</ng-template>

<app-nc-payment-bank-account-modal
    *ngIf="isBankDetailsFormVisible"
    [bankDetailsForm]="bankDetailsForm"
    [isBankDetailsFormVisible]="isBankDetailsFormVisible"
    (handleBankDetailsCancel)="handleBankDetailsCancel()"
    (submitManualBankDetailsForm)="submitManualBankDetailsForm()"></app-nc-payment-bank-account-modal>

<app-nc-payment-card-modal
    *ngIf="isCardDetailsFormVisible"
    [cardDetailsForm]="cardDetailsForm"
    [isCardDetailsFormVisible]="isCardDetailsFormVisible"
    (handleCardDetailsCancel)="handleCardDetailsCancel()"
    (submitCardForm)="submitCardForm()"></app-nc-payment-card-modal>

<app-nc-payment-edit
    *ngIf="isPaymentEditModalVisible"
    [bankAccountResponse]="bankAccountResponse"
    [bankDetailsForm]="bankDetailsForm"
    [cardDetailsForm]="cardDetailsForm"
    [creditCardResponse]="creditCardResponse"
    [isPurchaseAboveLimit]="isPurchaseAboveLimit"
    [selectedPaymentMethod]="selectedPaymentMethod"
    (bankLink)="triggerPlaidFlow()"
    (selectPaymentMethod)="onSelectPaymentMethodAndClose($event)"
    (submitAccountDetailsForm)="onSubmitAccountDetailsFromModal($event)"></app-nc-payment-edit>
