<picture [ngClass]='ngClass'>
    <source *ngIf="state.srcSetWebp"
            type="image/webp"
            [srcset]="state.srcSetWebp"
            [sizes]="state.srcSetWebpSizes" />

    <source *ngIf="state.srcSet"
            [srcset]="state.srcSet"
            [sizes]="state.srcSetSizes" />

    <img [attr.loading]="loading"
         [alt]='alt'
         [src]="state.src"
         [ngStyle]="imgNgStyle"
         [attr.data-srcset]="state.srcSet"
         [attr.data-sizes]="state.srcSetSizes" />
</picture>
