<nz-modal
    data-cy="contact-us"
    nzTitle="Contact us"
    [nzFooter]="null"
    [nzVisible]="true"
    (nzOnCancel)="onModalClose()"
    #contactModalEl>
    <ng-container *nzModalContent>
        <form
            data-cy="contact-us__form"
            class="ant-form-inverse"
            nz-form
            nzLayout="vertical"
            [formGroup]="form"
            #contactFormEl>
            <nz-form-item *ngIf="message$ | async as message">
                <nz-alert
                    data-cy="login-error"
                    [nzMessage]="message.text"
                    [nzType]="message.type"></nz-alert>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="fullName">Name</nz-form-label>

                <nz-form-control [nzErrorTip]="fullNameErrorTemplate">
                    <input
                        nz-input
                        autofocus
                        data-cy="contact-us__name-input"
                        formControlName="fullName"
                        id="fullName"
                        type="text" />
                </nz-form-control>

                <ng-template
                    #fullNameErrorTemplate
                    let-control>
                    <span data-cy="contact-us__name-error">
                        <ng-container *ngIf="control.hasError('required')">Name is required</ng-container>
                    </span>
                </ng-template>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="email">Email</nz-form-label>

                <nz-form-control [nzErrorTip]="emailErrorTemplate">
                    <input
                        nz-input
                        data-cy="contact-us__email-input"
                        formControlName="email"
                        id="email"
                        type="text" />
                </nz-form-control>

                <ng-template
                    #emailErrorTemplate
                    let-control>
                    <span data-cy="contact-us__email-error">
                        <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
                        <ng-container *ngIf="control.hasError('email')">Please enter a valid email address</ng-container>
                    </span>
                </ng-template>
            </nz-form-item>

            <nz-form-item *ngIf="subjects$ | async as subjects">
                <nz-form-label nzFor="subject">Subject</nz-form-label>

                <nz-form-control [nzErrorTip]="subjectErrorTemplate">
                    <nz-select
                        formControlName="subject"
                        data-cy="contact-us__subject-input"
                        nzNotFoundContent="No subjects found">
                        <nz-option
                            nzHide
                            [nzValue]="'Default'"
                            nzLabel="Select Subject"></nz-option>

                        <nz-option
                            *ngFor="let subject of subjects"
                            [nzValue]="subject.id"
                            [nzLabel]="subject.subject"></nz-option>
                    </nz-select>
                </nz-form-control>

                <ng-template
                    #subjectErrorTemplate
                    let-control>
                    <span data-cy="contact-us__email-error">
                        <ng-container *ngIf="control.hasError('required')">Subject is required</ng-container>
                    </span>
                </ng-template>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFor="message">Message</nz-form-label>

                <nz-form-control [nzErrorTip]="messageErrorTemplate">
                    <textarea
                        data-cy="contact-us__message-input"
                        rows="4"
                        formControlName="message"
                        nz-input></textarea>
                </nz-form-control>

                <ng-template
                    #messageErrorTemplate
                    let-control>
                    <span data-cy="contact-us__message-error">
                        <ng-container *ngIf="control.hasError('required')">Message is required</ng-container>
                    </span>
                </ng-template>
            </nz-form-item>

            <nz-form-item data-cy="contact-us__submit">
                <nz-form-control>
                    <button
                        data-cy="contact-us__submit-button"
                        nzBlock
                        nz-button
                        nzSize="large"
                        nzType="primary"
                        [disabled]="bazaFormValidatorService.isFormFilledAndValid(form)"
                        (click)="onFormSubmit(contactFormEl, contactModalEl)">
                        Send
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
