<div class="service-page faq">
    <div class="container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                [nzXs]="{ span: 12 }"
                [nzLg]="{ span: 10, push: 1 }"
                [nzXl]="{ span: 8, push: 2 }">
                <h1 class="service-page__title">FAQ</h1>

                <ng-container *ngIf="(faq$ | async)?.length; else loading">
                    <div
                        class="faq__item"
                        *ngFor="let item of faq$ | async">
                        <h4 class="faq__title">{{ item.question }}</h4>

                        <div
                            class="embedded"
                            [innerHTML]="item.answer | mediaEmbed | async"></div>
                    </div>
                </ng-container>

                <ng-template #loading>
                    <nz-skeleton *ngFor="let item of [].constructor(3)"></nz-skeleton>
                </ng-template>
            </div>
        </div>
    </div>
</div>
