@import 'mixins/mixins.less';
@import 'variables/variables.less';

// faq item
.faq__item {
    margin-bottom: 20px;

    @media (min-width: @screen-lg) {
        margin-bottom: 40px;
    }
}

// faq title
.faq__title {
    margin-bottom: 20px;

    @media (min-width: @screen-lg) {
        margin-bottom: 30px;
    }
}
