<nz-modal
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [(nzVisible)]="isVisible"
    #addFundsModalEl>
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="closeNotification()"></app-payment-header>

        <p>
            {{ wts.getI18nLabel(i18nBasePath, 'content') }}
        </p>

        <button
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            (click)="closeNotification()">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.accept') }}
        </button>
    </ng-container>
</nz-modal>
