.file-upload {
    display: block;
    margin-top: 1rem;
}

.error {
    display: block;
    margin-bottom: 1rem;
}

.preview {
    &-alert {
        display: block;

        p {
            margin: 0;
        }
    }

    &-document {
        margin-top: 1rem;
        background-color: #121212;
        object-fit: contain;
        width: 100%;
        height: 250px;
    }

    &-link {
        margin-top: 1rem;
    }
}

.rules {
    display: block;
    margin-top: 1rem;

    &-list {
        list-style-type: disc;
        padding-left: 1.5rem;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
