<ng-template #nzModal>
    <h3 nz-typography>{{ i18n('title') | translate }}</h3>

    <nz-alert
        *ngIf="errorMessage"
        class="error"
        nzType="error"
        [nzDescription]="errorDescription">
        <ng-template #errorDescription>
            <p>{{ errorMessage }}</p>
        </ng-template>
    </nz-alert>

    <ng-container *ngTemplateOutlet="selectedFile ? fileViewer : fileUploader"></ng-container>

    <nz-alert
        class="rules"
        nzType="info"
        [nzDescription]="rulesDescription">
        <ng-template #rulesDescription>
            <ul
                *ngIf="rules$ | async as rules"
                class="rules-list">
                <li *ngFor="let rule of rules">
                    {{ rule }}
                </li>
            </ul>
        </ng-template>
    </nz-alert>

    <div class="actions">
        <button
            nz-button
            (click)="close()">
            {{ i18n('actions.cancel') | translate }}
        </button>

        <button
            nz-button
            nzType="primary"
            [disabled]="!selectedFile"
            (click)="upload()">
            {{ i18n('actions.upload') | translate }}
        </button>
    </div>
</ng-template>

<ng-template #fileViewer>
    <nz-alert
        class="preview-alert"
        nzType="info"
        [nzDescription]="viewerDescription">
        <ng-template #viewerDescription>
            <p>{{ i18n('bodyContentSelected') | translate }}</p>
        </ng-template>
    </nz-alert>

    <img
        [src]="imgPreviewUrl"
        alt="New Dwolla customer document to retry verification process."
        class="preview-document" />

    <button
        class="preview-link"
        nz-button
        nzType="link"
        (click)="clearFile()">
        {{ i18n('actions.selectNewFile') | translate }}
    </button>
</ng-template>

<ng-template #fileUploader>
    <nz-upload
        class="file-upload"
        nzType="drag"
        nzAccept=".jpg, .jpeg, .png"
        [nzBeforeUpload]="beforeUpload">
        <p class="ant-upload-drag-icon">
            <span
                nz-icon
                nzType="inbox"></span>
        </p>

        <p class="ant-upload-text">{{ i18n('bodyContent') | translate }}</p>
    </nz-upload>
</ng-template>
