<div class="bullets-txt">
    <div class="bullets-txt__container">
        <div class="bullets-txt__row">
            <div
                class="bullets-txt__col"
                *ngFor="let bullet of bullets">
                <span
                    class="bullets-txt__text"
                    [innerHtml]="bullet"></span>
            </div>
        </div>
    </div>
</div>
