.modal-form {
    display: flex;

    .modal-form-input {
        flex: 1;
        margin-right: 0.5rem;
    }

    .modal-form-cancel {
        flex: 0;
        margin-right: 0.5rem;
    }

    .modal-form-submit {
        flex: 0;
    }
}
