<ng-template #nzModal>
    <div class='modal' [formGroup]='state.form'>
        <h3 nz-typography>{{ i18n('title') | translate }}</h3>
        <div class='modal-form'>
            <div class='modal-form-input'>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]='state.form.get("password")' nzErrorTip='{{ state.form.get("password") | bazaNzError: state.customErrorPassword | async }}'>
                        <input #focus type='password' (keyup.enter)='submit()' autofocus nz-input formControlName='password' placeholder='{{ i18n("password") | translate }}'>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class='modal-form-cancel' (click)='cancel()'>
                <button nz-button>
                    <span translate>{{ i18n('cancel') }}</span>
                </button>
            </div>
            <div class='modal-form-submit'>
                <button nz-button nzType='primary' type='submit' [disabled]='state.form.invalid' (click)='submit()'>
                    <span translate>{{ i18n('submit') }}</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
