{{#> webLayoutHtmlEn }}
<p>Dear {{ ../name }},</p>

<p>{{ ../comingSoon }}</p>

<p>Thank You,</p>
<p>{{ clientName }}</p>

<p>
    <img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
</p>

{{/webLayoutHtmlEn}}
