{{#> webLayoutHtmlEn }}
Congratulations {{ ../investorAccount.userFullName }}! You have successfully received {{ ../amount }} USD as dividends from your investment! We thank you for your business with us!
{{/webLayoutHtmlEn}}
