<app-verification-stepper-dwolla>
    <app-verification-stepper-info-dwolla
        *ngIf="currentTab === 0"
        target="info"
        [proceedToNextStep]="proceedToNextStep"
        (moveToNextStep)="onMoveToNextStep()"></app-verification-stepper-info-dwolla>
    <app-verification-stepper-investor-dwolla
        *ngIf="currentTab === 1"
        target="investor"
        [initData]="initData$ | async"></app-verification-stepper-investor-dwolla>
</app-verification-stepper-dwolla>
