{{#> webLayoutHtmlEn }}
    Hello {{../reservedBy}},
    <br>
    <br>Your purchase of {{../numberOfShares}} {{../shares}} of the {{../offeringName}} is now submitted. Please keep the following information for your records:
    <br>
    <br><b>Offering</b>: {{../offeringName}}
    <br><b>Shares</b>: {{../numberOfShares}}
    <br><b>Total Investment</b>: ${{../totalInvestments}}
    <br>
    <br>We have everything we need to complete your investment. We will be in touch once your funds have been transferred.
    <br>
    <br>Thank You,
    <br>
    <br>{{ clientName }}
    <br><img src="{{ ../webLogoUrl }}" alt="logo" width="200px">

{{/webLayoutHtmlEn}}
