{{#> webLayoutTextEn }}
Hi {{../reservedBy}},

Your purchase of {{../numberOfShares}} {{ ../shares }} of the {{../offeringName}} is now submitted. Please keep the following information for your records:

Offering: {{../offeringName}}
Shares: {{../numberOfShares}}
Total Investment: ${{../totalInvestments}}

We have everything we need to complete your investment. We will be in touch once your funds have been transferred.

Thank You,

{{ clientName }}
{{/webLayoutTextEn}}
