<div class="hiw-card">
    <nz-card [nzBordered]="false">
        <div class="hiw-card__index">
            <div
                class="hiw-card__number"
                [innerHtml]="index"></div>
        </div>

        <div class="hiw-card__text">
            <div
                class="hiw-card__title"
                [innerHtml]="title"></div>
            <div
                class="hiw-card__descr"
                [innerHtml]="descr"></div>
        </div>
    </nz-card>
</div>
