@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/gilroy-medium.eot');
    src: url('/assets/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/gilroy-medium.woff') format('woff'),
        url('/assets/fonts/gilroy-medium.ttf') format('truetype');
}
