// img-responsive
.img-responsive {
    .img-responsive();
}

// img-responsive-height
.img-responsive-height {
    .img-responsive-height();
}

// hide-mobile-xs
.hide-mobile-xs {
    @media (max-width: @screen-xs-max) {
        display: none !important;
    }
}

// hide-mobile
.hide-mobile {
    @media (max-width: @screen-md-max) {
        display: none !important;
    }
}

// hide-desktop
.hide-desktop {
    @media (min-width: @screen-lg) {
        display: none !important;
    }
}

// one-line
.one-line {
    display: inline-block;
}

// no-wrap
.no-wrap {
    white-space: nowrap;
}

// text-left
.text-left {
    text-align: left !important;
}

// text-center
.text-center {
    text-align: center !important;
}

// text-right
.text-right {
    text-align: right !important;
}
