@font-face {
    font-family: 'Default-Icons';
    src: url('/assets/fonts/Default-Icons.eot?4e823ff7d7a26d2fb9b0d318dfc69ec7#iefix') format('embedded-opentype'),
        url('/assets/fonts/Default-Icons.woff2?4e823ff7d7a26d2fb9b0d318dfc69ec7') format('woff2'),
        url('/assets/fonts/Default-Icons.woff?4e823ff7d7a26d2fb9b0d318dfc69ec7') format('woff'),
        url('/assets/fonts/Default-Icons.ttf?4e823ff7d7a26d2fb9b0d318dfc69ec7') format('truetype');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
    font-family: Default-Icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-social-fb:before {
    content: '\f113';
}
.icon-social-instagram:before {
    content: '\f114';
}
.icon-social-linked-in:before {
    content: '\f115';
}
.icon-social-twitter:before {
    content: '\f116';
}
