<form class='form --baza-auth-forms' [formGroup]='state.form' (ngSubmit)='submit()'>
    <div class='message' *ngIf='state.message'>
        <span translate>{{ i18n(state.message) }}</span>
    </div>
    <div>
        <div class='fields'>
            <nz-form-item>
                <nz-form-control [nzValidateStatus]='state.form.get("code")' nzErrorTip='{{ state.form.get("code") | bazaNzError: state.verificationError | async }}'>
                    <input #focus type='text' nz-input autofocus formControlName='code' placeholder='{{ i18n("fields.code") | translate }}'>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class='submit'>
            <button nz-button nzType='primary' type='submit'>
                <span translate>{{ i18n('actions.submit') }}</span>
            </button>
        </div>
    </div>
    <div class='sign-in'>
        <a [routerLink]='["/auth/sign-in"]'>{{ i18n('actions.cancel') | translate }}</a>
    </div>
</form>
