<ng-container *ngIf="initData$ | async as initData">
    <ng-container *ngIf="!dss.isForeignInvestor(initData)">
        <ng-content select="[withdrawTrigger]"></ng-content>
        <ng-container
            *ngIf="{
                cashOutAccount: dwollaDefaultCashOutAccount$ | async,
                dwollaCustomerDetail: dwollaCustomerDetail$ | async
            } as data">
            <app-withdraw-funds-modal
                *ngIf="isWithdrawFundsModalVisible"
                [withdrawFundsForm]="withdrawFundsForm"
                [dwollaDefaultCashOutAccount]="data?.cashOutAccount"
                [dwollaAmount]="data?.dwollaCustomerDetail?.balance"
                [withdrawAmountErrorMessage$]="withdrawAmountErrorMessage$"
                (withdrawFundsCancel)="onWithdrawFundsCancel()"
                (submitWithdrawFundsForm)="onSubmitWithdrawFundsForm()"></app-withdraw-funds-modal>

            <app-withdraw-funds-notification
                *ngIf="isWithdrawFundsNotificationVisible"
                (isVisibleChange)="isWithdrawFundsNotificationVisible = $event"></app-withdraw-funds-notification>
        </ng-container>
    </ng-container>
</ng-container>
