<form [formGroup]="formGroup">
    <ng-container *ngIf="withNzFormContainer">
        <nz-form-item>
            <nz-form-label
                [nzRequired]="required$(definition) | async"
                [nzFor]="definition.formControlName">
                {{ label$(definition) | async }}
                <i
                    class="help-tool-tip"
                    *ngIf="definition.help"
                    nz-tooltip
                    [nzTooltipTitle]="nzTooltipTitle(definition)"
                    nz-icon
                    [nzType]="nzToolTipIconType(definition)"
                    [nzTheme]="nzToolTipIconTheme()"></i>
            </nz-form-label>
            <nz-form-control
                [nzValidateStatus]="formGroup.get(definition.formControlName)"
                [nzExtra]="nzExtra(definition)"
                [nzErrorTip]="formGroup.get(definition.formControlName) | bazaNzError | async">
                <baza-form-builder-contents-form-control-portal
                    [childVcr]="childVcr"
                    [definition]="definition"
                    [formGroup]="formGroup"
                    [formControlName]="definition.formControlName"
                    [placeholder]="placeholder$(definition) | async"
                    [label]="label$(definition) | async"></baza-form-builder-contents-form-control-portal>
            </nz-form-control>
        </nz-form-item>
    </ng-container>

    <ng-container *ngIf="!withNzFormContainer">
        <baza-form-builder-contents-form-control-portal
            [childVcr]="childVcr"
            [definition]="definition"
            [formGroup]="formGroup"
            [formControlName]="definition.formControlName"
            [placeholder]="placeholder$(definition) | async"
            [label]="label$(definition) | async"></baza-form-builder-contents-form-control-portal>
    </ng-container>
</form>
