<div class="invest-card">
    <nz-card [nzBordered]="false">
        <div class="invest-card__index">
            <div class="invest-card__icon">
                <svg-icon-sprite [src]="config?.icon"></svg-icon-sprite>
            </div>
        </div>

        <div class="invest-card__text">
            <div
                class="invest-card__title"
                [innerHtml]="config?.title"></div>
            <div
                class="invest-card__descr"
                [innerHtml]="config?.descr"></div>
        </div>
    </nz-card>
</div>
