.container {
    .container-title {
        text-align: center;
    }

    .container-message {
        text-align: center;
        padding: 12px;
        background: var(--primary-1);
        margin-bottom: 12px;
    }

    .container-password {
        margin-bottom: 12px;

        input {
            text-align: center;
        }
    }

    .container-submit {
        margin-bottom: 12px;

        button {
            width: 100%;
        }
    }

    .container-cancel {
        button {
            width: 100%;
        }
    }
}
