<ng-template #nzModal>
    <form
        class="container"
        [formGroup]="state.form"
        (ngSubmit)="submit()">
        <div class="container-title">
            <h3 nz-typography>{{ i18n('title') | translate }}</h3>
        </div>
        <div class="container-message">
            <span>{{ i18n('message') | translate }}</span>
        </div>
        <div class="container-password">
            <input
                type="password"
                placeholder="{{ i18n('password') | translate }}"
                nz-input
                nzSize="large"
                formControlName="password" />
        </div>
        <div class="container-submit">
            <button
                type="submit"
                nz-button
                nzSize="large"
                nzType="primary"
                [disabled]="state.form.invalid || state.form.disabled">
                <span>{{ i18n('submit') | translate }}</span>
            </button>
        </div>
        <div class="container-cancel">
            <button
                type="button"
                nz-button
                nzSize="large"
                (click)="close()">
                <span>{{ i18n('cancel') | translate }}</span>
            </button>
        </div>
    </form>
</ng-template>
