{{#> webLayoutHtmlEn }}
    Hello {{../investorName}},
    <br>
    <br>Your trade was canceled. Please reach us out at {{../email}} if you believe this was done by mistake.
    <br>
    <br>Thank You,
    <br>
    <br> {{../clientName}}
    <br><img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
{{/webLayoutHtmlEn}}
