{{#> webLayoutTextEn }}
Hello {{../investorName}},

Your trade was canceled. Please reach us out at {{../email}} if you believe this was done by mistake.

Thank You,

{{../clientName}}
{{/webLayoutTextEn}}
