<app-hero></app-hero>
<app-text-img></app-text-img>
<app-text-img [config]="txtImgS2Config"></app-text-img>
<app-bullets-text></app-bullets-text>
<app-bullets-image></app-bullets-image>
<app-text-section></app-text-section>
<app-banner></app-banner>
<app-why-invest></app-why-invest>
<app-how-it-works></app-how-it-works>
<app-cta></app-cta>
