<ng-container *ngIf="info$ | async as info; else noPersonalData">
    <div class="personal">
        <h4 class="personal__title">
            {{ wts.getI18nLabel(this.i18nBasePath, 'title') }}

            <a
                class="personal__icon"
                nz-popover
                nzPopoverPlacement="right"
                nzPopoverTrigger="click"
                [nzPopoverContent]="tooltipTemplate">
                <i class="icon icon-edit icon-wt"></i>
            </a>
        </h4>

        <ul class="personal-list">
            <li class="personal-list__item">
                <strong>{{ wts.getI18nLabel(this.i18nBasePath, 'details.name') }}</strong>
                {{ info.firstName }} {{ info.lastName }}
            </li>

            <li class="personal-list__item">
                <strong>{{ wts.getI18nLabel(this.i18nBasePath, 'details.dateOfBirth') }}</strong>
                {{ info.dateOfBirth }}
            </li>

            <li class="personal-list__item">
                <strong>{{ wts.getI18nLabel(this.i18nBasePath, 'details.address') }}</strong>
                {{ getFormattedAddress(info) }}
            </li>

            <li
                class="personal-list__item"
                *ngIf="info.ssn">
                <strong>{{ wts.getI18nLabel(this.i18nBasePath, 'details.ssn') }}</strong>
                {{ info.ssn }}
            </li>

            <li
                class="personal-list__item personal-list__item-uploaded-document"
                *ngIf="!info.ssn">
                <strong>{{ wts.getI18nLabel(this.i18nBasePath, 'details.document') }}&nbsp;</strong>

                <a
                    href="{{ info.ssnDocumentUrl }}"
                    target="_blank">
                    {{ info.ssnDocumentFileName }}
                </a>
            </li>
        </ul>
    </div>
</ng-container>

<ng-template #tooltipTemplate>
    <div class="purchase__popup">
        <p>
            {{ wts.getI18nLabel(this.i18nBasePath, 'popover.message') }}
        </p>

        <a (click)="editPersonalInformation()">
            {{ wts.getI18nLabel(this.i18nBasePath, 'popover.actions.edit') }}
        </a>
    </div>
</ng-template>

<ng-template #noPersonalData>
    <nz-skeleton [nzActive]="true"></nz-skeleton>
</ng-template>
