.--baza-auth-forms {
    i {
        cursor: pointer;
    }

    .fields {
        .field {
            margin-bottom: 0.2rem;

            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }

    .submit {
        button {
            width: 100%;
            text-transform: uppercase;
        }
    }

    .unhandled-error {
        margin-bottom: 1rem;

        span {
            color: var(--error-color);
        }
    }

    .message {
        margin-bottom: 1rem;
    }

    .sign-in {
        margin-top: 1rem;
        text-align: center;
    }

    .method-list {
        .method {
            margin-bottom: 0.5rem;
            border: 1px solid var(--normal-color);
            padding: 0.8rem 1.2rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-radius: 3px;

            &:hover {
                border-color: var(--primary-color);
                color: var(--primary-color);
            }

            .method-icon {
                flex: 0;
                margin-right: 1rem;
            }

            .method-title {
                flex: 1;
            }
        }
    }
}
