<ul
    nz-menu
    nzMode="inline"
    class="baza-docs-layout--sider-menu">
    <li class="baza-docs-nav--logo">
        <a [routerLink]="['/']">
            <svg
                viewBox="0 0 584 85"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>logo-dark</title>
                <g
                    id="Page-1"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd">
                    <g
                        id="logo-dark"
                        fill-rule="nonzero">
                        <g
                            id="Group"
                            transform="translate(491.000000, 54.000000)"
                            fill="#8C8C8C">
                            <path
                                d="M16.3,6.2 C16.3,9 14.6,10.4 13,11.1 C15.5,11.9 17.5,13.3 17.5,16.2 C17.5,19.8 14.5,22 9.9,22 L0.6,22 L0.6,1 L9.5,1 C13.6,0.9 16.3,3 16.3,6.2 Z M13.9,6.5 C13.9,4.4 12.3,3 9.3,3 L2.9,3 L2.9,10.2 L9.1,10.2 C11.9,10.3 13.9,9 13.9,6.5 Z M15.1,16 C15.1,13.7 13.2,12.4 9.5,12.4 L2.9,12.4 L2.9,19.8 L9.9,19.8 C13.1,19.8 15.1,18.4 15.1,16 Z"
                                id="Shape"></path>
                            <path
                                d="M40.3,21.9 L37.7,21.9 L35.2,16.4 L23.8,16.4 L21.3,21.9 L18.9,21.9 L28.5,0.8 L30.7,0.8 L40.3,21.9 Z M29.6,3.5 L24.8,14.2 L34.4,14.2 L29.6,3.5 Z"
                                id="Shape"></path>
                            <polygon
                                id="Path"
                                points="42.4 3 42.4 0.9 58.8 0.9 58.8 2.5 45.2 19.8 58.8 19.8 58.8 21.9 42 21.9 42 20.3 55.5 3"></polygon>
                            <path
                                d="M81.8,21.9 L79.3,21.9 L76.8,16.4 L65.4,16.4 L62.9,21.9 L60.5,21.9 L70.1,0.8 L72.3,0.8 L81.8,21.9 Z M71,3.5 L66.2,14.2 L75.8,14.2 L71,3.5 Z"
                                id="Shape"></path>
                        </g>
                        <polygon
                            id="Path"
                            fill="#D5333E"
                            points="483.8 51.4 480.5 51.4 480.5 78.6 483.8 78.6 483.8 81 477.4 81 477.4 49 483.8 49"></polygon>
                        <polygon
                            id="Path"
                            fill="#D5333E"
                            points="577.1 78.6 580.4 78.6 580.4 51.4 577.1 51.4 577.1 49 583.5 49 583.5 81 577.1 81"></polygon>
                        <g id="logo_1_">
                            <g
                                id="logo_3_"
                                transform="translate(137.000000, 20.000000)"
                                fill="#171517">
                                <path
                                    d="M6.1,44.6 C10.2,47.8 18.8,51.7 25.7,51.7 C34.3,51.7 37.1,48.3 37.1,44.7 C37.1,39.1 30.6,37.7 23.6,36.4 C16.6,35 0.8,32.8 0.8,18.4 C0.8,4.4 13.5,0.7 23.5,0.7 C33.5,0.7 39.7,3.8 45.7,8.3 L39.4,17 C34.4,13.4 28.4,11.5 22.2,11.3 C17.7,11.3 12.2,12.7 12.2,17.3 C12.2,22.7 19.8,24.3 26,25.5 C33.1,26.9 48.4,28.1 48.4,44.1 C48.4,56.4 39.2,62.4 25.7,62.4 C13.3,62.4 6.5,58 0.2,53.4 L6.1,44.6 Z"
                                    id="Path"></path>
                                <path
                                    d="M88.1,11.2 C77.3,11.2 68.7,20.4 68.7,31.5 C68.7,42.7 77.4,51.8 88.1,51.8 C94.9,52 101.2,48.3 104.4,42.4 L115.1,46.7 C110.7,56 100.9,62.4 88.2,62.4 C71.1,62.4 57.4,48.6 57.4,31.6 C57.4,14.5 71.2,0.8 88.2,0.8 C101.4,0.8 111,8 115.1,16.6 L104.4,20.9 C101.2,14.7 94.9,11.1 88.1,11.2 Z"
                                    id="Path"></path>
                                <path
                                    d="M117.8,61.1 L148.3,1.5 L149.4,1.5 L179.9,61.1 L167.5,61.1 L162.8,51.8 L134.7,51.8 L130.1,61.1 L117.8,61.1 Z M140.2,41.8 L157.2,41.8 L148.7,23.8 L140.2,41.8 Z"
                                    id="Shape"></path>
                                <polygon
                                    id="Path"
                                    points="230.2 51 230.2 61.1 187.3 61.1 187.3 1.5 198.7 1.5 198.7 51"></polygon>
                                <polygon
                                    id="Path"
                                    points="251.9 61.1 240.5 61.1 240.5 1.5 251.9 1.5"></polygon>
                                <path
                                    d="M265.3,31.3 C265.3,14.3 277.5,0.4 296.1,0.4 C314.8,0.4 327,14.3 327,31.3 C327,48.3 314.8,62.2005362 296.1,62.2005362 C277.4,62.3 265.3,48.4 265.3,31.3 Z M276.6,31.3 C276.6,42.2 285.3,51.7 296.1,51.7 C306.8,51.7 315.6,42.2 315.6,31.3 C315.6,20.4 306.9,11 296.1,11 C285.3,11.1 276.6,20.6 276.6,31.3 L276.6,31.3 Z"
                                    id="Shape"></path>
                            </g>
                            <g id="mountains_2_">
                                <polygon
                                    id="Path"
                                    fill="#565656"
                                    points="122.3 84.4 70 0 17.8 84.4"></polygon>
                                <polygon
                                    id="Path"
                                    fill="#171517"
                                    points="86.7 84.4 43.3 14.3 0 84.4"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </li>

    <li
        class="baza-docs-nav--search"
        [formGroup]="form">
        <nz-input-group
            nzSearch
            nzSize="large"
            [nzSuffix]="suffixIcon">
            <input
                placeholder="Search..."
                nz-input
                formControlName="search"
                [nzAutocomplete]="search" />
        </nz-input-group>
        <ng-template #suffixIcon>
            <i
                nz-icon
                nzType="search"></i>
        </ng-template>
        <nz-autocomplete
            #search
            [nzWidth]="420">
            <nz-auto-option
                class="baza-docs-nav--search-item"
                *ngFor="let option of searchResults$ | async"
                [nzValue]="option.path"
                (selectionChange)="onSearchSelectionChange($event)">
                <div class="baza-docs-nav--search-item-box">
                    <div class="title">{{ option.title }}</div>
                    <div class="directory">{{ option.directory }}</div>
                </div>
            </nz-auto-option>
        </nz-autocomplete>
    </li>

    <ng-container *ngFor="let node of structure.nodes">
        <ng-container *ngIf="node.type === 'Directory'">
            <li
                nz-submenu
                [nzTitle]="node.title">
                <ul>
                    <ng-container *ngFor="let subNode of node.nodes">
                        <ng-container *ngIf="subNode.type === 'Directory'">
                            <li
                                nz-menu-group
                                [nzTitle]="subNode.title">
                                <ul>
                                    <ng-container *ngFor="let file of subNode.nodes">
                                        <ng-container *ngIf="file.type === 'File'">
                                            <li
                                                nz-menu-item
                                                [nzMatchRouter]="true">
                                                <a [routerLink]="routerLink(file)">
                                                    <i
                                                        nz-icon
                                                        nzType="file"></i>
                                                    <span>{{ file.title }}</span>
                                                </a>
                                            </li>
                                        </ng-container>
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="subNode.type === 'File'">
                            <li
                                nz-menu-item
                                [nzMatchRouter]="true">
                                <i
                                    nz-icon
                                    nzType="file"></i>
                                <a [routerLink]="routerLink(subNode)">
                                    <span>{{ subNode.title }}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </li>
        </ng-container>
    </ng-container>

    <li
        nz-submenu
        nzTitle="Mail Templates">
        <ul>
            <ng-container *ngFor="let tag of tags">
                <li
                    nz-menu-group
                    [nzTitle]="tag">
                    <ul>
                        <ng-container *ngFor="let mailTemplate of mailTemplatesOfTag(tag)">
                            <li
                                nz-menu-item
                                [nzMatchRouter]="true">
                                <a [routerLink]="mailTemplateRouterLink(mailTemplate)">
                                    <i
                                        nz-icon
                                        nzType="file"></i>
                                    <span>{{ mailTemplate.title }}</span>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </li>

    <li
        nz-submenu
        nzTitle="External Resources">
        <ul>
            <li nz-menu-item>
                <a
                    [href]="apiDocsUrl"
                    target="_blank">
                    <i
                        nz-icon
                        nzType="rocket"></i>
                    <span>API Documentation</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<ng-template
    #fileTemplate
    let-node="node">
    <li nz-menu-item>
        <span>{{ node.title }}</span>
    </li>
</ng-template>

<ng-template
    #nodeTemplate
    let-node="node">
    <ng-container *ngIf="node.type === 'File'">
        <!--        <ng-container *ngTemplateOutlet='fileTemplate; context: { node: node }'></ng-container>-->
    </ng-container>
</ng-template>
