.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.card-cover {
    margin-bottom: 0;
}

.card-info__title {
    height: 3em;
    word-break: break-word;
    margin-bottom: 5px;
}

.ant-card-cover {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
