<ng-container *ngIf="item">
    <a
        class="card"
        data-cy="properties-list-item"
        [routerLink]="['/items', item.id]">
        <nz-card
            nzHoverable
            [nzBordered]="false"
            [nzCover]="cardCoverTemplate">
            <div class="card-info">
                <div class="card-info__details">{{ item.pricePerShareCents / 100 | priceCents }} / share</div>

                <app-favorite-btn [item]="item"></app-favorite-btn>
            </div>

            <h4
                class="card-info__title"
                nz-tooltip
                [nzTooltipTitle]="item.title"
                [nzTooltipTrigger]="triggerTooltip ? 'hover' : null">
                <ng-template
                    nestedEllipsis
                    (nestedEllipsisChange)="truncated($event)">
                    {{ item.title }}
                </ng-template>
            </h4>

            <nz-progress
                class="card-info__funded-progress"
                [class.card-info__funded-progress-funded]="item.status === OFFERING_STATUS.Closed"
                nzStrokeLinecap="square"
                [nzFormat]="formatNoText"
                [nzPercent]="item.percentFunded"
                [nzStrokeWidth]="5"
                [nzWidth]="5"></nz-progress>

            <div class="card-info">
                <div class="card-info__col">
                    <div class="card-info__name">Offering</div>
                    <div class="card-info__amount">{{ item.totalSharesValueCents / 100 | price }}</div>
                </div>
                <div
                    class="card-info__col"
                    *ngIf="item.status === OFFERING_STATUS.Open">
                    <div class="card-info__name">Shares left</div>
                    <div class="card-info__amount">{{ item.numSharesAvailable }}</div>
                </div>
                <div
                    class="card-info__col"
                    *ngIf="item.status === OFFERING_STATUS.Open">
                    <div class="card-info__name">Funded</div>
                    <div class="card-info__amount">{{ item.percentFunded }}%</div>
                </div>
                <nz-alert
                    class="card-info__alert card-info__alert-closed"
                    *ngIf="item.status === OFFERING_STATUS.Closed"
                    nzType="warning"
                    nzMessage="Offering Funded"></nz-alert>
                <nz-alert
                    class="card-info__alert card-info__alert-coming-soon"
                    *ngIf="item.status === OFFERING_STATUS.ComingSoon"
                    nzType="warning"
                    nzMessage="Coming Soon"></nz-alert>
            </div>
        </nz-card>
    </a>

    <ng-template #cardCoverTemplate>
        <div class="card-cover">
            <img
                class="card-cover__image"
                [src]="item.cover.md" />
        </div>
    </ng-template>
</ng-container>
