{{#> webLayoutHtmlEn }}

<p>
Hi {{ ../name }},
</p>

<p>
Thank you for contacting us! <br>

Your message has been received and a representative will follow up with you shortly.

</p>

<p>
If you have any technical issues please reach out to our support team at <a href="mailto:{{../contactUs}}"> {{ ../contactUs }}</a> or visit our FAQ.
</p>

<blockquote>
    <p>
        Request: {{ ../subject }}
    </p>

    <p>
        {{ ../htmlMessage }}
    </p>
</blockquote>

<p>
Thanks,<br>
{{ clientName }}
</p>

{{/webLayoutHtmlEn}}
