<nz-modal
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [(nzVisible)]="isAddFundsFormVisible"
    #addFundsModalEl>
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="handleAddFundsCancel.emit()"></app-payment-header>

        <app-add-funds-form
            #addFundsFormEl
            [addFundsForm]="addFundsForm"
            [transferAmountErrorMessage$]="transferAmountErrorMessage$"></app-add-funds-form>

        <div *ngIf="dwollaDefaultCashInAccount">
            <div class="payment-btn__heading">{{ wts.getI18nLabel(i18nBasePath, 'cashIn.heading') }}</div>
            <ng-container>
                <button
                    class="payment-btn payment-btn-borderless payment-btn-inactive"
                    nz-button
                    nzBlock>
                    <div class="payment-btn-details">
                        <span class="payment-btn-details__title">{{ dwollaDefaultCashInAccount?.result?.accountName }}</span>
                        <span class="payment-btn-details__description">{{ dwollaDefaultCashInAccount?.result?.accountType }}</span>
                    </div>
                    <div class="payment-arrow">
                        <a
                            nz-button
                            (click)="handleEditCashInAccount.emit()">
                            {{ wts.getI18nLabel(i18nBasePath, 'cashIn.actions.edit') }}
                        </a>
                    </div>
                </button>
            </ng-container>
            <br />

            <button
                class="btn-transfer-primary"
                nz-button
                nzBlock
                nzSize="large"
                nzType="primary"
                [disabled]="bazaFormValidatorService.isFormFilledAndValid(addFundsForm)"
                (click)="onFormSubmit(addFundsModalEl)">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.transfer') }}
            </button>
        </div>
    </ng-container>
</nz-modal>
