<input
    style="display: none"
    type="file"
    [multiple]="options.multiselect"
    #fileInput
    [accept]="accepts"
    (change)="onFileInputChange($event)"
    [disabled]="(uploadLoading.isLoading$ | async) || state.isDisabled" />

<ng-template #indicatorTemplate>
    <i
        nz-icon
        nzType="loading"></i>
</ng-template>

<ng-container *ngIf="previewLoading.isLoading$ | async">
    <div class="loading">
        <div class="loading-box">
            <nz-spin
                nzSimple
                [nzIndicator]="indicatorTemplate"></nz-spin>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="(previewLoading.isLoading$ | async) === false">
    <div
        class="message"
        *ngIf="options.message && !previewUrl">
        <ng-container *ngIf="options.message.translate">
            <span
                ngx-translate
                [translateParams]="options.message.translateArgs">
                {{ options.message.text }}
            </span>
        </ng-container>
        <ng-container *ngIf="!options.message.translate">
            <span>{{ options.message.text }}</span>
        </ng-container>
    </div>

    <div
        class="preview"
        *ngIf="!!previewUrl">
        <baza-field-upload-preview
            [url]="previewUrl"
            [contentType]="previewContentType"
            [disabled]="(uploadLoading.isLoading$ | async) || state.isDisabled"></baza-field-upload-preview>
    </div>

    <div
        class="upload"
        *ngIf="!hasUploadedFile"
        [ngClass]="{ 'drag-over': state.isDragOver }"
        (dragenter)="onDragEnter($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrag($event)">
        <div class="upload-box">
            <div
                class="upload-multi-controls"
                *ngIf="enableMultiControls && !(multiIsFirstControl && multiIsLastControl)">
                <button
                    nz-button
                    nzSize="small"
                    nzShape="circle"
                    nzType="link"
                    [nzDanger]="true"
                    (click)="onMultiRemoveEvent.emit(undefined)">
                    <i
                        nz-icon
                        nzType="close"></i>
                </button>
            </div>
            <div class="upload-title">
                <span>{{ title | translate }}</span>
            </div>
            <div class="upload-divider">
                <nz-divider
                    nzPlain
                    nzText="or"></nz-divider>
            </div>
            <div class="upload-button">
                <button
                    nz-button
                    nzType="primary"
                    (click)="fileInput.click()"
                    [disabled]="(uploadLoading.isLoading$ | async) || state.isDisabled">
                    Click for upload
                </button>
            </div>
        </div>
    </div>

    <div
        class="uploaded"
        *ngIf="hasUploadedFile">
        <div class="uploaded-left">
            <nz-space>
                <div *nzSpaceItem>
                    <button
                        nz-button
                        nzType="link"
                        (click)="fileInput.click()"
                        [disabled]="(uploadLoading.isLoading$ | async) || state.isDisabled">
                        {{ i18n('replaceFile') | translate }}
                    </button>
                </div>
                <div *nzSpaceItem>
                    <button
                        nz-button
                        nzType="link"
                        (click)="deleteFile()"
                        [nzDanger]="true"
                        [disabled]="(uploadLoading.isLoading$ | async) || state.isDisabled">
                        {{ i18n('deleteFile') | translate }}
                    </button>
                </div>
            </nz-space>
        </div>
        <div class="uploaded-right">
            <div
                class="uploaded-multi-controls"
                *ngIf="enableMultiControls">
                <nz-space>
                    <ng-container *ngIf="!multiIsFirstControl">
                        <div *nzSpaceItem>
                            <button
                                nz-button
                                nzType="text"
                                nzSize="small"
                                nzShape="circle"
                                (click)="onMultiMoveUpEvent.emit(undefined)">
                                <i
                                    nz-icon
                                    nzType="up"></i>
                            </button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!multiIsLastControl">
                        <div *nzSpaceItem>
                            <button
                                nz-button
                                nzType="text"
                                nzSize="small"
                                nzShape="circle"
                                (click)="onMultiMoveDownEvent.emit(undefined)">
                                <i
                                    nz-icon
                                    nzType="down"></i>
                            </button>
                        </div>
                    </ng-container>
                </nz-space>
            </div>
        </div>
    </div>
</ng-container>
