i {
    font-size: 24px;
}

.message {
    margin-bottom: 1rem;

    span {
        font-size: 0.8rem;
        color: var(--primary-6);
    }
}

.preview {
    margin-bottom: 1rem;
    position: relative;
}

.upload {
    background: var(--background-color-light);
    padding: 2rem;
    text-align: center;
    border: 1px dashed var(--background-color-base);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;

    &.drag-over {
        border-color: var(--color-primary);
    }

    .upload-box {
        .upload-multi-controls {
            position: absolute;
            top: 1rem; right: 1rem;
        }

        .upload-divider {
            margin: 1rem 0;
        }
    }
}

.uploaded {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading {
    background: var(--background-color-light);
    padding: 3.5rem;
    text-align: center;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.img-container {
    min-height: 350px;
}
