<div *ngIf="paymentUpdateAccountType !== 'creditCard'">
    <p class="ant-modal__descr">
        {{ wts.getI18nLabel(this.i18nBasePath, 'bank.description') }}
    </p>

    <button
        nz-button
        nzSize="large"
        nzBlock
        nzType="primary"
        (click)="addBankAccount()">
        {{ wts.getI18nLabel(this.i18nBasePath, 'bank.actions.add') }}
    </button>
</div>

<div *ngIf="paymentUpdateAccountType === 'creditCard'">
    <p class="ant-modal__descr">
        {{ wts.getI18nLabel(this.i18nBasePath, 'card.description') }}
    </p>

    <button
        nz-button
        nzSize="large"
        nzBlock
        nzType="primary"
        (click)="addCreditCard()">
        {{ wts.getI18nLabel(this.i18nBasePath, 'card.actions.add') }}
    </button>
</div>
