<ng-container *ngIf="{ modal: modal$ | async } as data">
    <nz-modal
        data-cy="sign-up__form"
        nzTitle="Sign Up"
        [nzFooter]="null"
        [nzVisible]="data.modal === modalStates.Form"
        (nzOnCancel)="onModalClose()"
        #signUpModalEl>
        <ng-container *nzModalContent>
            <form
                class="ant-form-inverse"
                nz-form
                nzLayout="vertical"
                [formGroup]="signUpForm"
                #signUpFormEl>
                <nz-form-item *ngIf="message$ | async as message">
                    <nz-alert
                        data-cy="login-error"
                        [nzMessage]="message.text"
                        [nzType]="message.type"></nz-alert>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__first-name">
                    <nz-form-label nzFor="firstName">First Name</nz-form-label>

                    <nz-form-control nzErrorTip="First Name is required">
                        <input
                            formControlName="firstName"
                            id="firstName"
                            nz-input
                            type="text" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__last-name">
                    <nz-form-label nzFor="lastName">Last Name</nz-form-label>

                    <nz-form-control nzErrorTip="Last Name is required">
                        <input
                            formControlName="lastName"
                            id="lastName"
                            nz-input
                            type="text" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__email">
                    <nz-form-label nzFor="email">Email</nz-form-label>

                    <nz-form-control [nzErrorTip]="emailErrorTemplate">
                        <input
                            formControlName="email"
                            id="email"
                            nz-input
                            type="email" />
                    </nz-form-control>

                    <ng-template
                        #emailErrorTemplate
                        let-control>
                        <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
                        <ng-container *ngIf="control.hasError('email')">Please enter a valid email address</ng-container>
                    </ng-template>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__password">
                    <nz-form-label nzFor="password">Password</nz-form-label>

                    <nz-form-control
                        [nzErrorTip]="passwordErrorTemplate"
                        [nzSuccessTip]="passwordErrorTemplate">
                        <input
                            autocomplete="new-password"
                            appPasswordInput
                            formControlName="password"
                            id="password"
                            nz-input
                            type="password" />
                    </nz-form-control>

                    <ng-template
                        #passwordErrorTemplate
                        let-control>
                        <app-password-validator [errors]="control.errors"></app-password-validator>
                    </ng-template>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__password-confirm">
                    <nz-form-label nzFor="confirmPassword">Confirm Password</nz-form-label>

                    <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
                        <input
                            appPasswordInput
                            formControlName="confirmPassword"
                            id="confirmPassword"
                            nz-input
                            type="password" />
                    </nz-form-control>

                    <ng-template
                        #confirmPasswordErrorTemplate
                        let-control>
                        <ng-container *ngIf="control.hasError('required')">Confirmation for Password is required</ng-container>
                        <ng-container *ngIf="control.hasError('mismatch')">Passwords don't match</ng-container>
                    </ng-template>
                </nz-form-item>

                <nz-form-item data-cy="sign-up__submit">
                    <nz-form-control>
                        <button
                            nz-button
                            nzBlock
                            nzSize="large"
                            nzType="primary"
                            [disabled]="bazaFormValidatorService.isFormFilledAndValid(signUpForm)"
                            (click)="onFormSubmit(signUpFormEl, signUpModalEl)">
                            Sign Up
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </form>

            <div>
                Already have an account?

                <a [routerLink]="['', { outlets: { modal: ['auth', 'login'] } }]">Sign In</a>
            </div>
        </ng-container>
    </nz-modal>

    <nz-modal
        class="ant-form-inverse"
        data-cy="sign-up__success"
        nzTitle="Almost Done"
        [nzFooter]="null"
        [nzVisible]="data.modal === modalStates.Success"
        (nzOnCancel)="onModalClose()">
        <ng-container *nzModalContent>
            <p class="ant-modal__descr">Check your inbox for our verification email, once you're verified you can buy shares!</p>
        </ng-container>
    </nz-modal>
</ng-container>
