<div class="steps-content">
    <div
        nz-row
        nzGutter="30"
        class="purchase-pymt">
        <div
            nz-col
            nzXs="12"
            class="purchase-pymt__section">
            <div class="purchase-pymt__title">
                {{ wts?.getI18nLabel(i18nBasePath, 'title') }}
            </div>

            <ul class="done-list">
                <li class="done-list__item">
                    <svg-icon-sprite
                        class="done-list__icon"
                        src="done"></svg-icon-sprite>
                    {{ wts?.getI18nLabel(i18nBasePath, 'checklist.accountVerified') }}
                </li>

                <li class="done-list__item">
                    <svg-icon-sprite
                        class="done-list__icon"
                        src="done"></svg-icon-sprite>
                    {{ wts?.getI18nLabel(i18nBasePath, 'checklist.documentSigned') }}
                </li>

                <li
                    *ngIf="paymentMethodAdded"
                    class="done-list__item">
                    <svg-icon-sprite
                        class="done-list__icon"
                        src="done"></svg-icon-sprite>
                    {{ wts?.getI18nLabel(i18nBasePath, 'checklist.paymentMethodAdded') }}
                </li>
            </ul>

            <app-nc-purchase-methods
                *ngIf="loadMethods"
                [isPurchaseAboveLimit]="isPurchaseAboveLimit"
                [paymentMethodConfig]="paymentConfig.paymentMethodConfig"
                (updateSubmitBtnDisableStatus)="onUpdateSubmitBtnDisableStatus($event)"
                (paymentMethodAdded)="paymentMethodAdded = $event"></app-nc-purchase-methods>
        </div>

        <div
            nz-col
            nzXs="12"
            class="purchase-pymt__summary">
            <app-summary
                [entity$]="cart$"
                [numberOfShares$]="numberOfShares$"
                [purchaseStart$]="purchaseStart$"></app-summary>
        </div>
    </div>
</div>

<div
    nz-row
    nzGutter="30">
    <div
        nz-col
        nzXs="12"
        class="purchase__steps-action">
        <div class="steps-action-with-header">
            <div
                class="steps-note"
                [innerHTML]="wts?.getI18nLabel(i18nBasePath, 'authorization.label') | sanitizeHtml"
                appLinkify
                [links]="authorizationLinksConfig"></div>

            <div class="steps-action">
                <button
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    type="submit"
                    (click)="onFormSubmit()"
                    [disabled]="isSubmitBtnDisabled">
                    {{ wts?.getI18nLabel(i18nBasePath, 'actions.submit') }}
                </button>

                <button
                    class="btn-angle-left"
                    nz-button
                    nzSize="large"
                    nzType="default"
                    (click)="onBackClick()">
                    {{ wts?.getI18nLabel(i18nBasePath, 'actions.back') }}
                </button>
            </div>
        </div>
    </div>
</div>
