{{#> cmsLayoutHtmlEn }}
    <br>
    <br>Hi,
    <br>
    <br>The following user has requested to buy shares:
    <br>
    <br><b>{{../reservedBy}}</b>
    <br><b>Email</b>: {{../reservedByEmail}}
    <br><b>Offering</b>: {{../offeringType}} – {{../offeringName}}
    <br><b>Shares</b>: {{../numberOfShares}}
    <br>
    <br>Thanks,
    <br>
    <br>{{project}}
{{/cmsLayoutHtmlEn}}
