{{#> webLayoutTextEn }}
Hi,

The following user has requested to buy shares:

{{../reservedBy}}
Email: {{../reservedByEmail}}
Offering: {{../offeringType}} – {{../offeringName}}
Shares: {{../numberOfShares}}

Thanks,

{{project}}
{{/webLayoutTextEn}}
