<nz-space>
    <ng-container *ngFor='let label of labels'>
        <div *nzSpaceItem>
            <button
                nz-button
                [nzType]='nzType$(label) | async'
                (click)='label.callback(label)'
            >
                <span>{{ title$(label) | async }}</span>
                <i nz-icon *ngIf='isActive$(label) | async' nzType='close'></i>
            </button>
        </div>
    </ng-container>
</nz-space>
