@import './variables/variables';
@import './mixins/mixins';

.portfolio__header {
    display: flex;
    background-color: @body-background;
    min-height: 137px;
    padding: 32px 0;
    margin-bottom: 10px;

    @media (min-width: @screen-sm) {
        justify-content: center;
    }

    @media (min-width: @screen-md) {
        padding: 20px 0;
    }
}

.portfolio__title {
    line-height: 1;
    margin-bottom: 20px;

    @media (min-width: @screen-lg) {
        font-size: 48px;
        margin: auto 0;
    }
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    margin: initial;
    align-self: center;
    justify-content: space-between;

    @media (min-width: @screen-lg) {
        flex-direction: row;
    }
}

.portfolio__link {
    text-decoration: none;
}
