<div class="portfolio__header">
    <div class="container portfolio__container">
        <h1 class="portfolio__title">Portfolio</h1>

        <div
            class="portfolio-total"
            *ngIf="totals$ | async as totals">
            <div class="portfolio-total__items">
                <h3 class="portfolio-total__value">
                    {{ (totals.totalHoldingCurrentValueCents || 0) / 100 | priceCents }}
                </h3>

                <div class="portfolio-total__descr">Total Holdings</div>
            </div>

            <div class="portfolio-total__items">
                <h3 class="portfolio-total__value">
                    {{ (totals.totalDividendCents || 0) / 100 | priceCents }}
                </h3>

                <div class="portfolio-total__descr">Total Dividends</div>
            </div>

            <div class="portfolio-total__items">
                <h3 class="portfolio-total__value">
                    {{ (totals.totalReturnValueCents || 0) / 100 | priceCents }} ({{ totals.totalReturnPercent }}%)
                </h3>

                <div class="portfolio-total__descr">Total Return</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nz-tabset
        nzLinkRouter
        class="ant-tabs-overflow">
        <nz-tab>
            <a
                class="portfolio__link"
                *nzTabLink
                nz-tab-link
                [routerLink]="['assets']">
                Assets
            </a>
            <ng-template nz-tab>
                <app-portfolio-asset></app-portfolio-asset>
            </ng-template>
        </nz-tab>

        <nz-tab>
            <a
                class="portfolio__link"
                *nzTabLink
                nz-tab-link
                [routerLink]="['transactions']">
                Transactions
            </a>
            <ng-template nz-tab>
                <app-portfolio-transaction></app-portfolio-transaction>
            </ng-template>
        </nz-tab>

        <nz-tab>
            <a
                class="portfolio__link"
                *nzTabLink
                nz-tab-link
                [routerLink]="['statements']">
                Statements
            </a>
            <ng-template nz-tab>
                <app-portfolio-statement></app-portfolio-statement>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</div>
