{{#> webLayoutHtmlEn }}
    <p>Just a quick courtesy to let you know that your funds have been transferred from escrow and your investment is approved.</p>
    <p>Once the offering is closed we will send your ownership documents and further details.</p>
    <p>Thank you,</p>
    <p>{{ clientName }}</p>
{{/webLayoutHtmlEn}}
