<div class='tree-view-container'>
    <nz-tree-view [nzTreeControl]='treeControl' [nzDataSource]='dataSource'>
        <nz-tree-node *nzTreeNodeDef='let node' nzTreeNodeIndentLine>
            <nz-tree-node-option>
                {{ node.item.title }}
            </nz-tree-node-option>
            <ng-container *ngFor='let action of config.actions'>
                <nz-tree-node-toggle nzTreeNodeNoopToggle>
                    <i [class]='action.icon' nz-icon [nzType]='action.icon' nzTheme='outline'
                       (click)='action.action(node.item)'></i>
                </nz-tree-node-toggle>
            </ng-container>
        </nz-tree-node>

        <nz-tree-node *nzTreeNodeDef='let node; when: hasChild' nzTreeNodeIndentLine>
            <nz-tree-node-toggle>
                <i nz-icon [nzType]="treeControl.isExpanded(node) ? 'minus-square' : 'plus-square'"
                   nzTheme='outline'></i>
            </nz-tree-node-toggle>
            <nz-tree-node-option>
                {{ node.item.title }}
            </nz-tree-node-option>
            <ng-container *ngFor='let action of config.actions'>
                <nz-tree-node-toggle nzTreeNodeNoopToggle>
                    <i [class]='action.icon' nz-icon [nzType]='action.icon' nzTheme='outline'
                       (click)='action.action(node.item)'></i>
                </nz-tree-node-toggle>
            </ng-container>
        </nz-tree-node>
    </nz-tree-view>
</div>
