<ng-container
    *ngIf="{
        success: success$ | async
    } as data">
    <nz-layout class="landing">
        <div
            nz-row
            nzJustify="space-between"
            class="landing__row">
            <div
                nz-col
                nzXs="12"
                nzLg="7"
                class="landing__section">
                <div class="container landing__header">
                    <app-marketing-header></app-marketing-header>
                </div>

                <div class="container landing__container">
                    <div class="landing__body">
                        <ng-container
                            *ngIf="data.success"
                            [ngTemplateOutlet]="success_template"></ng-container>
                        <ng-container
                            *ngIf="!data.success"
                            [ngTemplateOutlet]="form_template"></ng-container>
                    </div>
                    <div class="landing__footer">
                        <app-marketing-footer-social></app-marketing-footer-social>
                    </div>
                </div>
            </div>

            <div
                nz-col
                nzXs="12"
                nzLg="5"
                class="landing__image"></div>
        </div>

        <ng-template #success_template>
            <h1 class="landing__title">Thank you for signing up!</h1>
            <p class="landing__text">You'll be the first to know when Scalio's Investment Platform is Live!</p>
        </ng-template>

        <ng-template #form_template>
            <h1 class="landing__title">Investment Platform</h1>

            <p class="landing__text">
                The Scalio Investment Platform allows companies to quickly launch a modern and customizable web application for users to
                invest in a series of fractionalized assets.
                <br />
                <br />
                Sign up for the waitlist below to learn more.
            </p>

            <form
                nz-form
                nzLayout="vertical"
                [formGroup]="form">
                <div class="landing-form">
                    <div class="landing-form__row">
                        <nz-form-item class="landing-form__email">
                            <nz-form-label nzFor="email">Email</nz-form-label>

                            <nz-form-control [nzErrorTip]="emailErrorTemplate">
                                <input
                                    autofocus
                                    data-cy="submit__email-input"
                                    formControlName="email"
                                    id="email"
                                    nz-input
                                    type="email"
                                    class="landing-form__input" />
                            </nz-form-control>

                            <ng-template
                                #emailErrorTemplate
                                let-control>
                                <span data-cy="submit__email-error">
                                    <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
                                    <ng-container *ngIf="control.hasError('email')">Please enter a valid email address</ng-container>
                                </span>
                            </ng-template>
                        </nz-form-item>
                        <nz-form-item class="landing-form__submit">
                            <nz-form-control>
                                <button
                                    nz-button
                                    nzType="primary"
                                    type="submit"
                                    [disabled]="form.invalid || form.pristine"
                                    (click)="onFormSubmit()"
                                    class="landing-form__button">
                                    Submit
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </form>
        </ng-template>
    </nz-layout>
</ng-container>
