@import 'variables/variables';
@import 'mixins/mixins';

.landing {
    height: 100%;
    overflow: initial;

    @media (min-width: @screen-lg) {
        overflow: hidden;
    }
}

.landing__row {
    height: 100vh;
}

.landing__container {
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-evenly;
    padding: 25px 30px 0px 30px;

    @media (min-width: @screen-md) {
        padding: 20px 80px 0px 80px;
    }

    @media (min-width: @screen-lg) {
        padding: 40px 40px 0px 50px;
        justify-content: space-between;
    }

    @media (min-width: @screen-xl) {
        padding: 40px 60px 0px 75px;
    }

    @media (min-width: @screen-xxl) {
        padding: 40px 80px 0px 100px;
    }
}

.landing__title {
    @media (min-width: @screen-md) {
        font-size: 48px;
    }
}

.landing__text {
    padding-right: 0px;

    @media (min-width: @screen-md) {
        padding-right: 30px;
    }

    @media (min-width: @screen-xxl) {
        padding-right: 150px;
    }
}

.landing__body {
    @media (min-width: @screen-lg) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }
}

.landing__image {
    background: url('/assets/images/landing-img.jpg') no-repeat 50% 40% / cover;
    padding-top: 50%;

    @media (min-width: @screen-lg) {
        padding-top: 0;
    }
}

.landing__header {
    display: flex;
    justify-content: center;

    @media (min-width: @screen-lg) {
        justify-content: unset;
    }
}

.landing__footer {
    margin-top: 15px;
    margin-bottom: 10px;

    @media (min-width: @screen-lg) {
        margin-bottom: 30px;
    }
}
