<ng-container *ngIf="(assets$ | async)?.length; else assetEmptyState">
    <div class="row-info">
        {{ (assets$ | async)?.length | i18nPlural: investmentMapping }}
    </div>

    <div
        nz-row
        [nzGutter]="30">
        <app-portfolio-asset-card
            nz-col
            nzXs="12"
            nzMd="6"
            nzLg="4"
            [asset]="asset"
            *ngFor="let asset of assets$ | async"></app-portfolio-asset-card>
    </div>
</ng-container>

<ng-template #assetEmptyState>
    <ng-container>
        <nz-empty
            nzNotFoundContent="No Assets in Your Portfolio"
            nzNotFoundFooter="Buy shares to see your assets under management here"
            [nzNotFoundImage]="imageTpl">
            <ng-template #imageTpl>
                <svg-icon-sprite src="empty"></svg-icon-sprite>
            </ng-template>
        </nz-empty>
    </ng-container>
</ng-template>
