<div class="txt-sect">
    <div class="container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="txt-sect__col">
                <div class="txt-sect__container">
                    <div
                        class="txt-sect__heading"
                        [innerHtml]="config?.heading"></div>

                    <div
                        class="txt-sect__subheading"
                        [innerHtml]="config?.subHeading"></div>
                </div>
            </div>

            <div
                nz-col
                nzXs="12"
                class="txt-sect__col">
                <div class="txt-sect__container txt-sect__container-right">
                    <div
                        *ngIf="config?.subtitle"
                        class="txt-sect__subtitle"
                        [innerHtml]="config?.subtitle"></div>

                    <div
                        class="txt-sect__descr"
                        [innerHtml]="config?.descr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
