<div class="bullets-img">
    <div class="bullets-img__container">
        <div class="bullets-img__row">
            <div
                class="bullets-img__label"
                [innerHtml]="config.label"></div>

            <div class="bullets-img-bg">
                <ng-container *ngFor="let image of config.images">
                    <div
                        class="bullets-img-bg__col"
                        [style.background-image]="getBulletImg(image)"></div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
