// ant-btn
.ant-btn {
    text-transform: uppercase;
    background: @neutral-4;
    &:not(.ant-btn-lg):not(.ant-btn-sm) {
        font-size: @font-size-sm;
    }

    &[disabled],
    &[disabled]:hover {
        background: @neutral-4;
        border-color: @neutral-4;
        color: @neutral-7;
    }

    &:hover,
    &:focus,
    &:active {
        background: @neutral-5;
        color: @text-color;
        border-color: @neutral-5;
    }
}
