// ant-form-item
.ant-form-item {
    margin-bottom: 40px;
}

// ant-form-item-with-help
.ant-form-item-with-help {
    margin-bottom: 16px;
}

// ant-form-item-explain & -extra
.ant-form-item-explain,
.ant-form-item-extra {
    font-size: @font-size-sm;
}
