.ant-input {
    &:hover {
        border: 1px solid @neutral-10;
    }

    &:focus,
    &:active {
        box-shadow: none;
        border: 1px solid @primary-color;
    }

    &:disabled,
    .ant-input[disabled] {
        border: 1px solid @neutral-6;
        background: @neutral-3;
    }
}
