<div class="card-icon">
    <div class="card-icon__item">
        <svg-icon-sprite src="mastercard"></svg-icon-sprite>
    </div>

    <div class="card-icon__item">
        <svg-icon-sprite src="visa"></svg-icon-sprite>
    </div>

    <div class="card-icon__item">
        <svg-icon-sprite src="discover"></svg-icon-sprite>
    </div>
</div>

<form
    class="ant-form-inverse card-details"
    nz-form
    nzLayout="vertical"
    [formGroup]="cardDetailsForm"
    #cardDetailsFormEl>
    <nz-form-item>
        <nz-form-label nzFor="creditCardholderName">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'ccName.label') }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="ccNameErrorTemplate">
            <input
                nz-input
                formControlName="creditCardholderName"
                id="creditCardholderName" />
        </nz-form-control>

        <ng-template
            #ccNameErrorTemplate
            let-control>
            <span data-cy="account-number-input-error">
                {{ getErrorMessage(control, 'ccName') }}
            </span>
        </ng-template>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="creditCardNumber">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'ccNumber.label') }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="creditCardNumberErrorTemplate">
            <input
                formControlName="creditCardNumber"
                id="creditCardNumber"
                [minlength]="creditCardNumberLength"
                nz-input />
        </nz-form-control>

        <ng-template
            #creditCardNumberErrorTemplate
            let-control>
            <span data-cy="card-number-input-error">
                {{ getErrorMessage(control, 'ccNumber') }}
            </span>
        </ng-template>
    </nz-form-item>

    <div
        nz-row
        nzGutter="15">
        <div
            nz-col
            nzXs="6">
            <nz-form-item>
                <nz-form-label nzFor="expireDate">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'expireDate.label') }}
                </nz-form-label>

                <nz-form-control [nzErrorTip]="expireDateErrorTemplate">
                    <input
                        formControlName="expireDate"
                        id="expireDate"
                        autocomplete="cc-exp"
                        nz-input
                        [imask]="maskDate" />
                </nz-form-control>

                <ng-template
                    #expireDateErrorTemplate
                    let-control>
                    {{ getErrorMessage(control, 'expireDate') }}
                </ng-template>
            </nz-form-item>
        </div>

        <div
            nz-col
            nzXs="6">
            <nz-form-item>
                <nz-form-label nzFor="creditCardCvv">
                    {{ wts.getI18nLabel(i18nFormFieldsPath, 'cvv.label') }}
                </nz-form-label>

                <nz-form-control [nzErrorTip]="creditCardCvvErrorTemplate">
                    <input
                        nz-input
                        formControlName="creditCardCvv"
                        id="creditCardCvv"
                        [minlength]="cvvCodeLength"
                        [maxlength]="cvvCodeLength"
                        type="password" />
                </nz-form-control>

                <ng-template
                    #creditCardCvvErrorTemplate
                    let-control>
                    {{ getErrorMessage(control, 'cvv') }}
                </ng-template>
            </nz-form-item>
        </div>
    </div>
</form>
