<ng-container *ngIf="verification$ | async as verification">
    <div *ngIf="verificationCompleted(verification); else noPaymentData">
        <div
            class="bank-info"
            *ngIf="{
                card: (card$ | async),
                bankAccount: (bankAccount$ | async),
                isCardLoading: (isCardLoading$ | async),
                isBankAccountLoading: (isBankAccountLoading$ | async)
            } as data">
            <div class="bank-info__item bank-info__item-row">
                <div
                    nz-row
                    *ngIf="!data.isBankAccountLoading">
                    <div
                        nz-col
                        nzXs="12"
                        nzMd="11"
                        nzLg="5"
                        nzXl="6">
                        <h3 class="bank-info__item-name">{{ !data?.bankAccount?.isAvailable ? 'Add ' : '' }}Bank Account</h3>

                        <nz-alert
                            *ngIf="showAlert$ | async"
                            nzType="warning"
                            nzMessage="Connect with a checking or savings account to receive dividends"
                            class="bank-info__warning-msg"></nz-alert>

                        <p
                            class="bank-info__description"
                            *ngIf="data?.bankAccount?.isAvailable">
                            Your bank account will be utilized to receive dividends
                        </p>

                        <app-nc-payment-bank-account
                            [srcData]="data.bankAccount"
                            [style]="'Bordered'"
                            [isAddModeOn]="!data?.bankAccount?.isAvailable"
                            [isEditModeOn]="data?.bankAccount?.isAvailable"
                            (bankLinkClicked)="onBankLink()"
                            (manualLinkClicked)="showBankAccountDetails()"></app-nc-payment-bank-account>

                        <button
                            class="bank-info__item-btn"
                            nz-button
                            nzSize="small"
                            (click)="showBankAccountDetailsWrapper()"
                            *ngIf="data?.bankAccount?.isAvailable">
                            Edit
                        </button>
                    </div>
                </div>

                <div
                    nz-row
                    *ngIf="data.isBankAccountLoading">
                    <div
                        nz-col
                        nzXs="12"
                        nzMd="11"
                        nzLg="5"
                        nzXl="6">
                        <nz-skeleton></nz-skeleton>
                    </div>
                </div>
            </div>

            <div class="bank-info__item bank-info__item-row">
                <div
                    nz-row
                    *ngIf="!data.isCardLoading">
                    <div
                        class="bank-info__payment-card-container"
                        nz-col
                        nzXs="12"
                        nzMd="11"
                        nzLg="5"
                        nzXl="6">
                        <h3 class="bank-info__item-name">{{ !data?.card?.isAvailable ? 'Add ' : '' }}Card</h3>

                        <app-nc-payment-card
                            [isAddModeOn]="!data?.card?.isAvailable"
                            [isEditModeOn]="data?.card?.isAvailable"
                            [limits$]="limits$"
                            [srcData]="data?.card"
                            [style]="'Bordered'"
                            (handleAddCard)="showCardDetails()"></app-nc-payment-card>

                        <button
                            class="bank-info__item-btn"
                            nz-button
                            nzSize="small"
                            (click)="showCardDetailsWrapper()"
                            *ngIf="data?.card?.isAvailable">
                            Edit
                        </button>
                    </div>
                </div>

                <div
                    nz-row
                    *ngIf="data.isCardLoading">
                    <div
                        nz-col
                        nzXs="12"
                        nzMd="11"
                        nzLg="5"
                        nzXl="6">
                        <nz-skeleton></nz-skeleton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #noPaymentData>
    <nz-empty
        nzNotFoundContent="Payment Method"
        nzNotFoundFooter="You will see your linked payment method here after your first Purchase"
        [nzNotFoundImage]="imageTpl">
        <ng-template #imageTpl>
            <svg-icon-sprite src="empty"></svg-icon-sprite>
        </ng-template>
    </nz-empty>
</ng-template>

<app-nc-payment-bank-account-modal
    [bankDetailsForm]="bankDetailsForm"
    [isBankDetailsFormVisible]="isBankDetailsFormVisible"
    (handleBankDetailsCancel)="hideBankAccountDetails()"
    (submitManualBankDetailsForm)="applyBankAccountDetails()"></app-nc-payment-bank-account-modal>

<app-nc-payment-card-modal
    [cardDetailsForm]="cardDetailsForm"
    [isCardDetailsFormVisible]="isCardDetailsFormVisible"
    (handleCardDetailsCancel)="hideCardDetails()"
    (submitCardForm)="applyCardDetails()"></app-nc-payment-card-modal>

<nz-modal
    nzTitle="Update Bank Account"
    [nzFooter]="null"
    [nzAutofocus]="null"
    [(nzVisible)]="isBankDetailsFormWrapperVisible"
    [nzClosable]="false"
    [nzMaskClosable]="true">
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="this.hideBankAccountDetailsWrapper()"></app-payment-header>

        <p class="ant-modal__descr">
            You are about to begin adding a new bank account. If you complete this process, your current payment and dividend method account
            will be replaced.
        </p>

        <button
            nz-button
            nzSize="large"
            nzBlock
            nzType="primary"
            (click)="showBankMethodSelection()">
            Add New Bank Account
        </button>
    </ng-container>
</nz-modal>

<nz-modal
    nzTitle="Update Bank Account"
    [nzFooter]="null"
    [nzAutofocus]="null"
    [(nzVisible)]="isBankMethodSelectionFormWrapperVisible"
    [nzClosable]="false"
    [nzMaskClosable]="true">
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="this.hideBankMethodSelectionFormWrapper()"></app-payment-header>

        <app-nc-payment-bank-account
            [isAddModeOn]="true"
            (bankLinkClicked)="onBankLinkFromWrapper()"
            (manualLinkClicked)="showBankAccountDetailsFromWrapper()"></app-nc-payment-bank-account>
    </ng-container>
</nz-modal>

<nz-modal
    nzTitle="Update Card"
    [nzFooter]="null"
    [nzAutofocus]="null"
    [(nzVisible)]="isCardDetailsFormWrapperVisible"
    [nzClosable]="false"
    [nzMaskClosable]="true">
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="this.hideCardDetailsWrapper()"></app-payment-header>

        <p class="ant-modal__descr">
            You are about to begin adding a new card. If you complete this process, your current card will be replaced.
        </p>

        <button
            nz-button
            nzSize="large"
            nzBlock
            nzType="primary"
            (click)="showCardDetailsFromWrapper()">
            Add New Card
        </button>
    </ng-container>
</nz-modal>
