@import 'variables/variables';
@import 'mixins/mixins';

// footer
.footer {
    color: @normal-color;
    padding: 30px 0px 30px 0px;
    z-index: 1000;
    background: none;
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md) {
        padding: 25px 0px 20px 0px;
        justify-content: space-between;
    }

    a {
        color: @normal-color;
        &:hover,
        &:active {
            color: @primary-color;
            text-decoration: underline;
        }
    }
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media (min-width: @screen-lg) {
        flex-direction: row;
    }
}

// footer__links
.footer__links {
    font-size: @font-size-sm;
    width: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;

    a {
        text-decoration: none;
    }

    @media (min-width: @screen-md) {
        margin-bottom: 0;
        order: 0;
        width: auto;
        flex-direction: row;
    }

    @media (min-width: @screen-lg) {
        align-self: flex-end;
    }
}

.footer__link {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 24px;
}

// footer__icons
.footer__icons {
    font-size: 24px;
    text-align: right;
    margin-top: -10px;
    text-align: left;

    @media (min-width: @screen-md) {
        text-align: right;
    }
}

// footer__icon
.footer__icon {
    display: inline-block;
    margin-right: 32px;

    a {
        color: @black;

        &:hover,
        &:active {
            color: @black;
            opacity: 0.8;
        }
    }

    @media (min-width: @screen-md) {
        margin-right: 20px;
    }
}

.footer__icon-twitter {
    margin-top: 3px;
}
