<nz-modal
    nzClassName="ant-modal-sm"
    nzTitle="Delete Account"
    [nzFooter]="footerTpl"
    (nzOnCancel)="cancel()"
    [(nzVisible)]="visible"
    *ngIf="totalPortfolio | async as totalData">
    <ng-container *nzModalContent>
        <div *ngIf="totalData.totalHoldings > 0">
            <p class="ant-modal__descr">
                If you have purchased shares and are interested in closing your account, then you will need to email
                <a href="mailto:{{ getContactUsEmail() }}">{{ getContactUsEmail() }}</a>
                with any transaction related requests.
            </p>

            <p class="ant-modal__descr">
                A confirmation email will be sent to your email address on-file. Upon confirmation of account deletion, you will no longer
                have access to investment information within the app.
            </p>

            <p class="ant-modal__descr">
                Are you sure you would like to delete your account? This action can not be undone.
                <br />
                <br />
            </p>
        </div>

        <div *ngIf="totalData.totalHoldings === 0">
            <p class="ant-modal__descr">
                A confirmation email will be sent to your email address on-file. Upon confirmation of account deletion, you will no longer
                have access to investment information within the app.
            </p>

            <p class="ant-modal__descr">
                Are you sure you would like to delete your account? This action can not be undone.
                <br />
                <br />
            </p>
        </div>
    </ng-container>

    <ng-template #footerTpl>
        <button
            nz-button
            (click)="cancel()">
            Cancel
        </button>

        <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="confirm()">
            Confirm
        </button>
    </ng-template>
</nz-modal>
