<ng-container
    *ngIf="{
        state: state$ | async,
        message: message$ | async
    } as data">
    <div
        class="auth-page auth-modal-styler"
        data-cy="confirm-email">
        <ng-container [ngSwitch]="data.state">
            <ng-container
                *ngSwitchCase="states.Loading"
                [ngTemplateOutlet]="loadingState"></ng-container>

            <ng-container
                *ngSwitchCase="states.Success"
                [ngTemplateOutlet]="successState"></ng-container>

            <ng-container
                *ngSwitchCase="states.Error"
                [ngTemplateOutlet]="errorState"></ng-container>
        </ng-container>

        <ng-template #loadingState>We're verifying your account</ng-template>

        <ng-template #errorState>
            <h2 class="ant-modal__title">Verification Failed</h2>

            <p class="ant-modal__descr">{{ data.message.text }}</p>
        </ng-template>

        <ng-template #successState>
            <h2 class="ant-modal__title">Verification Success</h2>

            <p class="ant-modal__descr">Thank you for verifying your email address. Now you can sign in and buy shares!</p>

            <nz-form-item class="ant-form-item-ending">
                <nz-form-control>
                    <a
                        nz-button
                        nzBlock
                        nzSize="large"
                        nzType="primary"
                        (click)="processSignInClick()">
                        Sign In
                    </a>
                </nz-form-control>
            </nz-form-item>
        </ng-template>
    </div>
</ng-container>
