@import 'variables/variables';
@import 'mixins/mixins';

// footer-menu
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    list-style: none;
    margin: 0 0 33px;
    padding: 0;
}

// footer-menu item
.footer-menu__item {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
    margin-left: 0;

    &:last-child {
        margin-right: 0;
    }

    @media (min-width: @screen-md) {
        display: inline-block;
    }
}

// footer-menu link
.footer-menu__link {
    text-decoration: none;
    color: @text-color;
    font-size: 16px;

    &:active,
    &:hover {
        color: @primary-color;
    }
}
