<ul class="footer-menu">
    <ng-container *ngIf="user">
        <li
            class="footer-menu__item"
            nzMatchRouter>
            <a
                class="footer-menu__link"
                [routerLink]="['/items']">
                Listings
            </a>
        </li>

        <li
            class="footer-menu__item"
            nzMatchRouter>
            <a
                class="footer-menu__link"
                [routerLink]="['/portfolio']">
                My Portfolio
            </a>
        </li>

        <li
            class="footer-menu__item"
            nzMatchRouter>
            <a
                class="footer-menu__link"
                [routerLink]="['/favorites']">
                Favorites
            </a>
        </li>
    </ng-container>
</ul>
