<app-nc-verification>
    <app-nc-verification-info
        *ngIf="currentTab === 0"
        target="info"></app-nc-verification-info>
    <app-nc-verification-investor
        *ngIf="currentTab === 1"
        target="investor"></app-nc-verification-investor>
</app-nc-verification>
