{{#> webLayoutHtmlEn }}
    <br>
    <br>Hello {{../userFullName}},
    <br>
    <br>We’re happy to inform you that {{../offeringName}} is now open for investments!
    <br>
    <br>Thank You,
    <br>
    <br>{{../clientName}}
    <br>
    <br><img src="{{../cmsLogoUrl}}" alt="logo" width="200px">
{{/webLayoutHtmlEn}}
