{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    {{{ ../message }}}

    <p>Please reset your password by clicking the following link and referencing our new password guidelines: <a href='{{ ../link }}'>Reset Password</a></p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
    </p>
{{/webLayoutHtmlEn}}
