<div>
    <div class="time-stamp" *ngIf='created'>
        <span><strong>Created</strong>: <span class='value'>{{ created | date: 'MMM d, y, h:mm a' }}</span></span>
    </div>
    <div class="time-stamp" *ngIf='updated'>
        <span><strong>Updated</strong>: <span class='value'>{{ updated | date: 'MMM d, y, h:mm a' }}</span></span>
    </div>
</div>
