<nz-card
    class="asset-card"
    [nzBordered]="false"
    [nzCover]="cardCoverTemplate">
    <div class="card-info__row">
        <div>
            {{ asset.totalPurchasedShares | i18nPlural: shareMapping }}

            <a
                *ngIf="asset.lastFailedTransaction"
                class="asset-card__icon"
                nz-popover
                nzPopoverPlacement="right"
                nzPopoverTrigger="click"
                [(nzPopoverVisible)]="visible"
                [nzPopoverContent]="tooltipTemplate">
                <i class="icon icon-info-circle icon-wt"></i>
            </a>
        </div>

        <div>
            {{ asset.totalCurrentValueCents / 100 | priceCents }}
        </div>
    </div>

    <h4
        class="asset-card__title"
        nz-tooltip
        [nzTooltipTitle]="asset?.listing?.title"
        [nzTooltipTrigger]="triggerTooltip ? 'hover' : null">
        <ng-template
            nestedEllipsis
            (nestedEllipsisChange)="truncated($event)">
            {{ asset?.listing?.title }}
        </ng-template>
    </h4>

    <nz-divider class="card-info__divider"></nz-divider>

    <div class="card-info__row">
        <span class="card-info__name">Purchase Price</span>
        <span>{{ asset.purchasePriceCents / 100 | priceCents }}</span>
    </div>

    <div class="card-info__row">
        <span class="card-info__name">Share Value</span>
        <span>{{ asset.currentValueCents / 100 | priceCents }}</span>
    </div>

    <div class="card-info__row">
        <span class="card-info__name">Return</span>
        <span>{{ asset.totalReturnValueCents / 100 | priceCents }} ({{ asset.totalReturnPercent }}%)</span>
    </div>

    <div class="card-info__row">
        <span class="card-info__name">Dividends</span>
        <span>{{ asset.dividendsCents / 100 | priceCents }}</span>
    </div>
</nz-card>

<ng-template #cardCoverTemplate>
    <div class="asset-card__tags">
        <nz-tag
            class="ant-tag-status"
            *ngIf="asset.state && transactionState.Pending.includes(asset.state)">
            Pending
        </nz-tag>
    </div>

    <div class="card-cover">
        <img
            class="card-cover__image"
            [src]="imageCover" />
    </div>
</ng-template>

<ng-template #tooltipTemplate>
    <div class="purchase__popup">
        <p>
            Your purchase of {{ asset.lastFailedTransaction?.shares }} shares failed. Shares are reserved for 2 days, you can
            <a (click)="navigateToTransactions()">pay for your order now.</a>
        </p>
    </div>
</ng-template>
