@import 'variables/variables';
@import 'mixins/mixins';

:host {
    padding-top: 20px;

    @media (min-width: @screen-md) {
        padding-top: 30px;
    }
}

// asset-card
.asset-card {
    display: flex;
    flex-direction: column;
    border: solid 1px @border-color-split;
    height: 100%;
    overflow: hidden;

    &:hover {
        border-color: darken(@border-color-split, 20%);
    }
}

.card-cover {
    margin-bottom: 0;
}

.card-cover__image {
    .layer(0, 0, 0, 0);
}

// asset-card tags
.asset-card__tags {
    .layer(20px, auto, auto, 20px, 1);
    width: auto;
}

.asset-card__title {
    height: 48px;
    line-height: @line-height-heading;
    margin-bottom: 0;
    word-break: break-word;
}

.asset-card__icon {
    color: @error-color;
    cursor: pointer;
    font-size: 14px;
    margin-left: 4px;
}

.asset-card__link {
    text-decoration: none;
}
