<nz-tabset nzTabPosition='left' [formGroup]='state.form'>
    <nz-tab *ngFor='let aclGroup of allAclGroup; trackBy: trackByGroup' nzTitle='{{ i18nGroup(aclGroup) | translate }}'>
        <ng-container *ngFor='let aclNode of aclNodesOfGroup(aclGroup); trackBy: trackByNode'>
            <div class='checkbox --disable-user-select'>
                <nz-checkbox-wrapper>
                    <ng-container *ngIf="! isSystemRootNode(aclNode) && isSystemRootEnabled">
                        <label nz-checkbox [nzChecked]='true' [nzDisabled]='true'>{{ i18nNode(aclGroup, aclNode) | translate }}</label>
                    </ng-container>
                    <ng-container *ngIf="! isSystemRootEnabled || isSystemRootNode(aclNode)">
                        <label nz-checkbox [formControlName]='aclNode'>{{ i18nNode(aclGroup, aclNode) | translate }}</label>
                    </ng-container>
                </nz-checkbox-wrapper>
            </div>
        </ng-container>
    </nz-tab>
</nz-tabset>
