{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Please confirm your email by clicking the following link: <a href='{{ ../link }}'>Verify Account</a></p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../webLogoUrl }}" alt="logo" width="200px">
    </p>
{{/webLayoutHtmlEn}}
