<nz-modal
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [(nzVisible)]="isCardDetailsFormVisible"
    #paymentCardModal>
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="handleCardDetailsCancel.emit()"></app-payment-header>

        <app-card-details
            #cardDetails
            [cardDetailsForm]="cardDetailsForm"></app-card-details>

        <button
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            [disabled]="bazaFormValidatorService.isFormFilledAndValid(cardDetailsForm)"
            (click)="addCreditCard(paymentCardModal)">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.add') }}
        </button>
    </ng-container>
</nz-modal>
