.baza-loading-indicator {
    height: 3px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 999;
    top: 0;
    animation: baza-loading-animation-appear 0.3s linear;
}

.baza-loading-indicator:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: var(--primary-color);
    animation: baza-loading-animation 2s linear infinite;
}

@keyframes baza-loading-animation {
    from {left: 0; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

@keyframes baza-loading-animation-appear {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
