<div class="hiw">
    <div class="container hiw__container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="hiw__col">
                <div class="hiw__text">
                    <div
                        class="hiw__heading"
                        [innerHtml]="config?.heading"></div>

                    <div
                        class="hiw__subheading"
                        [innerHtml]="config?.subHeading"></div>
                </div>
            </div>
        </div>
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="hiw__col hiw__col-cards"
                *ngFor="let card of config?.sectionsConfig; let i = index">
                <app-how-it-works-card
                    [index]="i + 1"
                    [title]="card?.title"
                    [descr]="card?.descr"></app-how-it-works-card>
            </div>
        </div>
    </div>
</div>
