<div class='items'>
    <form *ngFor="let form of state.form.controls; let i = index;" [formGroup]="form">
        <div class='form-contents'>
            <baza-form-builder-contents [contents]='state.formItemConfig' [formGroup]='form' [childVcr]='vcr'>
            </baza-form-builder-contents>
        </div>
        <div class='form-controls'>
            <div class='form-controls-left'>
                <button nz-button nzType='link' (click)='moveItemUp(i)' *ngIf='state.form.controls.length > 1 && i > 0'>
                    <i nz-icon nzType="caret-up"></i>
                    <span>{{ i18n('actions.moveUp') | translate }}</span>
                </button>
                <button nz-button nzType='link' (click)='moveItemDown(i)' *ngIf='state.form.controls.length > 1 && i < state.form.controls.length - 1'>
                    <i nz-icon nzType="caret-down"></i>
                    <span>{{ i18n('actions.moveDown') | translate }}</span>
                </button>
            </div>
            <div class='form-controls-right'>
                <button nz-button nzType='link' nzDanger (click)='removeItem(i)'>
                    <i nz-icon nzType="delete"></i>
                    <span>{{ i18n('actions.remove') | translate }}</span>
                </button>
            </div>
        </div>
    </form>
    <div class='controls'>
        <button nz-button nzType='link' [disabled]='! canAddItem' (click)='addItem()'>
            <i nz-icon nzType="plus-circle"></i>
            <span>{{ i18n('actions.add') | translate }}</span>
        </button>
    </div>
</div>
