.items {
    form {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--normal-color);
    }

    .form-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
