<div class="container baza-form-builder-key-value">
    <div class="container-entries">
        <nz-space
            class="entry"
            *ngFor="let form of state.form.controls; let i = index"
            [formGroup]="castCurrentForm(form)">
            <div
                class="entry-key"
                *nzSpaceItem>
                <input
                    nz-input
                    type="text"
                    [attr.autofocus]="true"
                    formControlName="key"
                    placeholder="{{ keyPlaceholder | translate }}" />
            </div>
            <div
                class="entry-value"
                *nzSpaceItem>
                <input
                    nz-input
                    type="text"
                    [attr.autofocus]="true"
                    formControlName="value"
                    placeholder="{{ valuePlaceholder | translate }}" />
            </div>
            <div
                class="entry-actions"
                *nzSpaceItem>
                <button
                    nz-button
                    nzDanger
                    (click)="removeEntry(i)"
                    [disabled]="state.form.disabled">
                    <i
                        nz-icon
                        nzType="delete"></i>
                </button>
            </div>
        </nz-space>
    </div>
    <nz-space class="container-actions">
        <ng-container *ngIf="!hasMaximumEntries">
            <div class="container-action-add">
                <button
                    nz-button
                    nzType="link"
                    (click)="addEntry()"
                    [disabled]="!canAddEntry || state.form.disabled">
                    <span>{{ i18n('add') | translate }}</span>
                </button>
            </div>
        </ng-container>
    </nz-space>
</div>
