.entry {
    width: 100%;
    margin-bottom: 0.5rem;

    input {
        width: 100%;
    }

    .entry-key {
        width: 180px;
    }

    .entry-value {
        flex: 1;
    }

    .entry-actions {
        flex-shrink: 0;
        flex-grow: 0;
    }
}

::ng-deep {
    .baza-form-builder-key-value {
        .entry {
            .ant-space-item:nth-child(1) {
                max-width: 180px;
            }

            .ant-space-item:nth-child(2) {
                width: 100%;
            }
        }
    }
}
