<app-nc-purchase #purchase>
    <app-nc-purchase-details
        *ngIf="currentTab === 0"
        target="purchase-details"
        [initData]="initData$ | async"
        [personal$]="personal$"></app-nc-purchase-details>

    <app-nc-purchase-agreement
        *ngIf="currentTab === 1"
        target="purchase-agreement"
        (cancelPurchase)="purchase.cancelPurchase()"></app-nc-purchase-agreement>

    <app-nc-purchase-payment
        *ngIf="currentTab === 2"
        target="purchase-payment"></app-nc-purchase-payment>
</app-nc-purchase>
