//TODO: CB:07Mar2022: Consider extract as _ui-styles.less in case of need.
//TODO: CB:07Mar2022: Or delegate this logic to the upper-hierarchy cmp.
:host {
    background: #ffffff;
    display: block;
    overflow: hidden;

    > iframe {
        display: block;
    }
}
