<div>
    <div class="heading">
        <h3 class="heading__title">Email</h3>
    </div>

    <ng-container *ngIf="user$ | async as user">
        <div class="info-block">{{ user.email }}</div>
    </ng-container>
</div>
