.contents {
    text-align: center;
    padding-top: 5rem;
}

.placeholder {
    position: fixed;
    right: 0; bottom: 0;
    width: 500px;
    height: 328px;
    overflow: hidden;

    .placeholder-image {
        padding-top: 5px;
    }
}
