<div class='contents'>
    <h1 nz-typography>
        <span translate [translateParams]='translateParams'>{{ i18n('welcome') }}</span>
    </h1>
    <h4 nz-typography nzType='secondary'>
        <span translate [translateParams]='translateParams'>{{ i18n('version') }}</span>
    </h4>
</div>
<div class='placeholder --baza-dashboard-placeholder'>
    <div class='placeholder-image'>
        <!-- You can put placeholder image here with CSS -->
    </div>
</div>
