<div *ngIf="paymentMethodType === 'bankAccount'">
    <app-bank-details
        #bankDetails
        [bankDetailsForm]="bankDetailsForm"></app-bank-details>

    <button
        nz-button
        nzBlock
        nzSize="large"
        nzType="primary"
        [disabled]="bazaFormValidatorService.isFormFilledAndValid(bankDetailsForm)"
        (click)="addBankAccount()">
        {{ wts.getI18nLabel(i18nBasePath, 'bank.actions.add') }}
    </button>
</div>

<div *ngIf="paymentMethodType === 'creditCard'">
    <app-card-details
        #cardDetails
        [cardDetailsForm]="cardDetailsForm"></app-card-details>

    <button
        nz-button
        nzBlock
        nzSize="large"
        nzType="primary"
        [disabled]="bazaFormValidatorService.isFormFilledAndValid(cardDetailsForm)"
        (click)="addCreditCard()">
        {{ wts.getI18nLabel(i18nBasePath, 'card.actions.add') }}
    </button>
</div>
