.landing-form {
    margin-top: 24px;
}

.landing-form__row {
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md) {
        flex-direction: row;
    }
}

.landing-form__email {
    margin-bottom: 20px;

    @media (min-width: @screen-md) {
        margin-bottom: initial;
    }
}

.landing-form__input {
    margin: 0px;
    width: 100%;

    @media (min-width: @screen-md) {
        width: 384px;
    }
}

.landing-form__submit {
    margin-bottom: 0px;

    @media (min-width: @screen-md) {
        margin-bottom: initial;
    }
}

.landing-form__button {
    margin: 0px;
    height: 52px;
    width: 100%;

    @media (min-width: @screen-md) {
        margin: 32px 0 0 30px;
        height: 42px;
        width: initial;
    }
}
