.variables {
    display: table;

    .variable {
        display: table-row;
        margin-bottom: 1rem;

        .field {
            display: table-cell;
            padding-right: 1rem;
        }

        .field-description {
            display: table-cell;

            .sub-variables {
                margin-top: 1rem;
            }
        }
    }
}
