<div class="variables">
    <div
        class="variable"
        *ngFor="let variable of variables">
        <div class="field">
            <span
                class="field-name"
                nz-typography>
                <strong *ngIf="!variable.optional">
                    {{ variable.field }}
                    <span
                        class="field-is-array"
                        nz-typography
                        nzType="secondary"
                        *ngIf="variable.isArray">
                        []
                    </span>
                    &nbsp;
                    <span
                        nz-typography
                        nzType="danger">
                        *
                    </span>
                </strong>
                <span
                    *ngIf="variable.optional"
                    nz-typography
                    nzType="secondary">
                    {{ variable.field }}
                    <span
                        class="field-is-array"
                        nz-typography
                        nzType="secondary"
                        *ngIf="variable.isArray">
                        []
                    </span>
                </span>
            </span>
        </div>
        <div class="field-description">
            <p>{{ variable.description }}</p>
            <div
                class="sub-variables"
                *ngIf="variable.variables && variable.variables.length > 0">
                <baza-docs-mail-template-doc-variables [variables]="variable.variables"></baza-docs-mail-template-doc-variables>
            </div>
        </div>
    </div>
</div>
