{{#>cmsLayoutHtmlEn}}
    <p>
        You have successfully completed the transfer of {{../amount}} USD as dividends to customer {{../customer}} and Dwolla ID {{../customerDwollaId}}
    </p>
{{/cmsLayoutHtmlEn}}
