@import 'variables/variables';
@import 'mixins/mixins';

// ant-layout
.ant-layout {
    min-height: 100%;
}

// ant-layout-content
.ant-layout-content {
    margin-top: 50px;
    margin-bottom: 60px;

    @media (min-width: @screen-md) {
        margin-top: 80px;
        margin-bottom: 70px;
    }

    @media (min-width: @screen-lg) {
        margin-bottom: 80px;
    }
}

// ant-layout-content-mini
.ant-layout-content-mini {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0 60px;

    @media (min-width: @screen-md) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 80px 0 60px;
    }
}

// ant-layout-content-mini-center
.ant-layout-content-mini-center {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0 60px;

    @media (min-width: @screen-md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 80px 0 60px;
    }
}

// ant-layout
.ant-layout-wrap {
    padding: 30px 0 0;

    @media (min-width: @screen-lg) {
        padding: 50px 0 0;
    }
}
