.form {
    .form-entry {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .form-entry-inline {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            grid-column-gap: 0.5rem;
        }

        .form-entry-actions {
            width: 40px;
            flex-shrink: 0;
            padding-left: 0.5rem;
        }
    }
}

p.hint {
    margin-bottom: 1rem;
    color: var(--text-color-secondary);
    font-size: 14px;
    min-height: 24px;
}

:host ::ng-deep {
    nz-select {
        width: 100%;
    }
}
