<nz-form-label
    *ngIf="title"
    [nzRequired]="nzRequired"
    [nzFor]="formControlName">
    {{ title }}
</nz-form-label>

<p
    class="hint"
    *ngIf="hint">
    {{ hint }}
</p>

<div
    class="form"
    [formGroup]="state.form">
    <nz-divider
        nzPlain
        nzText="{{ i18n('to') | translate }}"></nz-divider>
    <div class="form-entry">
        <div class="form-entry-inline">
            <div class="form-entry-name">
                <nz-form-item>
                    <nz-form-control
                        [nzValidateStatus]="state.form.get('name')"
                        [nzErrorTip]="state.form.get('name') | bazaNzError | async">
                        <input
                            nz-input
                            formControlName="name"
                            placeholder="{{ i18n('name') | translate }}" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="form-entry-email">
                <nz-form-item>
                    <nz-form-control
                        [nzValidateStatus]="state.form.get('email')"
                        [nzErrorTip]="state.form.get('email') | bazaNzError | async">
                        <input
                            nz-input
                            formControlName="email"
                            placeholder="{{ i18n('email') | translate }}" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="form-entry-actions"></div>
    </div>

    <nz-divider
        nzPlain
        nzText="{{ i18n('cc') | translate }}"></nz-divider>
    <ng-container
        *ngFor="let ccCurrentForm of ccForm.controls; let i = index"
        [formGroup]="castCurrentForm(ccCurrentForm)">
        <div class="form-entry">
            <div class="form-entry-inline">
                <div class="form-entry-name">
                    <nz-form-item>
                        <nz-form-control
                            [nzValidateStatus]="ccCurrentForm.get('name')"
                            [nzErrorTip]="ccCurrentForm.get('name') | bazaNzError | async">
                            <input
                                nz-input
                                formControlName="name"
                                placeholder="{{ i18n('name') | translate }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="form-entry-email">
                    <nz-form-item>
                        <nz-form-control
                            [nzValidateStatus]="ccCurrentForm.get('email')"
                            [nzErrorTip]="ccCurrentForm.get('email') | bazaNzError | async">
                            <input
                                nz-input
                                formControlName="email"
                                placeholder="{{ i18n('email') | translate }}" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="form-entry-actions">
                <button
                    nz-button
                    nzShape="circle"
                    (click)="removeCCRecipient(i)">
                    <i
                        nz-icon
                        nzType="delete"></i>
                </button>
            </div>
        </div>
    </ng-container>

    <button
        nz-button
        nzType="link"
        (click)="addCCRecipient()">
        <i
            nz-icon
            nzType="plus"></i>
        <span>{{ i18n('addCC') | translate }}</span>
    </button>
</div>
