@font-face {
    font-weight: 100;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Thin'),
    local('AvenirNextLTProThin'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Thin.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Thin.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Thin.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Thin.svg#AvenirNextLTPro-Thin') format('svg');
}

@font-face {
    font-weight: 200;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Ultralight'),
    local('AvenirNextLTProUltralight'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Ultralight.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Ultralight.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Ultralight.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Ultralight.svg#AvenirNextLTPro-Ultralight') format('svg');
}

@font-face {
    font-weight: 300;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Light'),
    local('AvenirNextLTProLight'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Light.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Light.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Light.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Light.svg#AvenirNextLTPro-Light') format('svg');
}

@font-face {
    font-weight: 400;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Regular'),
    local('AvenirNextLTProRegular'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
}

@font-face {
    font-weight: 400;
    font-family: 'Baza';
    font-style: italic;
    src: local('Baza Italic'),
    local('AvenirNextLTProItalic'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Italic.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Italic.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Italic.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Italic.svg#AvenirNextLTPro-Italic') format('svg');
}

@font-face {
    font-weight: 500;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Medium'),
    local('AvenirNextLTProMedium'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Medium.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Medium.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Medium.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
}

@font-face {
    font-weight: 500;
    font-family: 'Baza';
    font-style: italic;
    src: local('Baza Medium Italic'),
    local('AvenirNextLTProMediumItalic'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-MediumItalic.svg#AvenirNextLTPro-MediumItalic') format('svg');
}

@font-face {
    font-weight: 600;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Demi'),
    local('AvenirNextLTProDemi'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Demi.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Demi.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
}

@font-face {
    font-weight: 700;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Bold'),
    local('AvenirNextLTProBold'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
}

@font-face {
    font-weight: 800;
    font-family: 'Baza';
    font-style: normal;
    src: local('Baza Heavy'),
    local('AvenirNextLTProHeavy'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Heavy.woff2') format('woff2'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Heavy.woff') format('woff'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Heavy.ttf') format('truetype'),
    url('/assets/baza/fonts/AvenirNext/AvenirNextLTPro-Heavy.svg#AvenirNextLTPro-Heavy') format('svg');
}
