<form nzLayout='vertical' nz-form class='form --baza-auth-forms' [formGroup]='state.form' (ngSubmit)='submit()'>
    <div class='fields'>
        <nz-form-item>
            <nz-form-control [nzValidateStatus]='state.form.get("newPassword")' nzErrorTip='{{ state.form.get("newPassword") | bazaNzError: state.customErrorNewPassword | async }}'>
                <input #newPassword type='password' nz-input autofocus formControlName='newPassword' id='newPassword' placeholder='{{ i18n("fields.newPassword") | translate }}'>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzValidateStatus]='state.form.get("repeatPassword")' nzErrorTip='{{ state.form.get("repeatPassword") | bazaNzError | async }}'>
                <input type='password' nz-input autofocus formControlName='repeatPassword' id='repeatPassword' placeholder='{{ i18n("fields.repeatPassword") | translate }}'>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class='submit'>
        <button nz-button nzType='primary' type='submit'>
            <span translate>{{ i18n('actions.submit') }}</span>
        </button>
    </div>
    <div class='sign-in'>
        <a [routerLink]='["/auth/sign-in"]'>{{ i18n('actions.cancel') | translate }}</a>
    </div>
</form>
