<form
    class="ant-form-inverse"
    nz-form
    nzLayout="vertical"
    [formGroup]="withdrawFundsForm"
    #withdrawFundsFormEl>
    <div class="withdraw-amount">
        <nz-form-item *ngIf="withdrawAmountErrorMessage$ | async as message">
            <nz-alert
                class="withdraw-amount__alert"
                data-cy="withdraw-amount-error"
                [nzMessage]="withdrawAmountError"
                [nzType]="message?.type"></nz-alert>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="withdrawAmount">
                {{ wts.getI18nLabel(i18nFormFieldsPath, 'amount.label') }}
            </nz-form-label>

            <nz-form-control [nzErrorTip]="withdrawAmountErrorTemplate">
                <nz-input-number
                    class="withdraw-amount__input"
                    formControlName="withdrawAmount"
                    id="withdrawAmount"
                    name="withdrawAmount"
                    type="number"
                    [nzPrecisionMode]="amountValidationConfig?.precisionMode"
                    [nzMin]="amountValidationConfig?.minValue"
                    [nzMax]="amountValidationConfig?.maxValue"
                    [nzStep]="amountValidationConfig?.step"
                    [nzPrecision]="amountValidationConfig?.precision"
                    [nzFormatter]="wts.dollarFormat"
                    [nzParser]="wts.dollarParse"
                    appAmountMask
                    [maxLength]="amountValidationMaxLength"></nz-input-number>
            </nz-form-control>
            <ng-template
                #withdrawAmountErrorTemplate
                let-control>
                <span data-cy="withdraw-amount-input-error">
                    {{ getErrorMessage(control, 'amount') }}
                </span>
            </ng-template>
        </nz-form-item>
    </div>
</form>

<ng-template #withdrawAmountError>
    <ng-container *ngIf="withdrawAmountErrorMessage$ | async as message">
        <p [innerHtml]="message?.text"></p>
    </ng-container>
</ng-template>
