<form nzLayout='vertical' nz-form class='form --baza-auth-forms' [formGroup]='state.form' (ngSubmit)='submit()'>
    <div class='fields'>
        <nz-form-item>
            <nz-form-control [nzValidateStatus]='state.form.get("email")' nzErrorTip='{{ state.form.get("email") | bazaNzError: state.customErrorEmail | async }}'>
                <input #email type='email' nz-input autofocus formControlName='email' id='email' placeholder='{{ i18n("fields.email") | translate }}'>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class='submit'>
        <button nz-button nzType='primary' type='submit'>
            <span translate>{{ i18n('actions.submit') }}</span>
        </button>
    </div>
    <div class='sign-in'>
        <a [routerLink]='["/auth/sign-in"]'>{{ i18n('actions.cancel') | translate }}</a>
    </div>
</form>
