@import 'variables/variables';

.transfer-amount__alert {
    margin-top: 20px;

    .ant-alert-message {
        color: @black;
    }
}

.transfer-amount__input {
    width: 100%;
}

.transfer-amount__alert-warning {
    background-color: @warning-color2;
    font-size: @font-size-sm;
    padding: 12px 16px;
    margin-bottom: 16px;
    line-height: 1.14;
    border: none;
}
