@import 'mixins/mixins';

.balance-section {
    align-items: center;
    background-color: @white;
    border-radius: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    font-size: @font-size-base;
    font-weight: 400;
    gap: 18px 9px;
    height: auto;
    letter-spacing: normal;
    padding: 20px;
    text-align: left;
    text-transform: none;
    white-space: normal;

    .bordered-list(@divider-color);
}

.balance-section-disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.balance-section__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: bold;
}
