@import 'mixins/mixins';

.balance-subtitle {
    color: @black;
    font-size: @font-size-sm;
    font-weight: initial;
    line-height: 1.5;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.balance-subtitle-unsized {
    margin-top: 0;
    font-size: inherit;
}

.balance-subtitle-fluid {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
    line-height: 1.5;
}

.balance-subtitle-faded {
    color: @normal-color;
}

.balance-subtitle__prefix {
    color: inherit;
    display: inline-block;
    padding-right: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    vertical-align: bottom;
    white-space: nowrap;
}
