@import 'mixins/mixins';

.balance-btn {
    align-items: center;
    background-color: @white;
    border-radius: 0;
    border: none;
    display: flex;
    font-size: @font-size-base;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    padding: 24px 20px;
    text-align: left;
    text-transform: none;
    white-space: normal;

    .bordered-list(@divider-color);

    &:focus:not(:disabled),
    &:hover:not(:disabled),
    &:active:not(:disabled) {
        background-color: @white;
        border: @border-width-base solid @primary-color;
    }

    &:not(:disabled):hover {
        cursor: pointer;
    }

    &[disabled] {
        opacity: 1;

        &,
        &:focus,
        &:hover,
        &:active {
            background: transparent;
        }
    }
}

.balance-btn__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
}

.balance-btn__hint {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 6px;
}
