.bank-info {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
}

.bank-info__item {
    &:not(&:first-of-type) {
        margin-top: 48px;
    }
}

.bank-info__item-name {
    margin: 0 0 24px 0;
}

.bank-info__item-btn {
    margin: 24px 0 0 0;
}

// Payment card
.bank-info__payment-card-container {
    app-payment-card {
        div {
            position: relative;
        }
    }
}

// Bank info description message
.bank-info__description {
    margin-top: 12px;
    font-size: 14px;
    color: @neutral-7;
}
