@import 'variables/variables';

.bullets-img__container {
    background-color: @neutral-2;
    margin-top: 80px;
    padding: 24px 0px 0px;

    @media (min-width: @screen-md) {
        padding: 30px 15px 30px;
    }

    @media (min-width: @screen-lg) {
        .container;
        border-radius: 12px;
        padding: 33px 15px 33px;
    }

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.bullets-img__row {
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-xl) {
        flex-direction: row;
    }
}

.bullets-img__label {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;

    @media (min-width: @screen-lg) {
        flex-basis: 10%;
    }

    @media (min-width: @screen-xl) {
        flex-basis: 15%;
        align-items: center;
        margin-bottom: initial;
    }
}

.bullets-img-bg {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;

    @media (min-width: @screen-md) {
        margin: initial;
    }

    @media (min-width: @screen-lg) {
        flex-basis: 90%;
    }

    @media (min-width: @screen-xl) {
        flex-basis: 85%;
    }
}

.bullets-img-bg__col {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    height: 30px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: @screen-md) {
        margin-bottom: 0px;
        flex-basis: 20%;
        height: 40px;
    }

    @media (min-width: @screen-xl) {
        height: 50px;
    }
}

.bullets-img-bg__col:nth-child(2) {
    scale: 1.1;

    @media (min-width: @screen-md) {
        scale: initial;
    }
}

.bullets-img-bg__col:nth-child(3) {
    background-position: left;

    @media (min-width: @screen-md) {
        background-position: center center;
    }
}
