@import 'variables/variables';

.bullets-txt__container {
    background-color: @primary-2;
    margin-top: 80px;
    padding: 24px 0px 0px;

    @media (min-width: @screen-md) {
        padding: 30px 15px 30px;
    }

    @media (min-width: @screen-lg) {
        .container();
        border-radius: 12px;
        padding: 33px 15px 33px;
    }

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.bullets-txt__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bullets-txt__col {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    align-items: center;
    text-align: center;
    margin-left: -1px;
    margin-bottom: 24px;

    @media (min-width: @screen-md) {
        margin-bottom: 0px;
        flex-basis: 25%;
    }

    &::before,
    &::after {
        content: '';
        width: 15px;
        height: 23px;
    }
}

.bullets-txt__text {
    flex-grow: 1;
}

.bullets-txt__col + .bullets-txt__col {
    &::before {
        border-left: solid 1px @primary-4;
    }
}
