@import 'variables/variables';
@import 'mixins/mixins';

// card-icon
.card-icon {
    display: flex;
    margin-bottom: 30px;

    @media (min-width: @screen-md) {
        margin-top: -18px;
    }
}

// card-icon item
.card-icon__item {
    width: 32px;
    height: 24px;
}

.card-icon__item + .card-icon__item {
    margin-left: 12px;
}
