@import 'variables/variables';

.cta {
    margin-top: 80px;

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.cta__container {
    background-color: @black;
    color: white;

    @media (min-width: @screen-md) {
        border-radius: 16px;
    }
}

.cta__col {
    text-align: center;
    padding: 80px 15px;

    @media (min-width: @screen-xl) {
        padding: 105px 15px 90px 15px;
    }
}

.cta__heading {
    &:extend(h1);
    color: white;

    @media (min-width: @screen-xl) {
        font-size: @heading-1-size;
    }
}

.cta__descr {
    margin-top: @margin-lg;

    @media (min-width: @screen-md) {
        margin-top: 28px;
    }
}

.cta__btn {
    margin-top: 28px;
}
