@import 'variables/variables';

.hiw__container {
    margin-top: 70px;

    @media (min-width: @screen-md) {
        margin-top: 80px;
    }

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.hiw__col {
    @media (min-width: @screen-md) {
        .flex-col-width(8);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(6);
    }
}

.hiw__col-cards {
    @media (min-width: @screen-md) {
        .flex-col-width(12);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(4);
    }
}

.hiw__text {
    @media (min-width: @screen-xl) {
        padding-right: 50px;
    }
}

.hiw__heading {
    &:extend(h1);
    font-size: 34px;

    @media (min-width: @screen-xl) {
        font-size: 48px;
    }
}

.hiw__subheading {
    margin: 12px 0 48px 0;

    @media (min-width: @screen-md) {
        margin: 24px 0 62px 0;
    }

    @media (min-width: @screen-xl) {
        margin: 28px 0 56px 0;
    }
}

.hiw__btn {
    margin-top: 20px;

    @media (min-width: @screen-md) {
        font-size: 40px;
    }
}
