@import 'variables/variables';

.hiw-card {
    border: 5px solid @primary-2;
    border-radius: 16px;
    background: @primary-2;
    margin-bottom: 32px;

    @media (min-width: @screen-md) {
        margin-bottom: 24px;
    }

    @media (min-width: @screen-xl) {
        margin-bottom: 0px;
        height: 100%;
    }
}

.hiw-card .ant-card {
    background: @primary-2;
}

.hiw-card .ant-card-body {
    @media (min-width: @screen-md) and (max-width: @screen-lg-max) {
        flex-direction: row;
    }
}

.hiw-card__index {
    margin: 12px 0px 0px 0px;

    @media (min-width: @screen-md) and (max-width: @screen-lg-max) {
        margin: 12px 40px 0px 0px;
    }
}

.hiw-card__number {
    width: 40px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: @black;
    color: @white;
}

.hiw-card__text {
    margin-bottom: 10px;

    @media (min-width: @screen-xl) {
        margin-bottom: 0px;
    }
}

.hiw-card__title {
    &:extend(h2);
    margin-top: 32px;

    @media (min-width: @screen-md) and (max-width: @screen-lg-max) {
        margin-top: 15px;
    }

    @media (min-width: @screen-lg) {
        font-size: @heading-3-size;
    }
}

.hiw-card__title::after {
    @media (max-width: @screen-sm-max), (min-width: @screen-xl-min) {
        display: block;
        content: '';
        border-bottom: 1px solid black;
        width: 45px;
        height: 1px;
        margin-top: 24px;
    }
}

.hiw-card__descr {
    margin: 24px 0px 0px;

    @media (min-width: @screen-md) {
        margin: 20px 0px 0px;
    }

    @media (min-width: @screen-xl) {
        margin: 24px 0px 10px;
    }
}
