// item-horizontal
.item-horizontal {
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md) {
        flex-direction: row;
        align-items: center;
        margin-left: 0;
    }
}

// item-horizontal image
.item-horizontal__img {
    width: 100%;
    margin: 8px 0px 12px 0px;

    @media (min-width: @screen-md) {
        width: 260px;
        margin: 0px 28px 0px 0px;
    }
}

// item-horizontal details
.item-horizontal__details {
    margin-bottom: 5px;
}

.item-horizontal__description {
    @media (max-width: @screen-sm-max) {
        text-align: center;
    }
}

.item-horizontal__title {
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
}

// item-horizontal subtext
.item-horizontal__subtext {
    color: @normal-color;
    margin-bottom: 24px;
}
