// item-summary
.item-summary {
    display: flex;
    font-size: initial;
    flex-direction: row;
    align-items: center;

    @media (min-width: @screen-md) {
        align-items: initial;
        flex-direction: column;
        margin-left: 47px;
    }

    @media (min-width: @screen-lg) {
        margin-left: 0;
    }
}

// item-summary image
.item-summary__img {
    margin-bottom: 0;
    width: 100px;
    margin-right: 24px;

    @media (min-width: @screen-md) {
        margin-right: 0;
        margin-bottom: 16px;
        width: 260px;
    }

    @media (min-width: @screen-lg) {
        width: initial;
    }
}

// item-summary title
.item-summary__title {
    margin-bottom: 16px;
}

// item-summary subtext
.item-summary__subtext {
    color: @normal-color;
    margin-bottom: 24px;
}
