@import 'mixins/mixins';

.payment-info-list {
    .list-unstyled();

    margin-bottom: 18px;

    @media (min-width: @screen-md) {
        margin-bottom: 0px;
    }
}

.payment-info-list__item {
    margin-bottom: 10px;

    > a {
        display: inline-block;
    }
}
