@import 'mixins/mixins';

.payment-subtitle {
    margin-top: 10px;
    font-size: @font-size-sm;
    color: @black;
    font-weight: initial;
}

.payment-subtitle-faded {
    color: @normal-color;
}

.payment-subtitle__link {
    display: inline-block;
    margin-top: 20px;
    pointer-events: all;
    color: @black;
}

.payment-subtitle__prefix {
    color: inherit;
    display: inline-block;
    padding-right: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    vertical-align: bottom;
    white-space: nowrap;
}
