@import 'mixins/mixins';

.payment-list-btn {
    border: none;
    border-bottom: @border-width-base solid @divider-color;
    display: flex;
    align-items: center;
    border-radius: 0;
    font-size: @font-size-base;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    height: auto;
    padding: 20px 0 20px 0;
    background: @white;

    &:focus,
    &:hover,
    &:active {
        background: @white;
        border-color: @primary-color;
    }

    &[disabled] {
        opacity: 1;

        &,
        &:focus,
        &:hover,
        &:active {
            background: transparent;
        }
    }

    & + & {
        margin-top: 0;
    }
}

.payment-list-btn-fluid {
    display: block;

    & > .payment-list-btn__title {
        display: inline-block;
    }

    & > .payment-arrow {
        float: right;
    }
}

.payment-list-btn-inactive {
    pointer-events: none;

    a {
        pointer-events: all;
    }
}

.payment-list-btn__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
}

.payment-list-btn__subheading {
    font-weight: bold;
}

.payment-list-btn__fee {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 5px;
    text-transform: capitalize;
    white-space: pre;
}

.payment-list-btn__description {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 10px;
    line-height: 16px;
    padding-right: 30px;
}

.payment-list-btn__warning {
    color: @error-color;
}
