@import 'variables/variables';
@import 'mixins/mixins';

.payment-block__error {
    @media (min-width: @screen-md) {
        .flex-col-width(11);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(6);
    }
}

.payment-block__warning {
    @media (min-width: @screen-md) {
        .flex-col-width(11);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(6);
    }
}

.payment-block__alert {
    margin-bottom: 20px;
}

.payment-block__desc {
    font-size: @font-size-sm;
    margin: 0;
}

.payment-block__text {
    margin-top: 10px;
    font-size: @font-size-sm;
    color: @black;
    font-weight: initial;
}

.payment-block__text-faded {
    color: @normal-color;
}
