@import 'variables/variables';

// payment-card
.payment-card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: none;

    @media (min-width: @screen-lg) {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

// payment-card body
.ant-card-body {
    .payment-card & {
        padding: 28px 27px 28px 28px;
    }
}

// payment-card title
.payment-card__title {
    &:extend(h4);
    margin-bottom: 24px;
    font-size: @heading-4-size;
    font-weight: 500;

    @media (min-width: @screen-sm) {
        font-size: @heading-3-size;
    }
}

.payment-card__summary {
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md) {
        flex-direction: row-reverse;
    }

    @media (min-width: @screen-lg) {
        flex-direction: column;
    }
}

.payment-card__item {
    flex: 1;
}

// payment-card divider
.payment-card__divider {
    border: none;
    border-bottom: solid 1px @border-color-split;
    margin: 20px 0 20px 0;
}

// this divider is specially for the image + caption section
.payment-card__divider-summary {
    @media (min-width: @screen-md) and (max-width: @screen-md-max) {
        display: none;
    }
}

// payment-card row
.payment-card__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.payment-card__icon {
    color: @neutral-7;
    cursor: pointer;
    font-size: 14px;
    margin-left: 4px;
}

.payment-card__description {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: @neutral-7;
}
