@import 'mixins/mixins';

// payment-button
.payment-btn {
    border: none;
    border-bottom: @border-width-base solid @divider-color;
    display: flex;
    align-items: center;
    border-radius: 0;
    font-size: @font-size-base;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    height: auto;
    padding: 20px 0 20px 0;
    background: @white;

    &:focus,
    &:hover,
    &:active {
        background: @white;
        border-color: @primary-color;
        color: @black;
    }
    &[disabled] {
        opacity: 1;

        &,
        &:focus,
        &:hover,
        &:active {
            background: transparent;
        }
        .payment-btn__icon {
            color: #7a7a7a;
        }
        .payment-btn__arrow {
            display: inline-flex;
        }
        .payment-btn__title {
            color: @normal-color;
        }
    }
    & + & {
        margin-top: 0;
    }
}

.payment-btn-bordered {
    padding: 24px 20px;
    max-height: 90px;

    .bordered-list(@divider-color);

    &:focus,
    &:hover,
    &:active {
        &:not(:disabled) {
            border: @border-width-base solid @primary-color;
        }
    }
}

.payment-btn-inactive {
    pointer-events: none;
}

.payment-btn-inactive a {
    pointer-events: all;
}

.payment-btn-borderless {
    border: none;
}

// payment-button icon
.payment-btn__icon {
    flex-shrink: 0;
    font-size: 28px;
    margin-right: 20px;

    .icon {
        color: #a7a7a7;
    }
}

.payment-btn__icon-dwolla {
    margin-right: 0;
}

.icon.payment-btn__select-method {
    color: unset;
}

.payment-btn__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
}

.payment-btn__title-bold {
    font-weight: bold;
}

.payment-btn__expiration {
    font-size: @font-size-sm;
    margin-top: 7px;
}

.payment-btn__title-ellipsis {
    overflow: hidden;
}

.payment-btn__warning,
.payment-btn__warning.payment-card__description {
    color: #db2a27;
}

// payment-button fee
.payment-btn__fee {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 5px;
    text-transform: capitalize;
    white-space: pre;
}

// payment-button info
.payment-btn__info {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 5px;
    line-height: 16px;
}

.payment-btn__info-descr {
    margin-top: 10px;
}

// payment-button arrow
.payment-btn__arrow {
    flex-shrink: 0;
    color: #5f6467;
}

.payment-btn__arrow-right {
    margin-left: 5px;
}

// payment-button popover
.payment-btn__popover {
    .layer(50%, auto, auto, 100%);
    font-size: @font-size-sm;
    color: @popover-color;
    line-height: 1;
    margin-top: -8px;
}

// payment-button description
.payment-btn__description {
    margin-top: 8px;
    color: @normal-color;
    font-size: 14px;
}

// payment-button warning
.payment-btn__warning {
    color: @error-color;
}

.payment-btn-details {
    width: 100%;
    gap: 16px;
    flex-direction: column;
    display: flex;
}

.payment-btn-details__title {
    font-weight: 700;
    font-size: @font-size-base;
    color: @black;
}

.payment-btn-details__description {
    font-size: @font-size-base;
    color: @black;
}

.payment-btn-details__fee {
    text-transform: capitalize;
    font-size: @font-size-sm;
    color: @normal-color;
}

.payment-btn__heading {
    &:extend(h4);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: @black;
}

.payment-btn__subheading {
    font-weight: bold;
}

.payment-btn__subtitle {
    border-bottom: @border-width-base solid @divider-color;
    padding: 14px 0 24px 0px;
    margin-bottom: 24px;
    color: @black;
}

.payment-btn__limits {
    display: inline-block;
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

.payment-btn__limits--top-arrow {
    margin-top: -20px;
}

.payment-btn-row {
    display: flex;
    gap: 16px;
}

.payment-btn-row--gap-2x {
    gap: 32px;
}
