@import 'mixins/mixins';

.payment-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-item-content__header {
    flex-grow: 1;
    font-size: @font-size-base;
}

.payment-item-content__faded {
    color: @normal-color;
    font-size: @font-size-sm;
}

.payment-item-content__thin {
    font-weight: 300;
}

.payment-item-content__bold {
    font-weight: 600;
    text-transform: capitalize;
}

.payment-item-content__secondary {
    display: block;
    color: @normal-color;
    font-size: @font-size-sm;
    font-weight: 300;
    text-transform: initial;
    margin-top: 14px;

    @media (min-width: @screen-md) {
        margin-top: 0;
        margin-left: 6px;
        display: inline-block;
    }
}
