@import 'variables/variables';
@import 'mixins/mixins';

// done-list
.done-list {
    .list-unstyled();

    @media (min-width: @screen-lg) {
        font-size: @font-size-base;
    }
}

// done-list item
.done-list__item {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

// done-list icon
.done-list__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
