.payment-section {
    margin-top: 32px;

    &:not(:first-of-type) {
        margin-top: 36px;
    }
}

.payment-section__item {
    margin-top: 32px;

    &:not(:first-of-type) {
        margin-top: 24px;
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}
