@import 'mixins/mixins';

.payment-buy-btn {
    align-items: center;
    background-color: @white;
    border-radius: 0;
    border: none;
    display: flex;
    font-size: @font-size-base;
    font-weight: 400;
    height: auto;
    letter-spacing: normal;
    padding: 24px 20px;
    text-align: left;
    text-transform: none;
    white-space: normal;

    &:focus:not(:disabled),
    &:hover:not(:disabled),
    &:active:not(:disabled) {
        background-color: @white;
        border: @border-width-base solid @primary-color;
    }

    &:not(:disabled):hover {
        cursor: pointer;
    }

    &[disabled] {
        opacity: 1;

        &,
        &:focus,
        &:hover,
        &:active {
            background: transparent;
        }
    }
}

.payment-buy-btn-bordered {
    .bordered-list(@divider-color);
}

.payment-buy-btn__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
}

.payment-buy-btn__hint {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 6px;
}

.payment-buy-btn__fee {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 6px;
}

.payment-buy-btn__expiration {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 12px;
}

.payment-buy-btn__icon {
    flex-shrink: 0;
    margin-right: 0;
    font-size: 28px;

    .icon {
        color: #a7a7a7;
    }
}

.payment-buy-btn__icon-dwolla {
    margin-right: 0;
}

.payment-buy-btn__desc {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: @neutral-7;
}

.payment-buy-btn__desc-warning {
    color: @error-color;
}
