@import 'mixins/mixins';

.payment-item-btn {
    align-items: center;
    background-color: @white;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(@font-size-sm, 3vw, @font-size-base);
    font-weight: 400;
    gap: 30px 90px;
    justify-content: space-between;
    padding: 24px 20px;
    height: auto;
    text-transform: none;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    cursor: default;

    .bordered-list(@divider-color);

    &:focus:not(:disabled),
    &:hover:not(:disabled),
    &:active:not(:disabled) {
        background-color: @white;
        border: @border-width-base solid @primary-color;
    }

    &:not(:disabled):hover {
        cursor: pointer;
    }

    &[disabled] {
        opacity: 1;

        &,
        &:focus,
        &:hover,
        &:active {
            background: transparent;
        }
    }

    &:not(&-with-details) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
