@import 'mixins/mixins';

.payment-buy-section {
    align-items: center;
    background-color: @white;
    border-radius: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    font-size: @font-size-base;
    font-weight: 400;
    gap: 18px 9px;
    height: auto;
    letter-spacing: normal;
    padding: 20px;
    text-align: left;
    text-transform: none;
    white-space: normal;
}

.payment-buy-section-disabled {
    &:hover {
        cursor: not-allowed;
    }
}

.payment-buy-section-bordered {
    .bordered-list(@divider-color);
}

.payment-buy-section__title {
    flex-grow: 1;
    margin-right: 10px;
    font-size: @font-size-base;
    text-transform: capitalize;
    overflow: hidden;
    font-weight: bold;
}

.payment-buy-section__expiration {
    font-size: @font-size-sm;
    color: @normal-color;
    margin-top: 12px;
}

.payment-buy-section__icon {
    flex-shrink: 0;
    margin-right: 0;
    font-size: 28px;

    .icon {
        color: #a7a7a7;
    }
}

.payment-buy-section__icon-dwolla {
    margin-right: 0;
}

.payment-buy-section__desc {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: @neutral-7;
}

.payment-buy-section__desc-warning {
    color: @error-color;
}
