.personal__title {
    &:extend(h4);
    margin: 48px 0 20px;
    font-size: @heading-3-size;
    font-weight: 500;
}

.personal__icon {
    margin-left: 5px;
    font-size: @font-size-sm;
    color: #7c7c7c;

    &:hover,
    &:active {
        color: darken(#7c7c7c, 15%);
    }
}

.personal-list {
    .list-unstyled();

    margin-bottom: 18px;

    @media (min-width: @screen-md) {
        margin-bottom: 0px;
    }
}

.personal-list__item {
    margin-bottom: 10px;

    > a {
        display: inline-block;
    }
}

.personal-list__item-uploaded-document {
    > a {
        word-break: break-word;
    }
}
