.purchase-pymt__section {
    @media (min-width: @screen-md) {
        .flex-col-width(7);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase-pymt__title {
    &:extend(h2);
    font-weight: 500;
}

.purchase-pymt__summary {
    @media (min-width: @screen-lg) {
        .flex-col-width(4);
    }
}
