// purchase description
.purchase__descr {
    color: @normal-color;

    a {
        color: @normal-color;
        &:hover,
        &:active {
            color: @primary-color;
            text-decoration: underline;
        }
    }
}

.purchase__descr-done {
    margin-right: 26px;
}

.purchase__descr-button {
    margin-top: 12px;
}

.purchase__descr-divider {
    height: 20px;
}

.purchase__display {
    &:extend(h2);
    font-weight: 500;
}

// purchase title
.purchase__title {
    &:extend(h4);
    margin: 48px 0 20px;
    font-size: @heading-3-size;
    font-weight: 500;
}

.purchase__title-details {
    margin-top: 60px;
}

// purchase subheading
.purchase__subheading {
    &:extend(h4);
    margin: 48px 0 20px;
    font-size: @heading-3-size;
    font-weight: 500;
}

// purchase icon
.purchase__icon {
    margin-left: 5px;
    font-size: @font-size-sm;
    color: #7c7c7c;

    &:hover,
    &:active {
        color: darken(#7c7c7c, 15%);
    }
}

// purchase button
.purchase__btn {
    margin-top: 25px;
    margin-bottom: 75px;

    @media (min-width: @screen-md) {
        margin-bottom: 40px;
    }

    @media (min-width: @screen-lg) {
        margin-bottom: 0;
    }
}

// purchase done
.purchase__done {
    display: block;
    margin: -15px 0 45px -15px;
}

// purchase message
.purchase__dividend-msg {
    margin-top: 20px;
    font-size: 14px;
    color: @neutral-7;
}

.purchase__steps-action {
    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase__personal-info {
    margin-bottom: 18px;

    @media (min-width: @screen-md) {
        margin-bottom: 0px;
    }
}

.purchase__edit-cta {
    display: inline-block;
    margin-top: 16px;
    text-transform: capitalize;
}

.purchase__skeleton {
    @media (min-width: @screen-md) {
        .flex-col-width(11);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(6);
    }
}

.purchase__block {
    @media (min-width: @screen-md) {
        .flex-col-width(11);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(6);
    }
}

.purchase__section {
    @media (min-width: @screen-md) {
        .flex-col-width(7);
    }

    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase__summary {
    @media (min-width: @screen-lg) {
        .flex-col-width(4);
    }
}
