.purchase-agrmt__section {
    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase-agrmt__title {
    &:extend(h2);
}

.purchase-agrmt__summary {
    margin-bottom: 23px;

    @media (min-width: @screen-lg) {
        margin-bottom: 0;
        .flex-col-width(4);
    }
}

.purchase-agrmt__descr {
    color: @normal-color;

    a {
        color: @normal-color;
        &:hover,
        &:active {
            color: @primary-color;
            text-decoration: underline;
        }
    }
}

.purchase-agrmt__descr-divider {
    height: 20px;
}

.purchase-agrmt__btn {
    margin-top: 25px;
    margin-bottom: 30px;

    @media (min-width: @screen-md) {
        margin-bottom: 40px;
    }

    @media (min-width: @screen-lg) {
        margin-bottom: 0;
    }
}
