.purchase-details__summary {
    margin-bottom: 35px;

    @media (min-width: @screen-md) {
        .flex-col-width(7);
    }

    @media (min-width: @screen-lg) {
        margin-bottom: 0;
        .flex-col-width(4);
    }
}

.purchase-details__section {
    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase-details__title {
    &:extend(h2);
}

.purchase-details__descr {
    color: @normal-color;

    a {
        color: @normal-color;
        &:hover,
        &:active {
            color: @primary-color;
            text-decoration: underline;
        }
    }
}

.purchase-details__subtitle {
    &:extend(h4);
    margin: 60px 0 20px;
    font-size: @heading-3-size;
    font-weight: 500;

    @media (max-width: @screen-sm) {
        display: none;
    }
}
