// purchase methods
.purchase-methods {
    display: flex;
    flex-direction: column;
}

// purchase methods item
.purchase-methods__item {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
        margin-top: 42px;
    }

    &-linked {
        margin-top: initial !important;
    }
}
