.purchase-done__section {
    @media (min-width: @screen-lg) {
        .flex-col-width(8);
    }
}

.purchase-done__icon {
    height: 96px;
    width: 96px;
}

.purchase-done__title {
    &:extend(h2);
}

.purchase-done__descr {
    color: @normal-color;
    margin-right: 26px;

    a {
        color: @normal-color;
        &:hover,
        &:active {
            color: @primary-color;
            text-decoration: underline;
        }
    }
}

.purchase-done__btn {
    margin-top: 12px;
}

.purchase-done__summary {
    @media (min-width: @screen-lg) {
        .flex-col-width(4);
    }
}
