@import 'variables/variables';

.txt-sect {
    margin-top: 80px;

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.txt-sect__col {
    @media (min-width: @screen-md) {
        .flex-col-width(6);
    }
}

.txt-sect__container {
    @media (min-width: @screen-xl) {
        padding-left: initial;
        padding-right: 80px;
    }
}

.txt-sect__container-right {
    @media (min-width: @screen-xl) {
        padding-right: initial;
    }
}

.txt-sect__subtitle {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 24px;

    @media (min-width: @screen-md) {
        margin-top: 0px;
    }
}

.txt-sect__heading {
    &:extend(h1);
}

.txt-sect__subheading {
    margin-top: 24px;

    @media (min-width: @screen-xl) {
        margin-top: 28px;
    }
}
