@import 'variables/variables';

.txt-img {
    margin-top: 80px;

    @media (min-width: @screen-xl) {
        margin-top: 100px;
    }
}

.txt-col,
.img-col {
    @media (min-width: @screen-md) {
        .flex-col-width(6);
    }
}

.txt-col__container {
    @media (min-width: @screen-xl) {
        padding: 27px 90px 27px 0;
    }
}

.txt-col-right .txt-col__container {
    @media (min-width: @screen-xl) {
        padding-left: 90px;
        padding-right: 0;
    }
}

.txt-col-right {
    order: initial;
    @media (min-width: @screen-md) {
        order: 2;
    }
}

.txt-col__subtitle {
    font-weight: bold;
}

.txt-col__heading {
    margin-top: 16px;
    &:extend(h1);
}

.txt-col__descr {
    margin-top: 16px;

    @media (min-width: @screen-xl) {
        margin-top: 28px;
    }
}

.img-col {
    height: 220px;
    margin-top: 28px;

    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;

    @media (min-width: @screen-md) {
        height: auto;
        margin-top: 0px;
        background-position-x: 50%;
    }
}
