.verification-info__first-name {
    @media (min-width: @screen-sm) {
        .flex-col-width(6);
    }
}

.verification-info__last-name {
    @media (min-width: @screen-sm) {
        .flex-col-width(6);
    }
}

.verification-info__state {
    @media (min-width: @screen-sm) {
        .flex-col-width(6);
    }
}

.verification-info__zip {
    @media (min-width: @screen-sm) {
        .flex-col-width(6);
    }
}

.verification-info__zip-expanded {
    @media (min-width: @screen-sm) {
        .flex-col-width(12);
    }
}

.verification-info__dob {
    @media (min-width: @screen-sm) {
        .flex-col-width(3);
    }
}

.verification-info__citizenship {
    @media (min-width: @screen-sm) {
        .flex-col-width(9);
    }
}

.verification-info__ssn {
    margin-bottom: 25px;
}

.verification-info__hasntSsn {
    margin-bottom: 10px;
}
