.verification__section {
    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(8);
    }
}

.verification__title {
    &:extend(h2);
}

.verification__heading {
    &:extend(h3);
}

// verification subtitle
.verification__subtitle {
    &:extend(h5);
    margin: 40px 0 20px;
}

// verification descr
.verification__descr {
    color: @normal-color;
    margin-bottom: 20px;
}

// verification divider
.verification__divider {
    margin: 15px 0 50px;
}

// verification icon
.verification__icon {
    margin-bottom: 40px;

    .icon {
        height: 58px;
        width: 58px;
    }
}

.verification__steps {
    .flex-col-width(7);

    @media (min-width: @screen-sm) {
        .flex-col-width(9);
    }
    @media (min-width: @screen-xl) {
        .flex-col-width(8);
    }
}

.verification__steps-action {
    @media (min-width: @screen-lg) {
        .flex-col-width(9);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(8);
    }
}

.uploaded-file__ssn-document {
    > a {
        word-break: break-word;
    }
}

.uploaded-file__descr {
    color: @normal-color;
    margin-bottom: 20px;
}
