.verification-ssn__error {
    padding-top: 3px;
    color: @error-color;
    font-size: @font-size-sm;
}

.verification-ssn__border-error {
    border-color: #db2a27 !important;
    box-shadow: 0 0 0 2px rgb(255 34 43 / 20%) !important;
}
