@import 'variables/variables';

.invest {
    background-color: @neutral-2;
    padding: 80px 0px 0px 0px;

    @media (min-width: @screen-md) {
        padding: 80px 0px 10px 0px;
    }

    @media (min-width: @screen-xl) {
        padding: 100px 0px 30px 0px;
    }
}

.invest__col {
    @media (min-width: @screen-md) {
        .flex-col-width(8);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(5);
    }
}

.invest__col-cards {
    @media (min-width: @screen-md) {
        margin-bottom: 10px;
        .flex-col-width(6);
    }

    @media (min-width: @screen-xl) {
        .flex-col-width(4);
    }
}

.invest__heading {
    &:extend(h1);
    font-size: 34px;

    @media (min-width: @screen-xl) {
        font-size: 48px;
    }
}

.invest__subheading {
    margin: 12px 0 38px 0;

    @media (min-width: @screen-md) {
        margin: 24px 0 52px 0;
    }

    @media (min-width: @screen-xl) {
        margin: 28px 0 46px 0;
    }
}
