{{#> cmsLayoutTextEn }}
Hello {{../fullName}},

Your password has been updated. If you didn't initiate this request, please contact us and visit {{ ../cmsUrl }}/auth/forgot-password?email={{ ../emailUrlEncoded }} to reset your password immediately.

Thank You,
{{ clientName }}
{{/cmsLayoutTextEn}}
