{{#> cmsLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Your password has been updated. If you didn't initiate this request, please contact us and visit <a href='{{ cmsUrl }}/auth/forgot-password?email={{ ../emailUrlEncoded }}'>{{ ../cmsUrl }}/auth/forgot-password?email={{ ../email }}</a> to reset your password immediately.</p>

    <p>Thank You,</p>
    <p>{{ clientName }}</p>
    <p>
        <img src="{{ ../cmsLogoUrl }}" alt="logo" width="200px">
    </p>
{{/cmsLayoutHtmlEn}}
