<div class="hero">
    <div class="container hero__container">
        <div
            nz-row
            nzGutter="30"
            class="hero__row">
            <div
                nz-col
                nzXs="12"
                class="hero__col hero__col-text">
                <div class="hero__text">
                    <div
                        class="hero__heading"
                        [innerHtml]="config?.heading"></div>

                    <div
                        class="hero__subheading"
                        [innerHtml]="config?.subHeading"></div>
                </div>

                <div class="hero__btn">
                    <a
                        nz-button
                        nzSize="large"
                        nzType="primary"
                        (click)="uts.navigate(config?.btnLink)">
                        {{ uts.getUrlText(config?.btnLink) }}
                    </a>
                </div>
            </div>
            <div
                nz-col
                nzXs="12"
                class="hero__col hero__col-img"></div>
        </div>
    </div>
</div>
