<div *ngIf="isAddModeOn">
    <div *ngIf="limits$ | async as limits">
        <button
            class="payment-btn"
            [class.payment-btn-bordered]="style === 'Bordered'"
            nz-button
            nzBlock
            [disabled]="isPurchaseAboveLimit"
            (click)="handleAddCard.emit()">
            <div class="payment-btn__icon">
                <i class="icon icon-card"></i>
            </div>

            <div class="payment-btn__title">
                {{ wts.getI18nLabel(i18nBasePath, 'addMode.title') }}

                <div class="payment-btn__fee">
                    {{ limits?.creditCardPaymentsFee | numberTwoDigits }}% {{ wts.getI18nLabel(i18nBasePath, 'addMode.feeSuffix') }}
                </div>
            </div>

            <div class="payment-btn__arrow">
                <i class="icon icon-angle-right icon-wt"></i>
            </div>
        </button>

        <p
            class="payment-card__description"
            [ngClass]="{ 'payment-btn__warning': isPurchaseAboveLimit }">
            {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3) }}
        </p>
    </div>
</div>

<div *ngIf="isEditModeOn">
    <div *ngIf="isPurchaseAboveLimit">
        <div *ngIf="limits$ | async as limits">
            <button
                class="payment-btn"
                nz-button
                nzBlock
                [class.payment-btn-bordered]="style === 'Bordered'"
                [disabled]="true">
                <div class="payment-btn__icon">
                    <i class="icon icon-card"></i>
                </div>

                <div class="payment-btn__title">
                    <div>
                        {{ wts.getI18nLabel(i18nBasePath, 'editMode.title') }}
                        {{ srcData?.creditCard.creditCardNumber | lastDigits: 8 }}
                    </div>

                    <div class="payment-btn__expiration">
                        {{ wts.getI18nLabel(i18nBasePath, 'editMode.expiring') }}
                        {{ srcData?.creditCard.creditCardExpireMonth | leadingZeroMonth }}/{{ srcData?.creditCard.creditCardExpireYear }}
                    </div>
                </div>

                <div class="payment-btn__arrow">
                    <i class="icon icon-angle-right icon-wt"></i>
                </div>
            </button>

            <p
                class="payment-card__description"
                [ngClass]="{ 'payment-btn__warning': isPurchaseAboveLimit }">
                {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3) }}
            </p>
        </div>
    </div>

    <div
        class="payment-buy-info"
        *ngIf="!isPurchaseAboveLimit">
        <ul class="payment-info-list">
            <li class="payment-info-list__item">
                <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.number') }}</strong>
                {{ srcData?.creditCard.creditCardNumber | lastDigits }}
            </li>

            <li class="payment-info-list__item">
                <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.expiring') }}</strong>
                {{ srcData?.creditCard.creditCardExpireMonth | leadingZeroMonth }}/{{ srcData?.creditCard.creditCardExpireYear }}
            </li>
        </ul>

        <ng-container *ngIf="limits$ | async as limits">
            <div class="payment-card__description">
                {{ limits?.creditCardPaymentsFee | numberTwoDigits }}%
                {{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.feeSuffix') }}
            </div>
        </ng-container>
    </div>
</div>
