.modal {
    .file {
        display: flex;
        align-items: center;
        padding: 24px;
        margin-bottom: 16px;
        background: var(--primary-1);

        .file-icon {
            margin-right: 16px;
            width: 32px;
        }

        .file-name {
            font-style: italic;
        }
    }

    .csv-delimiter {
        margin-bottom: 24px;
    }
}
