<ng-template #nzModal>
    <div
        class="modal"
        [formGroup]="state.form">
        <div class="title">
            <h3 nz-typography>{{ i18n('title') | translate }}</h3>
        </div>
        <div class="file">
            <div class="file-icon">
                <svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 318.188 318.188"
                    style="enable-background: new 0 0 318.188 318.188"
                    xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <rect
                                    x="182.882"
                                    y="155.008"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="101.592"
                                    y="132.689"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="182.882"
                                    y="132.689"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="182.882"
                                    y="88.053"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="182.882"
                                    y="110.371"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="101.592"
                                    y="155.008"
                                    width="33.713"
                                    height="15" />
                                <polygon
                                    points="112.09,123.663 112.09,123.662 118.286,113.621 124.548,123.662 134.588,123.662 123.647,107.909 133.82,91.54
                                123.911,91.54 118.33,101.472 112.53,91.54 102.906,91.54 112.925,107.228 102.269,123.663 			" />
                                <path
                                    d="M201.02,249.514c-0.339,1.27-0.73,3.015-1.174,5.236c-0.445,2.222-0.741,4.073-0.889,5.555
                                c-0.127-2.053-0.847-5.691-2.158-10.918l-6.316-23.519h-14.092l15.139,46.401h14.759l15.202-46.401h-14.027L201.02,249.514z" />
                                <rect
                                    x="142.457"
                                    y="110.371"
                                    width="33.713"
                                    height="15" />
                                <rect
                                    x="142.457"
                                    y="88.053"
                                    width="33.713"
                                    height="15" />
                                <path
                                    d="M283.149,52.723L232.624,2.197C231.218,0.79,229.311,0,227.321,0H40.342c-4.142,0-7.5,3.358-7.5,7.5v303.188
                                c0,4.142,3.358,7.5,7.5,7.5h237.504c4.142,0,7.5-3.358,7.5-7.5V58.025C285.346,56.036,284.556,54.129,283.149,52.723z
                                 M234.821,25.606l24.918,24.919h-24.918V25.606z M47.842,15h171.979v10.263H47.842V15z M47.842,303.188V40.263h171.979v17.763
                                c0,4.143,3.358,7.5,7.5,7.5h43.024v237.662H47.842z" />
                                <rect
                                    x="142.457"
                                    y="132.689"
                                    width="33.713"
                                    height="15" />
                                <path
                                    d="M122.372,235.484c1.969,0,3.809,0.275,5.523,0.826c1.713,0.55,3.428,1.227,5.141,2.031l3.841-9.871
                                c-4.57-2.18-9.362-3.27-14.378-3.27c-4.591,0-8.585,0.98-11.98,2.937c-3.396,1.957-5.999,4.755-7.808,8.395
                                c-1.81,3.64-2.714,7.86-2.714,12.663c0,7.682,1.867,13.553,5.602,17.615c3.734,4.063,9.104,6.094,16.107,6.094
                                c4.888,0,9.268-0.857,13.14-2.57v-10.602c-1.947,0.805-3.883,1.492-5.808,2.063c-1.926,0.571-3.915,0.857-5.967,0.857
                                c-6.793,0-10.188-4.464-10.188-13.393c0-4.295,0.836-7.665,2.507-10.109C117.062,236.707,119.39,235.484,122.372,235.484z" />
                                <path
                                    d="M163.57,244.594c-4.169-1.904-6.724-3.216-7.665-3.936c-0.942-0.719-1.412-1.533-1.412-2.443
                                c-0.002-0.847,0.368-1.556,1.11-2.127c0.74-0.571,1.925-0.857,3.555-0.857c3.152,0,6.897,0.995,11.234,2.984l3.841-9.681
                                c-4.994-2.222-9.892-3.333-14.694-3.333c-5.439,0-9.713,1.196-12.822,3.587c-3.111,2.392-4.666,5.724-4.666,9.997
                                c0,2.285,0.365,4.264,1.095,5.936s1.851,3.152,3.364,4.443s3.782,2.624,6.809,3.999c3.343,1.503,5.4,2.497,6.173,2.983
                                c0.771,0.486,1.333,0.968,1.682,1.444c0.35,0.476,0.524,1.031,0.524,1.666c0,1.016-0.435,1.847-1.302,2.491
                                c-0.868,0.647-2.233,0.969-4.095,0.969c-2.158,0-4.527-0.344-7.109-1.032c-2.581-0.687-5.067-1.645-7.458-2.872v11.172
                                c2.264,1.079,4.443,1.836,6.538,2.27c2.095,0.434,4.687,0.65,7.775,0.65c3.703,0,6.93-0.619,9.681-1.856
                                c2.75-1.238,4.856-2.973,6.315-5.205c1.461-2.232,2.191-4.787,2.191-7.665c0-3.131-0.777-5.729-2.333-7.792
                                C170.346,248.323,167.569,246.393,163.57,244.594z" />
                                <rect
                                    x="142.457"
                                    y="155.008"
                                    width="33.713"
                                    height="15" />
                            </g>
                        </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>
            </div>
            <div class="file-name">
                <span>{{ fileName }}.csv</span>
            </div>
        </div>
        <div class="csv-delimiter">
            <nz-radio-group
                formControlName="delimiter"
                nzSize="large">
                <label
                    nz-radio
                    nzValue=";">
                    <span>{{ i18n('delimiters.semicolon') | translate }}</span>
                </label>
                <br />
                <label
                    nz-radio
                    nzValue=",">
                    <span>{{ i18n('delimiters.commas') | translate }}</span>
                </label>
            </nz-radio-group>
        </div>
        <div class="controls">
            <nz-space>
                <div *nzSpaceItem>
                    <button
                        type="button"
                        nz-button
                        nzSize="large"
                        nzType="primary"
                        (click)="submit()">
                        <span>{{ i18n('submit') | translate }}</span>
                    </button>
                </div>
                <div *nzSpaceItem>
                    <button
                        type="button"
                        nz-button
                        nzSize="large"
                        nzType="default"
                        (click)="cancel()">
                        <span>{{ i18n('cancel') | translate }}</span>
                    </button>
                </div>
            </nz-space>
        </div>
    </div>
</ng-template>
