<form
    class="ant-form-inverse bank-details"
    nz-form
    nzLayout="vertical"
    [formGroup]="bankDetailsForm"
    #bankDetailsFormEl>
    <nz-form-item>
        <nz-form-label nzFor="accountName">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'accountName.label') }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="accountNameErrorTemplate">
            <input
                nz-input
                formControlName="accountName"
                id="accountName" />
        </nz-form-control>

        <ng-template
            #accountNameErrorTemplate
            let-control>
            <span data-cy="account-number-input-error">
                {{ getErrorMessage(control, 'accountName') }}
            </span>
        </ng-template>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="accountType">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'accountType.label') }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="accountTypeErrorTemplate">
            <nz-select
                formControlName="accountType"
                [nzPlaceHolder]="wts.getI18nLabel(i18nFormFieldsPath, 'accountType.placeholder')">
                <nz-option
                    [nzLabel]="wts.getI18nLabel(i18nFormFieldsPath, 'accountType.options.checking')"
                    nzValue="Checking"></nz-option>

                <nz-option
                    [nzLabel]="wts.getI18nLabel(i18nFormFieldsPath, 'accountType.options.savings')"
                    nzValue="Savings"></nz-option>
            </nz-select>
        </nz-form-control>

        <ng-template
            #accountTypeErrorTemplate
            let-control>
            <span data-cy="account-type-input-error">
                {{ getErrorMessage(control, 'accountType') }}
            </span>
        </ng-template>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="accountNumber">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'accountNumber.label', { length: 6 }) }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="accountNumberErrorTemplate">
            <input
                nz-input
                formControlName="accountNumber"
                minlength="minLengthAccountNumber"
                id="accountNumber" />
        </nz-form-control>

        <ng-template
            #accountNumberErrorTemplate
            let-control>
            <span data-cy="account-number-input-error">
                {{ getErrorMessage(control, 'accountNumber') }}
            </span>
        </ng-template>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="accountRoutingNumber">
            {{ wts.getI18nLabel(i18nFormFieldsPath, 'accountRoutingNumber.label') }}
        </nz-form-label>

        <nz-form-control [nzErrorTip]="accountRoutingNumberErrorTemplate">
            <input
                nz-input
                formControlName="accountRoutingNumber"
                id="accountRoutingNumber"
                [maxlength]="lengthRoutingNumber"
                [minlength]="lengthRoutingNumber" />
        </nz-form-control>

        <ng-template
            #accountRoutingNumberErrorTemplate
            let-control>
            <span data-cy="routing-number-input-error">
                {{ getErrorMessage(control, 'accountRoutingNumber') }}
            </span>
        </ng-template>
    </nz-form-item>
</form>
