.container {
    position: relative;

    .container-disabled {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--white);
        opacity: 0.8;
    }
}

::ng-deep {
    .baza-form-builder-upload-preview--container {
        .container-link {
            word-break: break-all;
        }
    }
}
