<div class="container baza-form-builder-upload-preview--container">
    <div class="container-contents">
        <baza-field-upload-preview-file
            [url]="url"
            *ngIf="type === 'file'"></baza-field-upload-preview-file>
        <baza-field-upload-preview-image
            [url]="url"
            *ngIf="type === 'image'"></baza-field-upload-preview-image>
        <baza-field-upload-preview-video
            [url]="url"
            *ngIf="type === 'video'"></baza-field-upload-preview-video>
    </div>
    <div
        class="container-disabled"
        *ngIf="disabled"></div>
</div>
