<div class="invest">
    <div class="container invest__container">
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="invest__col">
                <div
                    class="invest__heading"
                    [innerHtml]="config?.heading"></div>

                <div
                    class="invest__subheading"
                    [innerHtml]="config?.subHeading"></div>
            </div>
        </div>
        <div
            nz-row
            nzGutter="30">
            <div
                nz-col
                nzXs="12"
                class="invest__col invest__col-cards"
                *ngFor="let cardConfig of config?.sectionsConfig">
                <app-why-invest-card [config]="cardConfig"></app-why-invest-card>
            </div>
        </div>
    </div>
</div>
