@import 'variables/variables';

:host {
    display: inline-flex;
}

// favorite-btn
.ant-btn.ant-btn-icon-only.favorite-btn {
    transition: background-color 0.3s ease-in-out;
    border: none;
    padding: 0;
    color: @text-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    font-size: @font-size-lg;
    margin: auto;

    // favorite-btn-active
    &.favorite-btn-active {
        color: @error-color;
    }

    // Large btn
    &.favorite-btn-lg {
        font-size: 28px;
        margin-bottom: 5px;
    }

    &:hover,
    &:active,
    &:focus {
        border: none;
    }
}

// favorite-btn icon
.favorite-btn__icon {
    transition: all 0.3s ease-in-out;
    line-height: 1;
}

// favorite-btn icon-active
.favorite-btn__icon {
    .favorite-btn-active & {
        animation: heartbeat 1s linear;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
