<ng-container *ngIf="isPaymentEditModalOpen$ | async as isPaymentEditModalOpen">
    <nz-modal
        nzClosable="false"
        [nzAutofocus]="null"
        [nzClosable]="false"
        [nzFooter]="null"
        [nzTitle]="nzModalTitle"
        [nzVisible]="isPaymentEditModalOpen"
        #paymentEditModal>
        <ng-template #nzModalTitle>{{ modalTitle }}</ng-template>

        <ng-container *nzModalContent>
            <app-payment-header
                [isBackBtnVisible]="modalContentType !== 'paymentList'"
                (backClicked)="onBackClick()"
                (closeClicked)="onCloseModal()"></app-payment-header>

            <ng-container [ngSwitch]="modalContentType">
                <app-nc-payment-edit-list
                    [bankAccountResponse]="bankAccountResponse"
                    [creditCardResponse]="creditCardResponse"
                    [isPurchaseAboveLimit]="isPurchaseAboveLimit"
                    [selectedPaymentMethod]="selectedPaymentMethod"
                    (modalTitleChange)="onModalTitleChange($event)"
                    (paymentMethodChange)="onPaymentMethodChange($event)"
                    (updatePaymentMethodClick)="onUpdatePaymentMethodClick()"
                    *ngSwitchCase="'paymentList'"></app-nc-payment-edit-list>

                <app-nc-payment-edit-update
                    [isPurchaseAboveLimit]="isPurchaseAboveLimit"
                    (modalTitleChange)="onModalTitleChange($event)"
                    (updateAccount)="onUpdatePaymentAccount($event)"
                    *ngSwitchCase="'paymentUpdate'"></app-nc-payment-edit-update>

                <app-nc-payment-edit-account
                    [paymentUpdateAccountType]="paymentUpdateAccountType"
                    (addAccount)="onAddAccount($event)"
                    (modalTitleChange)="onModalTitleChange($event)"
                    *ngSwitchCase="'paymentUpdateAccount'"></app-nc-payment-edit-account>

                <app-nc-payment-edit-add
                    [bankDetailsForm]="bankDetailsForm"
                    [cardDetailsForm]="cardDetailsForm"
                    [paymentMethodType]="paymentMethodType"
                    [invalidFormScrollContainerRef]="paymentEditModal"
                    (modalTitleChange)="onModalTitleChange($event)"
                    (submitForm)="onSubmitAccountDetailsForm($event)"
                    *ngSwitchCase="'paymentAdd'"></app-nc-payment-edit-add>
            </ng-container>
        </ng-container>
    </nz-modal>
</ng-container>
