<div class='sidebar-contents'
     [class.collapsed]='isSidebarCollapsed'>
    <div class='logo --disable-user-select'></div>
    <div class='menu-items --disable-user-select'>
        <nz-collapse
            [nzAccordion]="false"
            nzGhost>
            <nz-collapse-panel
                *ngFor="let group of menuGroups"
                [nzActive]="sidebarGroupsCollapsing[group.title]"
                (nzActiveChange)="setSidebarGroupCollapsing(group.title, $event)"
                [nzHeader]="group.title | translate">
                <ul
                    nz-menu
                    nzTheme='dark'
                    class='inner-menu'
                    [nzSelectable]='false'>
                    <ng-container *ngFor='let menuItem of group.items'>
                        <li
                            *ngIf='isGroupItemVisible(menuItem)'
                            nz-menu-item
                            nzMatchRouter>
                            <a [routerLink]='menuItem.routerLink'>
                                <i nz-icon [nzType]="menuItem.icon"></i>

                                <ng-container *ngIf='menuItem.translate; else menuItemTitle'>
                                    {{ menuItem.title | translate }}
                                </ng-container>

                                <ng-template #menuItemTitle>
                                    {{ menuItem.title }}
                                </ng-template>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>
