.sidebar-contents {
    padding: var(--padding-lg);
    position: sticky;
    top: 0;

    &.collapsed {
        .logo {
            background: var(--baza-cms-layout-vertical-sidebar-logo-collapsed);
            background-position: center;
            height: var(--baza-cms-layout-vertical-sidebar-height-collapsed);
            background-size: contain;
            background-repeat: no-repeat;
        }

        ::ng-deep {
            .ant-menu-item {
                width: 40px;

                i {
                    transform: translateX(-3px);
                }
            }
        }
    }

    .logo {
        background: var(--baza-cms-layout-vertical-sidebar-logo);
        background-position: center;
        height: var(--baza-cms-layout-vertical-sidebar-height);
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: var(--margin-lg);
    }
}

.sidebar-contents::ng-deep {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        color: var(--baza-cms-layout-vertical-sidebar-group-title-color);
        font-weight: 600;
        padding: 12px 0 0 0;
        font-size: 16px;
    }
}

.sidebar-contents.collapsed::ng-deep {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        display: none;
    }

    .ant-collapse-content > .ant-collapse-content-box {
        padding: 0;
    }
}

.inner-menu {
    background: transparent;

    .ant-menu-item {
        color: var(--baza-cms-layout-vertical-sidebar-group-item-color);
        background-color: var(--baza-cms-layout-vertical-sidebar-group-item-background);

        a {
            color: var(--baza-cms-layout-vertical-sidebar-group-item-color);

            i {
                margin-right: 0.8rem;
            }
        }
    }

    .ant-menu-item-selected {
        color: var(--baza-cms-layout-vertical-sidebar-group-item-selected-color);
        background-color: var(--baza-cms-layout-vertical-sidebar-group-item-selected-background);

        a {
            color: var(--baza-cms-layout-vertical-sidebar-group-item-selected-color);
        }
    }
}
