@import 'variables/variables';
@import 'mixins/mixins';

// ant-layout-header
.ant-layout-header {
    .layer-fixed(0, 0, auto, 0, 101);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    @media (min-width: @screen-md) {
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
    }
    @media (min-width: @screen-lg) {
        justify-content: space-between;
    }
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 120px;
}

// menu-icon
.menu-icon {
    border: none;
    background-color: transparent;
    width: 19px;
    height: 13px;
    display: block;
    margin: -7px 0 0 0;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 50%;

    @media (min-width: @screen-lg) {
        display: none;
    }
    &:focus {
        outline: none;
    }
}

// line
.line {
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0;
    background: @text-color;
    border-radius: 1px;
    display: block;
    width: 19px;
    height: 2px;
}

// line-1
.line-1 {
    top: 0;
}

// line-1-open
.line-1 {
    .main-menu-open & {
        transform: translateY(6.5px) translateX(0) rotate(45deg);
    }
}

// line-2
.line-2 {
    top: 50%;
}

// line-2-open
.line-2 {
    .main-menu-open & {
        opacity: 0;
    }
}

// line-3
.line-3 {
    top: 100%;
}

// line-3-open
.line-3 {
    .main-menu-open & {
        transform: translateY(-6.5px) translateX(0) rotate(-45deg);
    }
}
