<div
    class="container"
    data-cy="account-page">
    <h1 class="page-title">Account</h1>

    <nz-tabset
        [nzSelectedIndex]="currentTab"
        (nzSelectedIndexChange)="setCurrentTab($event)">
        <nz-tab nzTitle="Personal Information">
            <ng-container *ngIf="currentTab === 0">
                <div
                    nz-row
                    nzGutter="30">
                    <div
                        nz-col
                        nzXs="12"
                        nzMd="10"
                        nzLg="9"
                        nzXl="8">
                        <app-account-profile></app-account-profile>

                        <nz-divider></nz-divider>

                        <app-account-email></app-account-email>

                        <nz-divider></nz-divider>

                        <app-account-password></app-account-password>

                        <nz-divider></nz-divider>

                        <app-account-delete></app-account-delete>

                        <nz-divider class="mb-0"></nz-divider>
                    </div>
                </div>
            </ng-container>
        </nz-tab>

        <nz-tab [nzTitle]="paymentMethodNcTab">
            <ng-container *ngIf="currentTab === 1">
                <app-payment-method></app-payment-method>
            </ng-container>
        </nz-tab>

        <nz-tab [nzTitle]="paymentMethodDwollaTab">
            <ng-container *ngIf="currentTab === 2">
                <app-payment-method-dwolla></app-payment-method-dwolla>
            </ng-container>
        </nz-tab>

        <nz-tab nzTitle="Investor Account (NC)">
            <ng-container *ngIf="currentTab === 3">
                <app-account-investor-profile></app-account-investor-profile>
            </ng-container>
        </nz-tab>

        <nz-tab nzTitle="Investor Account (Dwolla)">
            <ng-container *ngIf="currentTab === 4">
                <app-account-investor-profile-dwolla></app-account-investor-profile-dwolla>
            </ng-container>
        </nz-tab>

        <nz-tab nzTitle="Tax Documents">
            <ng-container *ngIf="currentTab === 5">
                <app-tax-documents></app-tax-documents>
            </ng-container>
        </nz-tab>
    </nz-tabset>
</div>

<ng-template #paymentMethodNcTab>
    <div class="payment-method-tab">
        Payments & Payouts (NC)

        <i
            class="icon icon-alert payment-method-tab-icon"
            *ngIf="showAlert$ | async"></i>
    </div>
</ng-template>

<ng-template #paymentMethodDwollaTab>
    <div class="payment-method-tab">Payments & Payouts (Dwolla)</div>
</ng-template>
