{{#> webLayoutHtmlEn }}
    <p>Hey {{ ../referralCodeOwnerFirstName }},</p>
    <p></p>
    <p>Thanks for helping us spread the word. You’re one step closer to earning free shares and other perks we’ll be announcing soon.</p>
    <p></p>
    <p>{{ project }}</p>
{{/webLayoutHtmlEn}}
