{{#> webLayoutTextEn }}
Hey {{ ../referralCodeOwnerFirstName }},

Thanks for helping us spread the word. You’re one step closer to earning free shares and other perks we’ll be announcing soon.

{{ project }}
{{/webLayoutTextEn}}
