<form [formGroup]='state.form' class='baza-password-input'>
    <nz-form-label *ngIf='!! label' [nzRequired]='required' [nzFor]="state.htmlId">{{ label }}</nz-form-label>
    <nz-input-group [nzSuffix]="passwordSuffixTemplate">
        <input [type]='state.isPasswordVisible ? "text" : "password"' nz-input formControlName='value' [id]='state.htmlId' [placeholder]='dynamicPlaceholder'>
    </nz-input-group>
    <ng-template #passwordSuffixTemplate>
        <i nz-icon [nzType]="state.isPasswordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()"></i>
    </ng-template>
</form>
