<nz-empty
    class="not-found__section"
    nzNotFoundContent="Page Not Found"
    [nzNotFoundFooter]="footerTpl"
    [nzNotFoundImage]="imageTpl">
    <ng-template #imageTpl>
        <svg-icon-sprite src="404"></svg-icon-sprite>
    </ng-template>

    <ng-template #footerTpl>
        <p class="empty-state__desc">We can't find the page you are looking for</p>

        <a
            nz-button
            nzType="default"
            [routerLink]="['/']">
            Back to Homepage
        </a>
    </ng-template>
</nz-empty>
