<nz-modal
    [nzTitle]="wts.getI18nLabel(i18nBasePath, 'title')"
    [nzAutofocus]="null"
    [nzClosable]="false"
    [nzFooter]="null"
    [(nzVisible)]="isBankDetailsFormVisible"
    #paymentBankAccountModal>
    <ng-container *nzModalContent>
        <app-payment-header
            [isBackBtnVisible]="false"
            (closeClicked)="handleBankDetailsCancel.emit()"></app-payment-header>

        <app-bank-details
            #bankDetails
            [bankDetailsForm]="bankDetailsForm"></app-bank-details>

        <button
            nz-button
            nzBlock
            nzSize="large"
            nzType="primary"
            [disabled]="bazaFormValidatorService.isFormFilledAndValid(bankDetailsForm)"
            (click)="addBankAccount(paymentBankAccountModal)">
            {{ wts.getI18nLabel(i18nBasePath, 'actions.add') }}
        </button>
    </ng-container>
</nz-modal>
