<div class="container">
    <div class="container-icon">
        <i
            nz-icon
            nzType="link"></i>
    </div>
    <div class="container-link">
        <a
            [href]="trustedUrl"
            target="_blank">
            {{ url }}
        </a>
    </div>
</div>
