{{#>cmsLayoutTextEn}}
    We are sorry to inform the transfer of {{../amount}} USD as dividends to customer {{../customer}} and Dwolla ID {{../customerDwollaId}} failed due to {{../reason}}
{{/cmsLayoutTextEn}}
