<ng-container *ngIf="{ modal: modal$ | async } as data">
    <nz-modal
        data-cy="forgot-password__form"
        nzTitle="Forgot Password?"
        [nzFooter]="null"
        [nzVisible]="data.modal === modalStates.Form"
        (nzOnCancel)="onModalClose()"
        #restorePasswordModalEl>
        <ng-container *nzModalContent>
            <p class="ant-modal__descr">No problem. Enter your email and we'll send you a link to recover your password.</p>

            <form
                class="ant-form-inverse"
                nz-form
                nzLayout="vertical"
                [formGroup]="restorePasswordForm"
                #restorePasswordFormEl>
                <nz-form-item *ngIf="message$ | async as message">
                    <nz-alert
                        data-cy="notification"
                        [nzMessage]="message.text"
                        [nzType]="message.type"></nz-alert>
                </nz-form-item>

                <nz-form-item data-cy="forgot-password__email">
                    <nz-form-label nzFor="email">Email</nz-form-label>

                    <nz-form-control [nzErrorTip]="emailErrorTemplate">
                        <input
                            autofocus
                            formControlName="email"
                            id="email"
                            nz-input
                            type="email" />
                    </nz-form-control>

                    <ng-template
                        #emailErrorTemplate
                        let-control>
                        <span>
                            <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
                            <ng-container *ngIf="control.hasError('email')">Please enter a valid email address</ng-container>
                        </span>
                    </ng-template>
                </nz-form-item>

                <nz-form-item data-cy="forgot-password__submit">
                    <nz-form-control>
                        <button
                            nz-button
                            nzBlock
                            nzSize="large"
                            nzType="primary"
                            [disabled]="bazaFormValidatorService.isFormFilledAndValid(restorePasswordForm)"
                            (click)="onFormSubmit(restorePasswordFormEl, restorePasswordModalEl)">
                            Restore Password
                        </button>
                    </nz-form-control>
                </nz-form-item>

                <div>
                    Back to
                    <a [routerLink]="['', { outlets: { modal: ['auth', 'login'] } }]">Sign In</a>
                </div>
            </form>
        </ng-container>
    </nz-modal>

    <nz-modal
        class="ant-form-inverse"
        data-cy="forgot-password__success"
        nzTitle="Instructions sent!"
        [nzFooter]="null"
        [nzVisible]="data.modal === modalStates.Success"
        (nzOnCancel)="onModalClose()">
        <ng-container *nzModalContent>
            <p class="ant-modal__descr">
                Instructions for resetting your password have been sent to {{ restorePasswordForm.value.email }}.
            </p>

            <p class="ant-modal__descr">You’ll receive this email within 5 minutes. Be sure to check your spam folder, too.</p>
        </ng-container>
    </nz-modal>
</ng-container>
