{{#> cmsLayoutHtmlEn }}
    <p>Hi,</p>
    <p>Please confirm dividends transaction <b>#{{ ../dividendTransactionTitle }}</b>:</p>
    <p>
        <a href='{{ cmsUrl }}/baza-nc/dividends/transactions/{{ ../dividendTransactionUlid }}/?confirm={{ ../dividendConfirmationToken }}'>
            <span>{{ cmsUrl }}/baza-nc/dividends/transactions/{{ ../dividendTransactionUlid }}/?confirm={{ ../dividendConfirmationToken }}</span>
        </a>
    </p>
    <p>If you didn't send a request to process dividend transaction, please change your password and contact your security team immediately!</p>
{{/cmsLayoutHtmlEn}}
