{{#> cmsLayoutTextEn }}
Hi,
Please confirm dividends transaction {{ ../dividendTransactionTitle }}: {{ cmsUrl }}/baza-nc/dividends/transactions/{{ ../dividendTransactionUlid }}/?confirm={{ ../dividendConfirmationToken }}
If you didn't send a request to process dividend transaction, please change your password and contact your security team immediately!
{{/cmsLayoutTextEn}}
