<div class="container container-overflow">
    <h1 class="page-title">Favorites</h1>

    <ng-container *ngIf="(favorites$ | async)?.length; else favoriteEmptyState">
        <div
            nz-row
            [nzGutter]="{ md: 30 }">
            <app-item-card
                nz-col
                class="card-col"
                nzXs="12"
                nzMd="6"
                nzLg="6"
                nzXl="4"
                [item]="favorite"
                *ngFor="let favorite of favorites$ | async"></app-item-card>
        </div>
    </ng-container>

    <ng-template #favoriteEmptyState>
        <nz-empty
            nzNotFoundContent="No favorites"
            nzNotFoundFooter="Like an item to find it later"
            [nzNotFoundImage]="imageTpl">
            <ng-template #imageTpl>
                <svg-icon-sprite src="empty"></svg-icon-sprite>
            </ng-template>
        </nz-empty>
    </ng-template>
</div>
