<div class="container">
    <div
        nz-row
        nzGutter="30"
        nzAlign="middle"
        class="purchase-done">
        <div
            nz-col
            nzXs="12"
            class="purchase-done__section">
            <div class="purchase-done__icon">
                <svg-icon-sprite src="purchase-done"></svg-icon-sprite>
            </div>

            <div class="purchase-done__title">
                {{ wts.getI18nLabel(i18nBasePath, 'title') }}
            </div>

            <p class="purchase-done__descr">
                {{ wts.getI18nLabel(i18nBasePath, 'descr') }}
            </p>

            <p class="purchase-done__descr">
                {{ wts.getI18nLabel(i18nBasePath, 'support.descr') }}

                <a (click)="uts.navigate(purchaseDoneConfig?.ctaLink)">
                    {{ wts.getI18nLabel(i18nBasePath, 'support.linkText') }}
                </a>
            </p>

            <a
                nz-button
                nzSize="large"
                nzType="primary"
                class="purchase-done__btn"
                (click)="uts.navigate(purchaseDoneConfig.buttonLink)">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.proceedToPortfolio') }}
            </a>
        </div>

        <div
            nz-col
            nzXs="12"
            class="purchase-done__summary">
            <app-summary
                [entity$]="cart$"
                [numberOfShares$]="numberOfShares$"
                [purchaseStart$]="purchaseStart$"></app-summary>
        </div>
    </div>
</div>
