<td class="transaction-item__cell transaction-item__cell-date">
    <span>
        {{ transaction.createdAt | date: 'mediumDate' }}
    </span>

    <span class="transaction-item__cell-time">at {{ transaction.createdAt | date: 'shortTime' }}</span>
</td>

<td class="transaction-item__cell transaction-cell-state">
    <svg-icon-sprite
        [classes]="'transaction-cell-state__icon'"
        [src]="transactionStateIcon"></svg-icon-sprite>
</td>

<td class="transaction-item__cell transaction-item__cell-title">
    {{ title }}
</td>

<td class="transaction-item__cell transaction-item__cell-type">
    {{ transaction.type }}
</td>

<td class="transaction-item__cell transaction-item__cell-state">
    <span class="transaction-item__bullet">&bull;</span>

    <span [class]="transactionStateClass">
        {{ transactionState }}
    </span>
</td>

<td
    class="transaction-item__cell transaction-cell-cents"
    [class.transaction-item__cell--border-top-none]="isFirstRow">
    <strong>
        {{ transaction.amountCents / 100 | priceCents }}
    </strong>

    <br />

    <ng-template [ngTemplateOutlet]="actions"></ng-template>
</td>

<td class="transaction-item__cell transaction-cell-actions">
    <ng-template [ngTemplateOutlet]="actions"></ng-template>
</td>

<ng-template #actions>
    <button
        *ngIf="isPaymentReturnedStatus(transaction)"
        nz-button
        nzSize="small"
        nzType="primary"
        type="button"
        class="transaction-cell-actions__button"
        (click)="retryPayment(PAYMENT_SOURCE.NC)">
        Retry Payment (NC)
    </button>
</ng-template>
