@import 'variables/variables';

.transaction-item__cell {
    @media (max-width: @screen-md-max) {
        border: none;
        padding: 0;
    }
}

.transaction-item__cell-date {
    grid-area: date;
    white-space: nowrap;

    @media (max-width: @screen-md-max) {
        color: @normal-color;
    }
}

.transaction-item__cell-state {
    grid-area: status;
    white-space: nowrap;
}

.transaction-item__bullet {
    margin: 0 6px 0 8px;

    @media (min-width: @screen-lg) {
        display: none;
    }
}

.transaction-item__cell-time {
    text-transform: lowercase;
}

.transaction-item__cell-title {
    grid-area: title;

    @media (max-width: @screen-md-max) {
        padding: 8px 0;
        font-size: @font-size-base;
    }
}

.transaction-item__cell-type {
    grid-area: type;
}

.transaction-cell-cents {
    grid-area: amount;
    align-self: center;
    justify-self: end;
    text-align: center;
    padding-left: 48px;

    @media (max-width: @screen-md-max) {
        font-size: @font-size-base;
    }
}

.transaction-cell-cents .transaction-cell-actions__button {
    display: none;
    margin-top: 5px;

    @media (min-width: @screen-lg) {
        display: inline-block;
    }
}

.transaction-cell-state {
    display: none;
    padding: 0px;

    @media (min-width: @screen-lg) {
        display: table-cell;
    }
}

::ng-deep {
    .transaction-cell-state__icon {
        width: 35px;
        height: 35px;
    }
}

.transaction-cell-actions {
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    gap: 0 6px;

    @media (min-width: @screen-lg) {
        display: none;
    }
}

.transaction-cell-actions__button {
    margin-top: 18px;
}
