<div *ngIf="isAddModeOn">
    <div *ngIf="limits$ | async as limits">
        <button
            class="payment-buy-btn payment-buy-btn-inverse"
            [class.payment-buy-btn-bordered]="style === 'Bordered'"
            nz-button
            nzBlock
            [disabled]="isPurchaseAboveLimit"
            (click)="handleAddCard.emit()">
            <div class="payment-buy-btn__icon payment-buy-btn__icon-dwolla">
                <i class="icon icon-card-dwolla"></i>
            </div>

            <div class="payment-buy-btn__title">
                {{ wts.getI18nLabel(i18nBasePath, 'addMode.title') }}

                <div class="payment-buy-btn__fee">
                    {{ limits.creditCardPaymentsFee | numberTwoDigits }}% {{ wts.getI18nLabel(i18nBasePath, 'addMode.feeSuffix') }}
                </div>
            </div>

            <div class="payment-arrow">
                <i class="icon icon-angle-right icon-wt"></i>
            </div>
        </button>

        <p class="payment-buy-btn__desc">
            {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3) }}
        </p>
    </div>
</div>

<div *ngIf="isEditModeOn">
    <div *ngIf="isPurchaseAboveLimit">
        <div *ngIf="limits$ | async as limits">
            <div
                class="payment-buy-section payment-buy-section-disabled payment-buy-section-inverse"
                [class.payment-buy-section-bordered]="style === 'Bordered'">
                <div class="payment-buy-section__icon payment-buy-section__icon-dwolla">
                    <i class="icon icon-card-dwolla"></i>
                </div>

                <div class="payment-buy-section__title">
                    <div>
                        {{ wts.getI18nLabel(i18nBasePath, 'editMode.title') }}
                        {{ srcData?.creditCard.creditCardNumber | lastDigits: 8 }}
                    </div>

                    <div class="payment-buy-section__expiration">
                        {{ wts.getI18nLabel(i18nBasePath, 'editMode.expiring') }}
                        {{ srcData?.creditCard.creditCardExpireMonth | leadingZeroMonth }}/{{ srcData?.creditCard.creditCardExpireYear }}
                    </div>
                </div>

                <div class="payment-arrow">
                    <i class="icon icon-angle-right icon-wt"></i>
                </div>
            </div>

            <p
                class="payment-buy-section__desc"
                [ngClass]="{ 'payment-buy-section__desc-warning': isPurchaseAboveLimit }">
                {{ getPurchaseLimitWarningMsg(limits.maxCreditCardTransferAmountCents / 100 | priceCents | slice: 0:-3) }}
            </p>
        </div>
    </div>

    <div
        class="payment-buy-info"
        *ngIf="!isPurchaseAboveLimit">
        <ul class="payment-info-list">
            <li class="payment-info-list__item">
                <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.number') }}</strong>
                {{ srcData?.creditCard.creditCardNumber | lastDigits }}
            </li>

            <li class="payment-info-list__item">
                <strong>{{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.expiring') }}</strong>
                {{ srcData?.creditCard.creditCardExpireMonth | leadingZeroMonth }}/{{ srcData?.creditCard.creditCardExpireYear }}
            </li>
        </ul>

        <ng-container *ngIf="limits$ | async as limits">
            <div class="payment-buy-info__hint">
                {{ limits.creditCardPaymentsFee | numberTwoDigits }}%
                {{ wts.getI18nLabel(i18nBasePath, 'editMode.cardDetails.feeSuffix') }}
            </div>
        </ng-container>
    </div>
</div>
