<div *ngIf="config?.isAddModeOn">
    <button
        class="balance-btn balance-btn-inverse"
        nz-button
        nzBlock
        [disabled]="config?.isDisabled"
        (click)="accountBalanceClicked.emit()">
        <div class="balance-btn__title">
            {{ wts.getI18nLabel(i18nBasePath, 'title') }}

            <div class="balance-btn__hint">
                {{ wts.getI18nLabel(i18nBasePath, 'hint') }}
            </div>
        </div>

        <div class="payment-arrow">
            <i class="icon icon-angle-right icon-wt"></i>
        </div>
    </button>
    <br />
</div>

<div *ngIf="config?.isEditModeOn">
    <div
        class="balance-section balance-section-inverse"
        [class.balance-section-disabled]="!config?.hasEnoughFunds">
        <div class="balance-section__title">
            {{ wts.getI18nLabel(i18nBasePath, 'title') }}

            <div class="balance-subtitle">
                <span class="balance-subtitle__prefix">
                    {{ wts.getI18nLabel(i18nBasePath, 'prefix') }}
                </span>

                {{ config?.srcData?.value | priceCents }}
            </div>
        </div>

        <div
            class="payment-actions"
            *ngIf="config?.showWithdrawButton || (config?.hasEnoughFunds && config?.showAddFundsButton)">
            <button
                *ngIf="config?.showWithdrawButton"
                nz-button
                nzSize="small"
                type="button"
                [disabled]="config?.isWithdrawDisabled"
                (click)="withdrawClicked.emit()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.withdraw') }}
            </button>

            <button
                *ngIf="config?.hasEnoughFunds && config?.showAddFundsButton"
                nz-button
                nzSize="small"
                type="button"
                [nzType]="config?.hasEnoughFunds ? 'default' : 'primary'"
                (click)="addFundsClicked.emit()">
                {{ wts.getI18nLabel(i18nBasePath, 'actions.addFunds') }}
            </button>
        </div>
    </div>
    <br />
</div>
